<section class="intro">
  <div class="container">
    <div class="content">
      <h1 class="g8 bold">
        Dashboard Feature
      </h1>
      <p class="large">
        Farklı veri kaynaklarından (rest API, Veritabanı) çekilen verilerinizi görsel bileşenlere dönüştürün, Çoklu
        hesap (Multitenancy) desteğinden faydalanarak tek bir dashboard tanımı yapın, tasarladığınız dashbordu herkes
        kendi verisi ile görsün.
      </p>
      <logo-link
        [classes]="'success large get-started'"
        [external]="true"
        [url]="'http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139772'"
      >
        KEŞFET
      </logo-link>
      <img class="img-fluid" src="./assets/images/services/dafs/dafs-intro-illu.png">
    </div>
  </div>
</section>
<section class="usage">
  <div class="container">
    <div class="header">
      <h2>Kullanım Senaryoları</h2>
      <p>Dashboard Servis Özelliğini Nasıl Kullanacağınızı Öğrenin!</p>
    </div>
    <div class="properties">
      <div class="row">
        <div class="left col-xs-12 col-md-6">
          <img class="img-fluid" src="./assets/images/services/dafs/dafs-usage-illu.png">
        </div>
        <div class="right col-xs-12 col-md-6">
          <ul>
            <li>Farklı tiplerde ( Rest API – Veritabanı) veri kaynakları tanımlayın</li>
            <li>Veri kaynağı tanımlarınızı parametrik olarak (kullanıcıya göre, hesaba göre) yapın</li>
            <li>Parametrik filtreler tanımlayın</li>
            <li>Kendi uygulamanız içerisinde tasarladığınız dashboardu gömülü olarak açın</li>
          </ul>
        </div>
      </div>
      <logo-link
        [classes]="'success large get-started'"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139772"
      >
        DETAYLARI GÖRÜNTÜLE
      </logo-link>
    </div>
  </div>
</section>
<section class="specs">
  <div class="container">
    <h1>Özellikler</h1>
    <p>Dashboard servisi özelliklerini yakından tanıyın</p>
    <logo-carousel [arrow]="true" [count]="1" [dots]="true" [itemWidth]="'296px'">
      <div class="slider-item" *ngFor="let item of sliderItems">
        <div
          [ngStyle]="{'-webkit-mask-image': 'url('+item.icon+')', 'mask-image': 'url('+item.icon+')'}"
          class="icon-bg"
        >
        </div>
        <div class="abbr">{{item.abbr}}</div>
        <div class="description">{{item.description}}</div>
      </div>
    </logo-carousel>
  </div>
</section>
<logo-user-review
  imageUrl="./assets/images/reviewers/reviewer-nail.png"
  backgroundUrl="./assets/images/reviewers/green-background.png"
>
</logo-user-review>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
