@import "~@logo-software/theme/base";

:host {
  .intro {
    display: flex;
    min-height: size(800px);
    flex-direction: column;
    background-image: url("/assets/images/services/dafs/dafs-intro-bg.png");
    background-size: cover;
    background-position: center bottom;

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .content {
        position: relative;
        z-index: 2;
        font-family: get("font.alternative");
        max-width: size(727px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-top: size(64px);

        p, h1 {
          color: var(--light);
        }

        h1 {
          font-weight: bold;
          font-size: size(50px);
          line-height: size(67px);
        }

        logo-link {
          padding: size(30px) 0;
        }

        .img-fluid {
          max-width: size(600px);
          width: 100%;
        }
      }
    }
  }

  .usage {
    .container {
      font-family: get("font.alternative");

      .header {
        text-align: center;

        h2 {
          font-weight: bold;
          font-size: size(40px);
          line-height: size(45px);
          color: #707070;
        }

        p {
          font-size: size(20px);
          line-height: size(28px);
          margin-top: 0;
          margin-bottom: size(60px);
          text-align: center;
          font-weight: normal;
          color: #707070;
        }
      }

      .properties {
        display: flex;
        align-items: center;
        flex-direction: column;

        .left {
          display: flex;
          align-items: center;
          justify-content: center;

          .img-fluid {
            width: 80%;
          }
        }

        .right {
          ul {
            list-style: none;
            padding: 0;

            li {
              background: url("/assets/images/services/check-full.svg") no-repeat left top;
              margin: size(25px) 0;
              padding-left: size(75px);
              min-height: 50px;
              display: flex;
              align-items: center;

              h2 {
                font-weight: bold;
                font-size: size(20px);
              }

              p {
                font-size: size(16px);
              }
            }
          }
        }

        logo-link {
          margin: size(50px) 0;
        }
      }

      .dafs-usage-content {
        display: flex;
        justify-content: center;
        align-items: center;

        .left {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .usage-content {
            padding-left: size(113px);

            .usage-card {
              display: flex;
              border-radius: size(11px);

              div {
                display: flex;
                align-items: center;

                img {
                  margin: size(10px);
                }

                img:nth-child(1) {
                  align-self: flex-end;
                }
              }

              div:nth-child(1) {
                justify-content: center;
              }
            }
          }

          logo-link {
            margin-bottom: size(50px);
          }
        }

        .right {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  .specs {
    background: no-repeat url("/assets/images/services/dafs/section-03-bg.png");
    background-size: cover;

    h1 {
      font-size: size(40px);
      line-height: size(45px);
      text-align: center;
      font-weight: bold;
      color: #707070;
    }

    p {
      font-size: size(20px);
      line-height: size(28px);
      margin-top: 0;
      margin-bottom: size(50px);
      text-align: center;
      font-weight: normal;
    }

    logo-carousel {
      padding-bottom: size(170px);

      .slider-item {
        background-color: var(--white);
        box-shadow: 0 size(60px) size(60px) #6e6e6e46;
        border-radius: size(20px);
        box-sizing: border-box;
        backdrop-filter: blur(23px);
        color: #707070;
        padding: size(60px) size(40px);
        margin-right: size(20px);
        display: inline-block;
        vertical-align: top;
        white-space: normal;

        .icon-bg {
          width: size(42px);
          height: size(42px);
          background-color: #6259a7;
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
          margin: 0 auto size(40px) auto;
        }

        .abbr {
          font-size: size(25px);
          font-weight: 600;
          line-height: size(28px);
        }

        .description {
          font-weight: normal;
          font-size: size(20px);
          margin-top: size(20px);
          line-height: size(27px);
        }
      }
    }
  }
}
