@import "~@logo-software/theme/base";

$header-size: size(80px);

:host {
  display: block;

  ul {
    list-style-image: url("/assets/images/services/check-green.svg");

    li {
      margin-top: size(20px);
      padding-left: size(10px);
      font-weight: normal;
      font-size: size(20px);
      line-height: size(27px);

      h2 {
        font-weight: bold;
        font-size: size(20px);
      }

      p {
        font-size: size(16px);
      }

      &:last-child {
        list-style: none;
        margin-top: size(54px);
      }
    }
  }

  section.one {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container {
      display: flex;
      position: relative;
      flex-grow: 1;
      z-index: 1;

      div.title-content {
        position: relative;
        z-index: 2;
        max-width: size(445px);
        width: 100%;
        align-self: center;

        h1.title {
          font-family: get("font.alternative");
          font-weight: bold;
          font-size: size(60px);
          flex-direction: column;
          pointer-events: none;
          color: var(--success);
          letter-spacing: size(-0.75px);
          line-height: size(45px);

          @include smaller-than("md") {
            font-size: size(42px);
          }

          .for {
            color: #5a5a5a;
          }
        }

        p.description {
          margin: size(30px) 0 size(40px) 0;
          font-size: size(20px);
          color: #5a5a5a;
          pointer-events: none;
          font-weight: normal;
          line-height: size(27px);
        }
      }

      div.illustrations {
        background-image: url("/assets/images/services/ss/section-01-illustration.svg");
        background-repeat: no-repeat;
        background-position: left;
        flex-grow: 1;
        margin-left: size(100px);
        background-size: contain;
      }
    }
  }

  section.two {
    padding: 0;

    .row {
      @include smaller-than("md") {
        height: auto;
      }

      .image {
        padding-right: 120px;
        background-image: url(/assets/images/services/ss/section-02-illustration.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        @include smaller-than("md") {
          min-height: size(350px);
        }
      }

      .content {
        color: #5a5a5a;
        flex-direction: column;
        padding: size(100px) size(120px);

        @include smaller-than("sm") {
          padding: size(40px);
        }

        h1 {
          font-family: get("font.alternative");
          font-size: size(40px);
          letter-spacing: size(-1px);
          font-weight: normal;
          line-height: size(45px);

          &::before {
            -webkit-mask-image: url("/assets/images/services/ms/section-02-clipboard.svg");
            mask-image: url("/assets/images/services/ms/section-02-clipboard.svg");
            -webkit-mask-repeat: no-repeat;
            background-color: var(--success);
            content: "";
            width: size(50px);
            height: size(50px);
            display: block;
            margin-bottom: size(24px);
          }
        }

        p {
          font-size: size(30px);
        }
      }
    }
  }

  section.three {
    background: no-repeat url("/assets/images/services/ms/section-04-photo.png") center/cover;
    padding-top: size(72px);
    padding-bottom: size(131px);

    h1 {
      font-weight: bold;
      font-size: size(40px);
      line-height: size(52px);
      text-align: center;
      color: var(--white);
    }

    p {
      font-size: size(20px);
      line-height: size(28px);
      margin-top: 0;
      margin-bottom: size(50px);
      text-align: center;
      font-weight: normal;
      color: var(--white);
    }

    logo-carousel {
      --carousel-dot-bg-selected: var(--white);
      --carousel-arrows-color: var(--white);

      .slider-item {
        background-color: var(--white);
        box-shadow: 0 size(60px) size(60px) #6e6e6e46;
        border-radius: size(20px);
        box-sizing: border-box;
        backdrop-filter: blur(23px);
        color: var(--neutral-800);
        padding: size(30px) size(40px);
        min-width: size(272px);
        width: size(264px);
        margin-right: size(24px);
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        justify-content: flex-start;

        .icon-bg {
          width: size(42px);

          .icon {
            height: size(42px);
            background-color: #008fff;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            margin-bottom: size(20px);
          }
        }

        .abbr {
          font-weight: bold;
          font-size: size(20px);
          text-align: left;
        }

        .title {
          color: #89969f;
          font-size: size(12px);
          font-weight: bold;
          letter-spacing: size(0.2px);
          text-align: left;
        }

        .description {
          margin-top: size(20px);
          font-size: size(16px);
          font-weight: 300;
          text-align: left;
        }
      }
    }
  }
}
