<div class="blog-list-page">
  <logo-hero [containerStatus]="true" [cssClasses]="'hero-blog-list-page'">
    <logo-breadcrumb
      [breadcrumb]="[{name:'Anasayfa', link: '/'}, {name: 'Blog'}]"
      [isLight]="true"
      [size]="'medium'"
    >
    </logo-breadcrumb>
    <div class="content">
      <h1><b>Blog</b></h1>
      <h4>İşletmeniz için en doğru kararları Logo bordro ve insan kaynakları çözümleriyle alın!</h4>
    </div>
  </logo-hero>
  <div class="content-list-base">
    <div class="container">
      <div class="filter-base">
        Filters
      </div>
      <div class="content-list">
        Contents
      </div>
    </div>
  </div>
</div>
<logo-cloud-footer></logo-cloud-footer>
