@import "~@logo-software/theme/base";

:host {
  display: block;

  .container {
    .left {
      padding-top: size(55px);
      padding-bottom: size(55px);
      font-family: get("font.alternative");

      h1 {
        font-weight: bold;
        font-size: size(35px);
        line-height: size(38px);
        color: #707070;
      }

      ul {
        display: grid;
        grid-template-columns: 50% 50%;
        list-style: none;
        padding: 0;

        @include smaller-than(md) {
          grid-template-columns: 100%;
          grid-auto-flow: row;
        }

        li {
          background-position: left center;
          margin: size(15px) 0;
          padding-left: size(30px);
          display: flex;
          flex-direction: column;
          justify-content: center;
          line-height: size(22px);
          font-size: size(20px);
          font-weight: 600;
          color: #707070;
        }

        &.success-li li {
          background: url("/assets/images/services/check-green.svg") no-repeat left top;
        }

        &.primary-li li {
          background: url("/assets/images/services/check-blue.svg") no-repeat left top;
        }
      }
    }

    .right {
      position: relative;

      .background {
        position: absolute;
        background: url("/assets/images/core-services/core-services.png") bottom no-repeat;
        background-size: contain;
        min-height: size(230px);
        width: 100%;
        height: 100%;
      }

      @include smaller-than(md) {
        display: none;
      }
    }
  }
}
