<div class="container" [ngStyle]="{backgroundColor: backgroundColor}">
  <div class="row">
    <div class="col-xs-12 col-md-8 left">
      <h1>Core Servisler</h1>
      <ul [class]="buttonColor + '-li'">
        <li>Bulut Yönetim Servisi</li>
        <li>Ayarlar Servisi</li>
        <li>Yetkilendirme Servisi</li>
        <li>Menü Servis {{buttonColor}}</li>
        <li>Yerelleştirme Servisi</li>
      </ul>
      <logo-link
        classes="{{buttonColor}} large"
        [external]="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65132817"
      >
        TÜMÜNÜ GÖRÜNTÜLE
      </logo-link>
    </div>
    <div class="col-xs-4 right">
      <div class="background"></div>
    </div>
  </div>
</div>

