<div class="row">
  <div class="list col-xs-12 col-md-12 col-lg-6">
    <h1>Core Servisler</h1>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <ul>
          <li>Bulut Yönetim Servisi</li>
          <li>Ayarlar Servisi</li>
          <li>Yetkilendirme Servisi</li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6">
        <ul class="col-xs-12 col-md-12">
          <li>Menü Servis {{theme}}</li>
          <li>Yerelleştirme Servisi</li>
        </ul>
      </div>
    </div>
    <div class="button">
      <logo-link
        classes="{{theme}} large"
        [external]="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65132817"
      >
        TÜMÜNÜ GÖRÜNTÜLE
      </logo-link>
    </div>
  </div>
  <div class="picture col-xs-12 col-md-12 col-lg-6">
    <div class="background"></div>
  </div>
</div>
