.v-checkbox, .v-radiobutton {
  padding-left: 0 !important;
  vertical-align: baseline;
  line-height: normal;

  input {
    @extend %v-checkbox;
  }

  & > input ~ label {
    &::before, &::after {
      display: none !important;
    }
  }

  & > input ~ span, & > input ~ span ~ label {
    @extend %label-medium;
  }

  @each $size, $value in get("size") {
    &.#{$size} {
      input[type=checkbox], input[type=radio] {
        @extend %check-radio-#{$size};
      }

      & > input ~ span, & > input ~ span ~ label {
        @extend %label-#{$size};
      }
    }
  }
}
