.v-filterselect {
  @extend %v-filterselect;
}

.v-filterselect-suggestpopup [class$="suggestmenu"] {
  padding: 0;
  color: get("font.color");
  border: size(1px) solid var(--primary);
  border-radius: size(get("border.radius"));
  box-shadow: get('element.menu.item.box-shadow');

  table {
    @extend %v-contextmenu-popup-gwt;
  }

  /*table {
    .gwt-MenuItem {
      line-height: size(get('element.menu.item.height'));
      height: size(get('element.menu.item.height'));
      border-radius: 0;
      font-size: size(get("size.small.font-size"));
      padding: 0 size(10px);
    }

    .gwt-MenuItem-selected {
      background-color: var(--primary);
      background-image: none;
      text-shadow: none;
      color: var(--white);
    }
  }*/
}
