.v-textfield[class*="prompt"] {
  color: var(#{get("customize.element.input.font.color")});
}

.v-textfield, .v-textarea {
  @extend %input, %extender-size, %extender-color;
  box-shadow: none !important;
}

.v-textfield {
  &.inline-icon {
    padding-left: size(get("size.medium.icon-container") + get("element.input.size.medium.padding"));

    @each $size, $value in get("size") {
      &.#{$size} {
        @extend %size-#{$size};
        padding-left: size(get("size."+$size+".icon-container") + get("element.input.size."+$size+".padding"));
      }
    }
  }
}

.v-textarea {
  height: auto;
  line-height: normal;
}
