.v-textfield, .v-textarea {
  @extend %input, %extender-color;
  box-shadow: none !important;
}

.inline-icon {
  @extend %icon-medium-left;

  @each $size, $value in get("size") {
    &.#{$size} {
      @extend %icon-#{$size}-left;
      @extend %size-#{$size};
    }
  }
}

.v-textarea {
  height: auto;
  line-height: normal;
}
