.v-caption, %v-caption {
  padding-bottom: 0;
  padding-left: 0;
  font-size: size(get("size.medium.font-size"));
  font-family: get("font.family");

  .v-captiontext {
    @extend %label;
    padding-left: 0;
  }

  &.v-caption-inline-icon {
    .v-captiontext {
      @extend %label;
    }

    span.v-icon {
      width: size(get("size.medium.icon-container") - 1px);
      height: size(get("size.medium.height"));
      line-height: size(get("size.medium.height"));
      font-size: size(get("size.medium.font-size"));
      left: 0;
      bottom: 0;
      border-right: size(1px) solid var(get("element.input.border.right-color"));
    }
  }

  @each $size, $value in get("size") {
    &-#{$size} {
      &.v-caption-inline-icon {
        span.v-icon {
          width: size(get("size."+$size+".icon-container") - 1px);
          height: size(get("size."+$size+".height"));
          font-size: size(get("size."+$size+".icon-size"));
          line-height: size(get("size."+$size+".height"));
        }
      }
    }
  }

  @each $size, $value in get("vaadin.size-map") {
    &-#{$size} {
      &.v-caption-inline-icon {
        span.v-icon {
          width: size(get("size."+$value+".icon-container") - 1px);
          height: size(get("size."+$value+".height"));
          font-size: size(get("size."+$value+".icon-size"));
          line-height: size(get("size."+$value+".height"));
        }
      }
    }
  }
}
