@import "~@logo-software/theme/base";

:host {
  @include larger-than(lg) {
    .intro {
      display: flex;
      height: size(750px);

      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .title-content {
          padding: size(30px);

          p.g6 {
            color: var(--primary);
          }
        }
      }

      div:nth-child(2) {
        position: relative;

        img {
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .usage {
      background: no-repeat url("/assets/images/services/mss/mss-rv-bg.png");
      background-size: cover;

      h1 {
        color: var(--white);
        font-size: size(45px);
        font-weight: lighter;
        text-align: center;
      }

      p {
        color: var(--white);
        font-size: size(20px);
        text-align: center;
        margin-bottom: 50px;
      }

      logo-carousel {
        .slider-item {
          background-color: var(--white);
          box-shadow: 0 size(60px) size(60px) #6e6e6e46;
          border-radius: size(20px);
          box-sizing: border-box;
          backdrop-filter: blur(23px);
          color: var(--neutral-800);
          padding: size(30px) size(44px);
          min-width: size(264px);
          width: size(264px);
          margin-right: size(24px);
          display: inline-block;
          vertical-align: top;
          white-space: normal;
          justify-content: flex-start;

          .icon-bg {
            width: size(42px);

            .icon {
              height: size(42px);
              background-color: #008fff;
              mask-size: contain;
              mask-repeat: no-repeat;
              mask-position: center;
              margin-bottom: size(20px);
            }
          }

          .abbr {
            font-weight: bold;
            font-size: size(20px);
          }

          .title {
            color: #89969f;
            font-size: size(12px);
            font-weight: bold;
            letter-spacing: size(0.2px);
          }

          .description {
            margin-top: size(20px);
            font-size: size(16px);
            font-weight: 300;
          }

          .go {
            display: block;

            .detail {
              font-size: size(12px);
              margin-top: size(20px);
            }
          }
        }

        ::ng-deep {
          .arrow-with-animation .slider-arrow {
            color: var(--white);

            --active: var(--white);
            --border: rgba(255, 255, 255, 0.12);
          }

          .dots {
            .dot {
              border-color: #ffffff;

              &::after {
                background-color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
    }

    .specs {
      display: flex;
      height: 100vh;

      .left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .usage-content {
          h2 {
            margin-top: size(15px);
          }

          .usage-head {
            display: flex;
          }

          .usage-card {
            display: flex;
            border-radius: size(11px);

            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: baseline;


              img:nth-child(1) {
                align-self: flex-end;
              }
            }

            div:nth-child(1) {
              justify-content: center;
            }
          }
        }
      }

      .right {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          top: size(-3px);
          left: 0;
        }
      }
    }

    .specs-2 {
      display: flex;
      height: 100vh;

      .left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .usage-content {
          h2 {
            margin-top: size(15px);
          }

          .usage-head {
            display: flex;
          }

          .usage-card {
            display: flex;
            border-radius: size(11px);

            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: baseline;

              img {
                margin: size(45px) 0 size(45px) 0;
              }

              img:nth-child(1) {
                align-self: flex-end;
                transform: scale(0.75);
              }
            }

            div:nth-child(1) {
              justify-content: center;
            }
          }
        }
      }

      .right {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  @include smaller-than(lg) {
    .intro {
      display: flex;
      height: size(750px);

      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .title-content {
          padding: size(30px);

          p.g6 {
            font-size: size(45px);
            color: var(--primary);
          }

          p.g8 {
            font-size: size(34px);
          }
        }
      }

      div:nth-child(2) {
        position: relative;
        display: none;

        img {
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .usage {
      background: no-repeat url("/assets/images/services/rcfs/rcfs-specs-bg-2.png");
      background-size: cover;

      h1 {
        color: var(--white);
        font-size: size(45px);
        font-weight: lighter;
        text-align: center;
      }

      p {
        color: var(--white);
        font-size: size(20px);
        text-align: center;
        margin-bottom: 50px;
      }

      logo-carousel {
        .slider-item {
          box-shadow: 0 size(60px) size(60px) #6e6e6e46;
          border-radius: size(20px);
          box-sizing: border-box;
          backdrop-filter: blur(23px);
          color: var(--neutral-800);
          padding: size(30px) size(44px);
          min-width: size(264px);
          width: size(264px);
          margin-right: size(24px);
          display: inline-block;
          vertical-align: top;
          white-space: normal;
          justify-content: flex-start;

          .icon {
            height: size(42px);
          }

          .abbr {
            font-weight: bold;
            font-size: size(40px);
          }

          .title {
            color: #89969f;
            font-size: size(12px);
            font-weight: bold;
            letter-spacing: size(0.2px);
          }

          .description {
            margin-top: size(20px);
            font-size: size(16px);
            font-weight: 300;
          }

          .detail {
            font-size: size(12px);
            margin-top: size(20px);
          }
        }

        ::ng-deep {
          .arrow-with-animation .slider-arrow {
            color: var(--white);

            --active: var(--white);
            --border: rgba(255, 255, 255, 0.12);
          }

          .dots {
            .dot {
              border-color: #ffffff;

              &::after {
                background-color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
    }

    .specs {
      display: flex;

      .left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .usage-content {
          h2 {
            margin-top: size(15px);
          }

          .usage-head {
            display: flex;
          }

          .usage-card {
            display: flex;
            border-radius: size(11px);
            padding: size(15px);

            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: baseline;

              img {
                margin: size(45px) 0 size(45px) 0;
              }

              img:nth-child(1) {
                align-self: flex-end;
                transform: scale(0.75);
              }
            }

            div:nth-child(1) {
              justify-content: center;
            }
          }
        }
      }

      .right {
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          top: size(-3px);
          left: 0;
        }
      }
    }

    .specs-2 {
      display: flex;

      .left {
        position: relative;
        justify-content: center;
        align-items: center;

        .usage-content {
          h2 {
            margin-top: size(15px);
          }

          .usage-head {
            display: flex;
            justify-content: center;
          }

          .usage-card {
            display: flex;
            border-radius: size(11px);
            padding: size(15px);

            div {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: baseline;


              img:nth-child(1) {
                align-self: flex-end;
                transform: scale(0.75);
              }
            }

            div:nth-child(1) {
              justify-content: center;
            }
          }
        }
      }

      .right {
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}
