<logo-header></logo-header>
<div class="intro">
  <div class="col-md-5">
    <div class="title-content">
      <p class="g8 bold">Hızlı, kayıpsız,
        sorgulanabilir</p>
      <p class="g6 bold">Mesaj Sistemi</p>
      <p class="large">
        Mesaj Kayıt Servisi ile Logo PaaS platformu içerisinde kayıtlı olan mikroservis veya uygulamalarınızın
        birbirleri ile haberleşmesini sağlayın. Mikroservisler arası yapılan mesajların hızlı, kayıpsız ve geriye
        yönelik sorgulanabilir şekilde iletilmesi sağlayın.
      </p>
      <logo-link
        [classes]="['primary', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139644"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="col-md-7">
    <img src="./assets/images/services/mss/mss-intro.svg">
  </div>
</div>
<div class="usage">
  <h1 class="bold">Kullanım senaryoları</h1>
  <h4 class="bold">IDM servisi, kullanıcı arayüzü veya API uçları ile uygulamanıza entegre edilebilir. </h4>
  <div class="card-wrapper">
    <div class="usage-card col-md-3">
      <img src="./assets/images/services/mss/mss-usage-icon-1.svg">
      <h3 class="bold">
        Mesaj kategorileri
      </h3>
      <h4>
        Mesaj kategorilerine erişin.
      </h4>
    </div>
    <div class="usage-card col-md-3">
      <img src="./assets/images/services/mss/mss-usage-icon-2.svg">
      <h3 class="bold">
        Tanımlama düzenleme
      </h3>
      <h4>
        Mesaj kategorisi tanımlayın ve düzenleyin.
      </h4>
    </div>
    <div class="usage-card col-md-3">
      <img src="./assets/images/services/mss/mss-usage-icon-3.svg">
      <h3 class="bold">
        Mesajlara erişim
      </h3>
      <h4>
        Geçmiş mesajlara ve içeriklerine erişin.
      </h4>
    </div>
    <div class="usage-card col-md-3">
      <img src="./assets/images/services/mss/mss-usage-icon-4.svg">
      <h3 class="bold">
        Mesaj kategorileri
      </h3>
      <h4>
        Mesaj kategorilerine erişin.
      </h4>
    </div>
  </div>
  <logo-link
    [classes]="['secondary', 'large', 'get-started']"
    external="true"
    url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139644"
  >
    DETAYLARI GÖRÜNTÜLE
  </logo-link>
  <img class="bg" src="./assets/images/services/mss/mss-usage-bg.png">
</div>
<div class="specs">
  <div class="right col-md-6 col-sm-12">
    <img src="./assets/images/services/mss/mss-specs-bg-1.svg">
  </div>
  <div class="left col-md-6 col-sm-12">
    <div class="usage-content">
      <div class="usage-head">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h2 class="g8 bold">
            Özellikler
          </h2>
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/mss/mss-specs-check.svg">
        </div>
        <div class="col-md-8 col-sm-12">
          <h2 class="bold">
            Publish-Subscribe model mesajlaşma desteği
          </h2>
          <p class="large">
            Servis versiyonlarına kolayca erişin.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/mss/mss-specs-check.svg">
        </div>
        <div class="col-md-8 col-sm-12">
          <h2 class="bold">
            Apache Kafka desteği
          </h2>
          <p class="large">
            Apache Kafka üzerinde kurulmuş olan Mesaj Kayıt Servisi ile Kafka üzerindeki tüm kategorilere abone olarak
            ve servislerarası haberleşmeden haberdar olun.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/mss/mss-specs-check.svg">
        </div>
        <div class="col-md-8 col-sm-12">
          <h2 class="bold">
            Swagger UI desteği
          </h2>
          <p class="large">
            Mesaj Kayıt servisini sahip olduğu swagger UI üzerinden veya Mesaj Kayıt Servisi client paketi sayesinde
            servisinize kolayca entegre edin ve kullanın.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="specs-2">
  <div class="left col-md-6 col-sm-12">
    <div class="usage-content">
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/mss/mss-specs-check.svg">
        </div>
        <div class="col-md-8 col-sm-12">
          <h2 class="bold">
            Mongo DB desteği
          </h2>
          <p class="large">
            Servisinize özel topic’lerinizi Mongo DB’de depolayın ve hızlıca erişin.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/mss/mss-specs-check.svg">
        </div>
        <div class="col-md-8 col-sm-12">
          <h2 class="bold">
            Şema desteği
          </h2>
          <p class="large">
            Mesaj payload’larınızı belirlenen standartlara göre şemalayın ve uzantınızın doğrulamasını kolayca yapın.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="right col-md-6 col-sm-12">
    <img src="./assets/images/services/mss/mss-specs-bg-2.svg">
  </div>
</div>
<logo-user-review imageUrl="./assets/images/services/mss/mss-rv-user.png"
                  backgroundUrl="./assets/images/services/mss/mss-rv-bg.png">
</logo-user-review>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
