<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1>Logo Elements Icons</h1>
      <p>
        This library uses for add icons to Logo Elements Design Guide based web and mobile applications. Our icons is
        depends on the *Streamline Icons* paid version.
        For usage, just download and import `scss` to your project main `style.scss` is enough. It so easy to use.
      </p>
      <h3>License</h3>
      <p>
        Our licence placed at [License](http://design.logo.com.tr/assets/guideline/icon/license.pdf) file. Please click
        and read for usage details.
      </p>
      <h3>Installation</h3>
      <p>
        There are several ways to install Logo Icons to the project. For more detail please visit: [Icons
        Module](http://design.logo.com.tr/#/docs/components/icons-module#iconsmodule)
      </p>
    </div>
    <logo-icons-sample class="col-xs-12 col-sm-6"></logo-icons-sample>
  </div>
</div>
