<logo-card [cssClasses]="'solution-item'">
  <div class="card-title">
    <h3>Product Name</h3>
  </div>
  <div class="card-desc">
    <p class="large">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      classical Latin literature from 45 BC, making it over 2000 years old.
    </p>
  </div>
  <div class="card-cta">
    <logo-link [classes]="'primary icon-left large le-search'">Explore</logo-link>
  </div>
</logo-card>
<span class="sep"></span>
<logo-card [cssClasses]="'solution-item'" [shadowStyle]="'all'">
  <div class="card-title">
    <h3>Shadow All Card</h3>
  </div>
  <div class="card-desc">
    <p class="large">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      classical Latin literature from 45 BC, making it over 2000 years old.
    </p>
  </div>
  <div class="card-cta">
    <logo-link [classes]="'primary icon-left large le-search'">Explore</logo-link>
  </div>
</logo-card>
<span class="sep"></span>
<logo-card [cssClasses]="'solution-item'" [shadowStyle]="'up'">
  <div class="card-title">
    <h3>Shadow Up Card</h3>
  </div>
  <div class="card-desc">
    <p class="large">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      classical Latin literature from 45 BC, making it over 2000 years old.
    </p>
  </div>
  <div class="card-cta">
    <logo-link [classes]="'primary icon-left large le-search'">Explore</logo-link>
  </div>
</logo-card>
<span class="sep"></span>
<logo-card [cssClasses]="'solution-item'" [shadowStyle]="'down'">
  <div class="card-title">
    <h3>Shadow Down Card</h3>
  </div>
  <div class="card-desc">
    <p class="large">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      classical Latin literature from 45 BC, making it over 2000 years old.
    </p>
  </div>
  <div class="card-cta">
    <logo-link [classes]="'primary icon-left large le-search'">Explore</logo-link>
  </div>
</logo-card>
<span class="sep"></span>
<logo-card [cssClasses]="'solution-item'" [shadowStyle]="'left'">
  <div class="card-title">
    <h3>Shadow Left Card</h3>
  </div>
  <div class="card-desc">
    <p class="large">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      classical Latin literature from 45 BC, making it over 2000 years old.
    </p>
  </div>
  <div class="card-cta">
    <logo-link [classes]="'primary icon-left large le-search'">Explore</logo-link>
  </div>
</logo-card>
<span class="sep"></span>
<logo-card [cssClasses]="'solution-item'" [shadowStyle]="'right'">
  <div class="card-title">
    <h3>Shadow Right Card</h3>
  </div>
  <div class="card-desc">
    <p class="large">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      classical Latin literature from 45 BC, making it over 2000 years old.
    </p>
  </div>
  <div class="card-cta">
    <logo-link [classes]="'primary icon-left large le-search'">Explore</logo-link>
  </div>
</logo-card>
<span class="sep"></span>
<logo-card [cssClasses]="'solution-item'" [shadowStyle]="'none'">
  <div class="card-title">
    <h3>No Shadow Card</h3>
  </div>
  <div class="card-desc">
    <p class="large">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
      classical Latin literature from 45 BC, making it over 2000 years old.
    </p>
  </div>
  <div class="card-cta">
    <logo-link [classes]="'primary icon-left large le-search'">Explore</logo-link>
  </div>
</logo-card>
