<div class="logo-emutabakat">
  <logo-header
    [containerStatus]="true"
    [defaultTheme]="headerTheme.START"
    [isMobilized]="true"
    [menuPosition]="'center'"
    [scrollPoint]="15"
    [scrollSpy]="true"
    [scrolledTheme]="headerTheme.SCROLL"
    [watchElement]="'body'"
    [hasCustomLogo]="true"
  >
    <ng-container logo>
      <h1><b>e-Mutabakat</b></h1>
    </ng-container>
    <ng-container cta>
      <a href="https://e-mutabakat.logo.com.tr/Account/Login" class="primary outline large">
        Giriş Yap
      </a>
      <a href="https://e-mutabakat.logo.com.tr/Account/Register" class="success large">
        Üye Ol
      </a>
    </ng-container>
  </logo-header>
  <div class="site-content">
    <router-outlet></router-outlet>
  </div>
</div>
