@import "~@logo-software/theme/base";

$header-size: size(80px);
:host {
  display: block;

  #particles {
    position: absolute !important;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  section.one {
    div.title-content {
      position: relative;
      z-index: 1;
      max-width: size(450px);
      display: flex;
      align-items: flex-start;
      flex-direction: column;

      h1.title {
        font-family: get("font.alternative");
        font-weight: 800;
        color: var(--dark-500);
        flex-direction: column;
        pointer-events: none;

        .for {
          color: var(--info-200);
        }
      }

      p.description {
        margin: size(25px) 0 size(40px) 0;
        font-size: size(20px);
        color: var(--dark-400);
        pointer-events: none;
      }
    }

    div.things {
      z-index: 0;

      .rectangles {
        position: absolute;
        top: size(124px);
        left: 25%;
        width: size(133px);
        height: size(89px);
        background: url("/assets/images/section-01-rectangles.svg") no-repeat;
      }

      .clouds {
        position: absolute;
        top: size(112px);
        left: 44%;
        width: size(224px);
        height: size(134px);
        background: url("/assets/images/section-01-clouds.svg") no-repeat;

        @include smaller-than(md) {
          display: none;
        }
      }

      .planets {
        position: absolute;
        top: size(85px);
        left: 80%;
        width: size(145px);
        height: size(142px);
        background: url("/assets/images/section-01-planets.svg") no-repeat;
      }

      .perspective {
        position: absolute;
        right: size(30px);
        bottom: 0;
        width: size(734px);
        height: size(615px);
        z-index: 1;

        @include smaller-than(lg) {
          transform: scale(0.7) translateX(25%) translateY(21%);
        }

        @include smaller-than(sm) {
          transform: scale(0.4) translateX(80%) translateY(75%);
        }

        logo-perspective {
          position: relative;

          .art-bg-01 {
            position: absolute;
            background: url("/assets/images/home/section-01/art-bg-02.svg") center bottom no-repeat;
            width: 100%;
            height: 100%;
          }

          .art-bg-02 {
            position: absolute;
            background: url("/assets/images/home/section-01/art-bg-01.svg") center bottom no-repeat;
            width: 100%;
            height: 100%;
            transform: translateZ(20px);
          }

          .dotted-line {
            position: absolute;
            background: url("/assets/images/home/section-01/dotted-line.svg") center bottom no-repeat;
            background-size: contain;
            width: 100%;
            height: 100%;
            transform: translateZ(80px) scale(0.8);
          }

          .mail {
            position: absolute;
            background: url("/assets/images/home/section-01/mail.svg") center bottom no-repeat;
            background-size: contain;
            width: size(70px);
            height: size(70px);
            transform: translateZ(80px) scale(0.8);
            left: size(110px);
            top: size(108px);
          }

          .mobile {
            position: absolute;
            background: url("/assets/images/home/section-01/mobile.svg") no-repeat;
            background-size: contain;
            width: size(310px);
            height: size(504px);
            transform: translateZ(90px) scale(0.7);
          }

          .human-01 {
            position: absolute;
            background: url("/assets/images/home/section-01/human-01.svg") center bottom no-repeat;
            background-size: contain;
            width: size(159px);
            height: size(365px);
            transform: translateZ(231px) scale(0.70);
            bottom: size(40px);
            left: size(182px);
            // filter: drop-shadow(0 0 size(10px) rgba(var(--info-300-rgb), 0.5));
            &::before {
              content: '';
              position: absolute;
              bottom: size(-10px);
              left: size(-25px);
              height: size(20px);
              width: size(150px);
              background: rgba(var(--info-400-rgb), 0.08);
              border-radius: 100%;
            }
          }

          .human-02 {
            position: absolute;
            background: url("/assets/images/home/section-01/human-02.svg") center bottom no-repeat;
            background-size: contain;
            width: size(153px);
            height: size(367px);
            transform: translateZ(230px) scale(0.70);
            bottom: size(40px);
            left: size(285px);
            // filter: drop-shadow(0 0 size(10px) rgba(var(--dark-600-rgb), 0));

            &::before {
              content: '';
              position: absolute;
              bottom: size(-5px);
              left: size(60px);
              height: size(10px);
              width: size(100px);
              background: rgba(var(--info-400-rgb), 0.08);
              border-radius: 100%;
            }

            &::after {
              content: '';
              position: absolute;
              bottom: size(-10px);
              left: size(30px);
              height: size(20px);
              width: size(350px);
              background: rgba(var(--info-400-rgb), 0.08);
              border-radius: 100%;
            }
          }

          .human-03 {
            position: absolute;
            background: url("/assets/images/home/section-01/human-03.svg") center bottom no-repeat;
            background-size: contain;
            width: size(216px);
            height: size(395px);
            transform: translateZ(180px) scale(0.75);
            bottom: size(25px);
            left: size(410px);
            // filter: drop-shadow(0 0 size(5px) rgba(var(--dark-300-rgb), 0.5));
          }

          .plant-01 {
            position: absolute;
            background: url("/assets/images/home/section-01/plant-01.svg") center bottom no-repeat;
            background-size: contain;
            width: size(100px);
            height: size(62px);
            transform: translateZ(245px) scale(0.75);
            bottom: size(92px);
            left: size(135px);
            // filter: drop-shadow(0 0 size(10px) rgba(var(--success-500-rgb), 0.5));
          }

          .plant-02 {
            position: absolute;
            background: url("/assets/images/home/section-01/plant-02.svg") center bottom no-repeat;
            background-size: contain;
            width: size(100px);
            height: size(62px);
            transform: translateZ(145px) scale(0.9);
            bottom: size(57px);
            right: size(100px);
            // filter: drop-shadow(0px 0 size(10px) rgba(var(--success-500-rgb), 0.5));
          }

          .bottom {
            position: absolute;
            bottom: 15px;
            height: 20px;
            width: 100%;
            // background: rgba(var(--info-400-rgb), 0.1);
            border-radius: 100%;
            transform: translateZ(80px) scale(0.7);
          }

          .text {
            position: absolute;
            bottom: 25px;
            left: 30px;
            color: white;
            transform: translateZ(90px) scale(0.94);
            font-family: "Quicksand", sans-serif;
            text-shadow: 2px 2px 20px #333;

            p {
              cursor: default;
              padding: 0;
              margin: 0;

              &:first-of-type {
                font-size: 2em;
                margin: 35px;
                font-weight: 500;
              }

              &:last-of-type {
                font-size: 1em;
                font-weight: 400;
                margin: 15px 0 35px 35px;
              }
            }
          }
        }
      }
    }
  }

  section.two {
    align-items: center;
    background-color: #f7f7f7;

    .background-image {
      width: size(285px);
      height: size(300px);
      background: transparent url("/assets/images/home/section-02/chip.svg") 0 0 no-repeat padding-box;
    }

    h2, h5, p {
      font-family: get("font.alternative");
      color: var(--dark-500);
      text-align: center;
      margin: 0;
    }

    h2 {
      padding: size(60px) 0 size(40px) 0;
      font-size: size(60px);
      font-weight: bold;
      line-height: size(65px);
      max-width: size(600px);
    }

    h5 {
      font-size: size(40px);
      font-weight: normal;
      line-height: size(57px);
      padding-bottom: size(18px);
    }

    p {
      font-size: size(20px);
      font-weight: 300;
      margin-bottom: size(40px);
    }

    span.extra-small {
      // font-size: size(16px);
      max-width: size(700px);
      display: inline-block;
    }
  }

  section.three {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    padding: 0;
    overflow: hidden;

    h1 {
      color: #1291BF;
      font-size: size(78px);
      font-weight: lighter;
      margin-bottom: 50px;
    }

    logo-carousel {
      padding: 0 size(100px);

      .slider-item {
        box-shadow: 0 60px 60px #6e6e6e46;
        // background-color: #ffffff;
        border-radius: 20px;
        box-sizing: border-box;
        backdrop-filter: blur(23px);
        color: #646464;
        padding: 30px 44px;
        min-width: 264px;
        width: 264px;
        margin-right: 24px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        justify-content: flex-start;

        .icon {
          height: 42px;
        }

        .abbr {
          font-weight: bold;
          font-size: 40px;
        }

        .title {
          color: #89969F;
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.2px;
        }

        .description {
          margin-top: 20px;
          font-size: 16px;
          font-weight: 300;
        }

        .detail {
          font-size: size(12px);
          margin-top: size(20px);
        }
      }
    }

    div.backgrounds {
      background: url("/assets/images/home/section-03/horizontal-line.svg") right 0 top 0 repeat-x;

      @mixin circle($width, $height, $bg-color) {
        position: absolute;
        overflow: hidden;
        width: $width;
        height: $height;
        mix-blend-mode: multiply;
        z-index: -1;

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: $width;
          bottom: 0;
          right: 0;
          background-color: $bg-color;
          border-radius: 50%;
        }
      }
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;

      .background-yellow {
        @include circle($width: size(465px), $height: size(326px), $bg-color: #ffe200);
        right: 18%;
        top: 0;
      }

      .background-green {
        @include circle($width: size(235px), $height: size(138px), $bg-color: #3abf7c);
        left: 17%;
        top: 0;
      }

      .background-dark-blue {
        @include circle($width: size(204px), $height: size(219px), $bg-color: #1291bf);
        left: -2%;
        bottom: size(-30px);
      }

      .background-light-blue {
        @include circle($width: size(128px), $height: size(128px), $bg-color: #0090ff);
        right: size(247px);
        bottom: size(-30px);
        mix-blend-mode: multiply;
      }

      .shapes {
        opacity: 32%;

        .circle {
          position: absolute;
          width: size(26px);
          left: 4%;
          top: size(22px);
          height: size(26px);
          border-radius: 50%;
          border: size(3px) solid #b4b4b4;
          box-sizing: border-box;
        }

        .circle-bg {
          position: absolute;
          width: size(26px);
          left: size(55px);
          mix-blend-mode: multiply;
          top: size(22px);
          height: size(26px);
          border-radius: 50%;
          border: size(3px) solid #b4b4b4;
          box-sizing: border-box;
        }

        .square {
          position: absolute;
          width: size(11px);
          height: size(11px);
          left: 11%;
          top: size(50px);
          transform: rotate(45deg);
          border: size(3px) solid #0090ff;
          box-sizing: border-box;
        }

        .plus {
          position: absolute;
          left: size(213px);
          top: size(15px);
          display: flex;
          align-items: center;
          justify-content: center;
          width: size(16px);
          height: size(16px);

          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: size(3px);
            background-color: #ffe200;
          }

          &::after {
            position: absolute;
            content: '';
            width: size(3px);
            height: 100%;
            background-color: #ffe200;
          }
        }

        .cross {
          position: absolute;
          left: size(550px);
          top: size(35px);
          display: flex;
          align-items: center;
          justify-content: center;
          width: size(32px);
          height: size(32px);
          transform: rotate(45deg);

          &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: size(3px);
            background-color: #1291bf;
          }

          &::after {
            position: absolute;
            content: '';
            width: size(3px);
            height: 100%;
            background-color: #1291bf;
          }
        }

        .three-angle {
          position: absolute;
          width: size(23px);
          height: size(26px);
          transform: rotate(-14deg);
          right: size(148px);
          top: size(50px);
          background: url("/assets/images/home/section-03/tree-angle.svg") center no-repeat;
        }

        .circle-right {
          position: absolute;
          width: size(21px);
          height: size(21px);
          right: size(67px);
          top: size(60px);
          border-radius: 50%;
          border: size(3px) solid #b3d7ff;
          box-sizing: border-box;
        }
      }
    }
  }

  section.four {
    $bg-color: #1291BF6B; // #1291BF6B
    $bg-circle: rgba(255, 255, 255, 0.5); // rgba(255, 255, 255, 0.5);
    background: $bg-color url("/assets/images/section-01-horizontal-line.svg") right 0 top 0 repeat-x;
    padding: 0;

    div.backgrounds {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      margin-top: -50%;
      display: flex;
      justify-content: center;

      div.circle-01 {
        position: relative;
        z-index: 0;
        background-color: $bg-circle;
        box-shadow: 0 0 size(30px) $bg-color;
        border-radius: 50%;
        width: size(1100px);
        min-width: size(1100px);
        height: size(1100px);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      div.circle-02 {
        position: relative;
        z-index: 0;
        background-color: $bg-circle;
        box-shadow: 0 0 size(30px) $bg-color;
        border-radius: 50%;
        width: size(800px);
        min-width: size(800px);
        height: size(800px);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      div.circle-03 {
        position: relative;
        z-index: 0;
        background-color: $bg-circle;
        box-shadow: 0 0 size(30px) $bg-color;
        border-radius: 50%;
        width: size(500px);
        min-width: size(500px);
        height: size(500px);
        display: flex;
        align-items: center;
        justify-content: center;

        div.circle-description {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          h2 {
            font-family: get("font.alternative");
            color: #000000;
            font-size: size(40px);
            font-weight: bold;
          }

          p, span {
            color: #4d4d4d;
            font-weight: 100;
            line-height: normal;
            margin: 0;
          }

          p {
            font-size: size(18px);
          }

          span {
            margin-top: size(5px);
            font-size: size(14px);
          }

          button {
            border-radius: size(3px);
            margin-top: size(30px);
          }
        }
      }
    }

    .companies {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px);
      bottom: 0;
      min-height: size(200px);

      .company {
        flex-direction: column;
        padding: 0 size(47px);
        margin-top: size(50px);
        margin-bottom: size(50px);

        .image {
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: size(30px);
          margin-bottom: size(15px);
          filter: brightness(0) contrast(0.4);
          opacity: 0.9;
        }

        .description {
          font-size: size(16px);
          font-weight: lighter;
        }
      }
    }
  }
}
