<section class="one">
  <div id="particles"></div>
  <div class="title-content">
    <h1 class="title"><span class="for">Şirketler için</span> PaaS</h1>
    <p class="description">
      Logo Bulut Uygulama Geliştirme Platformu, web tabanlı ve çoklu-kiracılı (multi-tenant) iş Uygulamaları geliştirme
      platformudur. Platform, hazır sunduğu ürün ve servisler ile uygulama geliştirme süresini ve maliyetlerini
      azaltmaya imkan sağlar.
    </p>
    <logo-link
      [classes]="['primary', 'large', 'get-started']"
      external="true"
      url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65132817"
    >
      KEŞFET
    </logo-link>
  </div>
  <div class="icons">
    <div class="relieved-smiley icon"><i></i></div>
  </div>
  <div class="things">
    <div class="perspective">
      <logo-perspective
        [threshold]="150"
        [xDegree]="3"
        [yDegree]="3"
        [sensitivity]="50"
        [rotateX]="false"
        [rotateY]="true"
      >
        <div class="art-bg-01"></div>
        <div class="art-bg-02"></div>
        <div class="dotted-line"></div>
        <div class="mail"></div>
        <div class="mobile"></div>
        <div class="human-01"></div>
        <div class="human-02"></div>
        <div class="human-03"></div>
        <div class="plant-01"></div>
        <div class="plant-02"></div>
        <div class="bottom"></div>
      </logo-perspective>
    </div>

    <div class="rectangles">
      <div class="rect-01"></div>
      <div class="rect-02"></div>
    </div>
    <div class="clouds"></div>
    <div class="planets">
      <div class="planet-01"></div>
      <div class="planet-02"></div>
    </div>
  </div>
</section>
<section class="two light-600">
  <div class=" background-image"></div>
  <h2>Hazır Çözüm, Hızlı Entegrasyon</h2>
  <h5>Güvenilir. Hızlı. İnovatif.</h5>
  <p>
    <!--span>Ürünlerinizi dünyanın önde gelen dijital ürün tasarım platformuyla dönüştürün.</span><br/-->
    <span class="extra-small">Uluslararası standartlarda, modern teknolojilere uyumlu geliştirilmiş ürün ve servisler, yeni nesil mikro-servisler ile düşük maliyet, yüksek erişilebilirlik ve ölçelenebilirlik.</span>
  </p>
</section>
<section class="three" id="services">
  <h1>Servisler</h1>
  <logo-carousel [count]="1" [arrow]="true" [dots]="true">
    <div class="slider-item" *ngFor="let item of sliderItems">
      <img class="icon" src="{{item.icon}}" title="{{item.title}}" alt="{{item.title}}"/>
      <div class="abbr">{{item.abbr}}</div>
      <div class="title">{{item.title}}</div>
      <div class="description">{{item.description}}</div>
      <a routerLink="{{item.link}}" class="detail">detay →</a>
    </div>
  </logo-carousel>
  <div class="backgrounds">
    <div class="background-green"></div>
    <div class="background-yellow"></div>
    <div class="background-dark-blue"></div>
    <div class="background-light-blue"></div>
    <div class="shapes">
      <div class="circle"></div>
      <div class="square"></div>
      <div class="square"></div>
      <div class="plus"></div>
      <div class="plus plus-bg"></div>
      <div class="cross"></div>
      <div class="cross cross-bg"></div>
      <div class="three-angle"></div>
      <div class="three-angle three-angle-bg"></div>
      <div class="circle-right"></div>
      <div class="circle-right circle-right-bg"></div>
    </div>
  </div>
</section>
<section class="four">
  <div class="backgrounds">
    <div class="circle-01">
      <div class="circle-02">
        <div class="circle-03">
          <div class="circle-description">
            <h2>Kimler Kullanıyor?</h2>
            <p>Bizi tercih ettiler! Ölçeklenebilir, hızlı ve güvenlir...</p>
            <span>Logo güvencesiyle uygulama geliştirmeye siz de başlayın!</span>
            <button class="large primary">Ücretsiz Dene</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="companies row">
    <div class="company col-xs-12 col-md-6 col-lg-3" *ngFor="let company of companies">
      <div class="image" [ngStyle]="{backgroundImage:'url('+company.image+')'}"></div>
      <span class="description">{{company.description}}</span>
    </div>
  </div>
</section>
<logo-footer></logo-footer>
