<div class="intro">
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="title-content">
      <p class="g8 bold">PaaS platformu ile
        entegre ettiğiniz
      </p>
      <p class="g6 bold">servislerin sağlık durumlarını görün</p>
      <p class="large">
        PaaS platformu içerisindeki ve PaaS platformu ile entegre ettiğiniz servislerin sağlık durumlarını, birbirlerine
        olan bağımlılıklarını ve versiyonlarını görün ve takip edin.
      </p>
      <logo-link
        [classes]="['success', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139651"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <img src="./assets/images/services/dfs/dfs-intro-illu.png">
  </div>
</div>
<div class="usage row">
  <div class="right col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="specs-header">
      <img src="./assets/images/services/dfs/dfs-usage-check.svg" alt="">
      <h2 class="g8 bold">Kullanım Senaryoları</h2>
      <h2>
        Servislerin sağlık durumlarını, birbirlerine olan bağımlılıklarını ve versiyonlarını görün ve takip edin.
      </h2>
    </div>
    <div class="specs-content">
      <ul>
        <li>
          <p class="large">
            Servislerinizin sağlık kontrolünü otomatik sağlayın.
          </p>
        </li>
        <li>
          <p class="large">
            Ortamda çalışan ve kullanmak istediğiniz servis(ler)in isimlerini elde edin.
          </p>
        </li>
        <li>
          <p class="large">
            Servis versiyonlarına kolayca erişin.
          </p>
        </li>
        <li>
          <p class="large">
            Servislerin kullandığı ve bağımlı olduğu iç servislerin sağlık ve özellik kontrolünü inceleyin.
          </p>
        </li>
        <li>
          <p class="large">
            Servis konfigürasyonlarını görün ve takip edin.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="left col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <img src="./assets/images/services/dfs/dfs-usage-illu.png" alt="">
  </div>
</div>
<div class="specs">
  <section class="four">
    <h1>Özellikler</h1>
    <p>DFS ‘den nelerde ve nasıl faydalanabileceğinizi öğrenin. İşinize değer katın!</p>
    <logo-carousel [count]="1" [arrow]="true" [dots]="true">
      <div class="slider-item" *ngFor="let item of sliderItems">
        <div class="icon-bg"
             [ngStyle]="{'-webkit-mask-image': 'url('+item.icon+')', 'mask-image': 'url('+item.icon+')'}"></div>
        <div class="abbr">{{item.abbr}}</div>
        <div class="description">{{item.description}}</div>
        <!-- a class="go" href="{{item.url}}" [ngClass]="item.classes">go →</a-->
      </div>
    </logo-carousel>
  </section>
</div>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>

