@mixin nb-outline($outline-width:size(8px), $outline-color: rgba(var(--neutral-200-rgb), color(ghost-hover)), $inset-shadow-length: 0) {
  $outset-shadow: 0 0 0 $outline-width $outline-color;

  box-shadow: $outset-shadow; // !important;

  @if ($inset-shadow-length != 0) {
    &:not(:hover):not(:active) {
      $inset-shadow: inset $inset-shadow-length $outline-color;

      box-shadow: $outset-shadow, $inset-shadow; // !important;
    }
  }
}
