%padding-button {
  @each $item, $size in get("element.button.size") {
    &.#{$item}, &-#{$item} {
      padding: 0 size(map_get($size, padding));
    }
  }
}

%padding-input {
  @each $item, $size in get("element.input.size") {
    &.#{$item}, &-#{$item} {
      padding: 0 size(map_get($size, padding));
      line-height: size(get("size." + $item + ".height") - 2px);
    }
  }
}
