@mixin placeholder($color, $opacity: 1) {
  color: $color;
  opacity: $opacity;
  transition: opacity 0.3s ease;
  text-overflow: ellipsis;
  font-weight: normal;
}

@mixin placeholder-focus() {
  opacity: 0;
  transition: opacity 0.3s ease;
}

@mixin install-placeholder($color, $opacity: 1) {
  $placeholder-selectors: (
    '::-webkit-input-placeholder' '::-moz-placeholder' ':-moz-placeholder' ':-ms-input-placeholder'
  );

  &::placeholder {
    @include placeholder($color, $opacity);
  }

  &:focus::placeholder {
    @include placeholder-focus();
  }
}
