/*
  Usage Sample:
  <span class="logo-tooltip">
    SOME TEXT THAT NEEDS TOOLTIP
    <span class="tip on-top/on-right/on-bottom/on-left">
      TOOLTIP OF THE TEXT
    </span>
  </span>
*/


// Global Variables
$tipPosition: 8px;
$tipPositionOffset: 10px;
$tipWidth: 180px;
$tipBackgroundColor: #333;
$tipColor: #fff;
$tipPointerSize: 7px;
$linkColor: #e94a34;


// Tooltip Mixin
@mixin ferret-tooltip() {
  $triangle-base: $tipPointerSize solid transparent;
  $triangle-fill: $tipPointerSize solid $tipBackgroundColor;

  %triangle-vertical {
    border-left: $triangle-base;
    border-right: $triangle-base;
  }

  %triangle-horizontal {
    border-top: $triangle-base;
    border-bottom: $triangle-base;
  }

  .logo-tooltip {
    position: relative;
    color: $linkColor;
    cursor: pointer;

    .tip {
      position: absolute;
      width: $tipWidth;
      color: $tipColor;
      font: {
        size: 14px;
        style: normal;
      }
      line-height: 1.4;
      text-align: center;
      border-radius: 3px;
      background: $tipBackgroundColor;
      padding: 8px 12px;
      box-sizing: border-box;
      cursor: auto;
      z-index: 10;
      opacity: 0;
      visibility: hidden;
      transition: all .25s ease-in;

      &:after {
        position: absolute;
        width: 0;
        height: 0;
        content: '';
      }

      &.on-top {
        bottom: $tipPosition + $tipPositionOffset;
        left: 0;

        &:after {
          bottom: -$tipPointerSize;
          left: 20px;
          border-top: $triangle-fill;
          @extend %triangle-vertical;
        }
      }

      &.on-right {
        top: size(-5px);
        left: 103%;

        &:after {
          top: 37%;
          left: -$tipPointerSize;
          border-right: $triangle-fill;
          @extend %triangle-horizontal;
        }
      }

      &.on-bottom {
        top: $tipPosition + $tipPositionOffset;
        left: 0;

        &:after {
          top: -$tipPointerSize;
          left: 20px;
          border-bottom: $triangle-fill;
          @extend %triangle-vertical;
        }
      }

      &.on-left {
        top: -100%;
        right: 103%;

        &:after {
          top: 37%;
          right: -$tipPointerSize;
          border-left: $triangle-fill;
          @extend %triangle-horizontal;
        }
      }
    }

    &:hover {

      .tip {
        opacity: 1;
        visibility: visible;

        &.on-top {
          transform: translateY(-$tipPositionOffset);
        }

        &.on-right {
          transform: translateX($tipPositionOffset);
        }

        &.on-bottom {
          transform: translateY($tipPositionOffset);
        }

        &.on-left {
          transform: translateX(-$tipPositionOffset);
        }
      }
    }
  }
}

@include ferret-tooltip();
