<section>
  <h3>RegExp without condition</h3>
  <p>
    With this regular expression, the following input accepts two alpha characters at first, then it accepts up to 10
    numeric chars. After the second character, it will automatically insert the "-" character in the input
    field.
  </p>
  <p>
    <input
      #dateRef
      [case]="'lower'"
      [maskType]="'string'"
      [formatter]="'XX-00000'"
      [regexp]="'^[a-zA-Z]{1,2}$|^[a-zA-Z]{1,2}[0-9]*$'"
      masker
    />
  </p>
  <sub>[regexp]="'^[a-zA-Z]"{{'{'}}"1,2}$|^[a-zA-Z]\"{{'{'}}"1,2}[0-9]*$'"</sub>
</section>

<section>
  <h3>RegExp with condition</h3>
  <p>Same sample but it also accept number at second position</p>
  <p>
    <input
      #dateRef
      [case]="'lower'"
      [conditions]="[{cases: [{position: 2, regexp:'^[0-9]$'}], placeholder: 'X-0000000000'}]"
      [maskType]="'date'"
      [formatter]="'XX-00000'"
      [regexp]="'^[a-zA-Z]{1,2}$|^[a-zA-Z]{1,2}[0-9]*$'"
      masker
    />
  </p>
  <sub>[conditions]="'^[a-zA-Z]"{{'{'}}"1,2}$|^[a-zA-Z]\"{{'{'}}"1,2}[0-9]*$'"</sub>
</section>
