<logo-leftbar
  [applications]="allApps"
  [defaultAppId]="selectedAppId"
  [defaultTenant]="activeTenant"
  [enableShortCuts]="true"
  [favorites]="favorites"
  [isMainPage]="false"
  [onPrem]="false"
  [profileSettings]="profileSettings"
  [searchPlaceholder]="'What can i do sometimes?'"
  [tenants]="tenants"
  [user]="user"
  (onAddShortCut)="sampleAddShortcut()"
  (onAppSelected)="sampleAppAction($event)"
  (onHomeButton)="sampleHomeAction()"
  (onInfoRequest)="sampleInfoReqAction($event)"
  (onInit)="sampleUserDataGet()"
  (onSearch)="sampleSearchAction($event)"
  (onSettingsButton)="sampleSettingsAction()"
  (onTenantSelected)="sampleTenantAction($event)"
>
  <p>TREE MENU WILL BE HERE</p>
</logo-leftbar>
