<logo-leftbar
  [applications]="allApps"
  [defaultAppId]="selectedAppId"
  [defaultTenant]="activeTenant"
  [enableShortCuts]="true"
  [favorites]="favorites"
  [isMainPage]="false"
  [onPrem]="false"
  [profileSettings]="profileSettings"
  [searchPlaceholder]="'What can i do sometimes?'"
  [tenants]="tenants"
  [user]="user"
  [languageSettings]="languageSettings"
  [selectedLanguage]="selectedLang"
  [disableAppSelection]="appDisableSettings"
  (onAddShortCut)="sampleAddShortcut()"
  (onAppSelected)="sampleAppAction($event)"
  (onHomeButton)="sampleHomeAction()"
  (onInfoRequest)="sampleInfoReqAction($event)"
  (onInit)="sampleUserDataGet()"
  (onSearch)="sampleSearchAction($event)"
  (onSettingsButton)="sampleSettingsAction()"
  (onTenantSelected)="sampleTenantAction($event)"
  (onTenantSearch)="sampleTenantSearch($event)"
>
  <logo-application-tree
    (categoryClick)="sampleAppAction($event);"
    (itemClick)="sampleAppAction($event);"
    (ngModelChange)="selectedList"
    [(ngModel)]="selectedList"
    [group]="true"
    [items]="allApps"
    [maxSelected]="5"
    [structure]="treeOptions"
  >
  </logo-application-tree>
</logo-leftbar>

<div class="settings">
  <div class="buttons">
    <button (click)="toggleAppSelection()" class="info large">
      Toogle App Selection
    </button>
    <button (click)="toggleUserDetails()" class="success large">
      Toogle User Details
    </button>
  </div>
  <hr/>
  <div class="outputs">
    <h2>{{selectedList.length}}</h2>
    <p>{{selectedList | json}}</p>
  </div>
</div>
