@import "~@logo-software/theme/base";

:host {
  --section-height: #{size(1200px)};

  display: block;
  margin-top: calc(-1 * var(--header-height));

  .jumbotron {
    background: radial-gradient(69.37% 142.55% at 78.23% 100%, rgba(26, 2, 96, 0.518) 22.4%, rgba(128, 84, 255, 0) 100%), linear-gradient(180deg, var(--purple) 0%, #440be9 100%);
    border-radius: 0 0 size(40px) size(40px);
    height: var(--section-height);

    .line-1, .line-2 {
      position: absolute;
    }

    .line-1 {
      background-image: url("/assets/images/main/jumbutron-bg-1.svg");
      background-position: top 0 left 50%;
      background-repeat: no-repeat;
      width: 100%;
      height: var(--section-height);
    }

    .line-2 {
      background-image: url("/assets/images/main/jumbutron-bg-2.svg");
      background-position: top 0 left 50%;
      background-repeat: no-repeat;
      width: 100%;
      height: var(--section-height);
    }

    .container {
      position: relative;
      z-index: 1;
      height: 100%;
      padding-top: var(--header-height);

      .rowy {
        display: flex;
        height: 100%;

        .advertisement {
          display: flex;
          flex-grow: 2;
          flex-basis: 0;
          justify-content: center;
          flex-direction: column;
          align-items: flex-start;
          color: var(--white);
          margin: size(5px);

          .small-title {
            font-weight: normal;
            font-size: size(16px);
            line-height: size(22px);
            padding-bottom: size(10px);

            .left {
              opacity: 0.5;
              margin-right: size(5px);
            }
          }

          .title {
            font-weight: bold;
            font-size: size(54px);
            line-height: size(54px);
            color: var(--white);
            padding-bottom: size(40px);
          }

          .description {
            font-weight: normal;
            font-size: size(16px);
            line-height: size(22px);
            margin-bottom: size(40px);
          }
        }

        .illustration {
          margin: size(5px);
          flex-grow: 3;
          flex-basis: 0;
          background-image: url("/assets/images/main/section-01-illustration.svg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }

        @include smaller-than(md) {
          flex-direction: column-reverse;
        }
      }
    }
  }

  .solutions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: var(--section-height);
    max-width: size(784px);
    margin: auto;

    .title {
      font-weight: 800;
      font-size: size(16px);
      line-height: size(26px);
      color: var(--neutral-400);
      margin-bottom: size(30px);
    }

    h1 {
      font-weight: 800;
      font-size: size(76px);
      line-height: size(72px);
      color: var(--purple-1000);
      margin-bottom: size(30px);
      text-align: center;
    }

    .description {
      font-weight: normal;
      font-size: size(16px);
      line-height: size(36px);
      color: var(--neutral-900);
      margin-bottom: size(30px);
      max-width: size(609px);
      text-align: center;
    }

    .illustration {
      margin-top: size(112px);
      background-image: url("/assets/images/main/section-02-illustration.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: size(538px);
      height: size(296px);
    }
  }
}
