<section class="jumbotron">
  <div class="line-1"></div>
  <div class="line-2"></div>
  <div class="container">
    <div class="rowy">
      <div class="advertisement">
        <div class="small-title">
          <span class="left">Contributing to</span> <span class="right">Open Source</span>
        </div>
        <h1 class="title">Şirketler için PAAS</h1>
        <div class="description">
          Logo Bulut Uygulama Geliştirme Platformu, web tabanlı ve çoklu-kiracılı (multi-tenant) iş Uygulamaları
          geliştirme platformudur. Platform, hazır sunduğu ürün ve servisler ile uygulama geliştirme süresini ve
          maliyetlerini azaltmaya imkan sağlar.
        </div>
        <button class="secondary large">Keşfet</button>
      </div>
      <div class="illustration"></div>
    </div>
  </div>
</section>
<section class="solutions">
  <div class="title">ÇÖZÜMLER</div>
  <h1>Hazır Çözüm, Hızlı Entegrasyon</h1>
  <div class="description">
    Uluslararası standartlarda, modern teknolojilere uyumlu geliştirilmiş ürün ve servisler, yeni nesil
    mikro-servisler ile düşük maliyet, yüksek erişilebilirlik ve ölçelenebilirlik.
  </div>
  <button class="primary large">Dökümanlara git</button>
  <div class="illustration"></div>
</section>
