@import "~@logo-software/theme/base";

:host {
  @include larger-than(lg) {
    .intro {
      display: flex;
      height: 100vh;
      position: relative;
      background: #ffdcdc;
      overflow-x: hidden;

      div:nth-child(2) {
        position: relative;

        img {
          max-width: 100%;
          position: absolute;
          bottom: 0;
          right: -88px;
        }
      }

      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .title-content {
          width: size(479px);
          align-self: center;

          .for {
            color: var(--primary);
          }

          p.g6 {
            color: var(--primary);
          }
        }
      }
    }

    .usage {
      display: flex;
      position: relative;
      height: 100vh;

      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .cards {
          position: relative;
          z-index: 2;
          padding-left: size(100px);

          .specs-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: size(50px);
            background-color: #ebf3f8;
            border-radius: size(11px);

            img {
              margin: size(35px) 0 size(35px) 0;
            }

            div:nth-child(1) {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 100%;
        }
      }
    }
  }

  @include smaller-than(lg) {
    .intro {
      display: flex;
      justify-content: center;
      height: 100vh;
      align-items: center;
      position: relative;
      background: #ffdcdc;
      overflow-x: hidden;
      padding: size(30px);

      div:nth-child(2) {
        position: relative;
        display: none;

        img {
          position: absolute;
          bottom: 0;
          right: -88px;
        }
      }

      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .title-content {
          align-self: center;

          .for {
            color: var(--primary);
          }

          p.g6 {
            color: var(--primary);
          }
        }
      }
    }

    .usage {
      display: flex;
      position: relative;
      padding: size(30px);

      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .cards {
          position: relative;
          z-index: 2;
          padding: size(30px) 0 size(30px) 0;

          .specs-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: size(50px);
            background-color: #ebf3f8;
            border-radius: size(11px);

            @include smaller-than(sm) {
              img {
                transform: scale(0.6);
                padding-left: size(20px);
              }
            }

            h4 {
              padding: size(20px);
            }

            div:nth-child(1) {
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }

      div.right {
        display: none;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
