<logo-header></logo-header>
<div class="intro">
  <img class="bg" src="./assets/images/services/rs/rs-intro-bg.svg">
  <div class="left col-md-6">
    <div class="title-content">
      <p class="title g6 bold">
        Raporlama Servisi
      </p>
      <p class="large">
        Gerek Java gerek .Net ile yazılmış olsun PAAS ile entegre çalışan herhangi bir servis veya uygulama, gerek PAAS
        rapor tasarım araçlarını kullanarak gerekse manuel olarak hazırlanmış rapor şablonlarını raporlama servisine
        kaydedip daha sonra ihtiyaç duydukça bu şablonları uygun parametrelerle çalıştırmak suretiyle rapor
        üretebilirler.
      </p>
      <logo-link
        [classes]="['light', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331291"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="right col-md-6">
    <img src="./assets/images/services/rs/rs-intro-illu.png">
  </div>
</div>
<div class="usage row">
  <div class="usage-header">
    <h2 class="g6">Kullanım senaryoları</h2>
    <p class="large">
      Logo PaaS platformunda geliştirilen uygulamalar için önceden kaydedilmiş rapor şablonlarını kullanarak rapor
      üretmeye yarayan servistir.
    </p>
  </div>
  <div class="left col-md-6">
    <img class="img-fluid" src="./assets/images/services/rs/rs-usage-illu-1.png" alt="">
  </div>
  <div class="right col-md-6 col-sm-12">
    <div class="usage-content">
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8">
          <p class="large">
            Uygulamanız için rapor şablolnarı hazırlayıp bunları raporlama servisine kaydedebilirsiniz. Daha sonra bu
            şablonları kullanarak, rapor üretmeniz mümkündür. Raporların çıktısını raporlama servisi veritabanlarında
            saklamanız mümkündür.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8">
          <p class="large">
            Sistemde önceden tanımlanmış şablonları alıp tenant bazında özelleştirmeniz mümkündür.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8">
          <p class="large">
            HTML şablonlarınızı, bir PAAS servisi olan Rapor Tasarım Aracını kullanarak sürükle/bırak yöntemiyle
            kolaylıkla hazırlayabilirsiniz
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="usage-2 row">
  <div class="right col-md-6 col-sm-12">
    <div class="usage-content">
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8">
          <p class="large">
            Şablonları raporlama servisine kaydetmeden, rapor üretme anında sağlayarak da rapor üretmeniz mümkündür. Bu
            durumda şablonu kendi uygulamanızda tutuyor olmanız gerekir ve bu durumda rapor çıktısını raporlama servisi
            veritabanlarında saklayamazsınız.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8">
          <p class="large">
            İş çalıştırma servisi aracılığıyla, bir raporu periyodik olarak çalıştırabilirsiniz
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2">
          <img class="right" src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8 col-sm-12">
          <p class="large">
            Raporlama servisi HTML, XLSX ve TXT türündeki şablonları destekler ve HTML ve XLSX şablonlar için PDF
            türünde çıktı da alabilirsiniz.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <logo-link
        [classes]="['success', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331291"
      >
        DETAYLARI GÖRÜNTÜLE
      </logo-link>
    </div>
  </div>
  <div class="left col-md-6">
    <img class="img-fluid" src="./assets/images/services/rs/rs-usage-illu-2.png" alt="">
  </div>
</div>
<div class="specs row">
  <div class="specs-content col-md-12">
    <h1 class="large">
      Özellikler
    </h1>
  </div>
  <div class="specs-card">
    <div class="col-md-3">
      <div class="card-content">
        <img src="/assets/images/services/rs/rs-specs-icon-1.svg">
        <h4 class="bold">
          Cok Kiracılı Altyapı (Multitenancy)
        </h4>
        <p>
          Rapor şablonları ve çıktıları kiracı bazında farklı veritabanlarında tutulmaktadır.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-content">
        <img src="/assets/images/services/rs/rs-specs-icon-2.svg">
        <h4 class="bold">
          Java Uygulamaları İçin
          Client Desteği
        </h4>
        <p>
          Java uygulamaları, java client ‘ını kullanarak Raporlama Servisine kolayca entegre olabilirler.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-content">
        <img src="/assets/images/services/rs/rs-specs-icon-3.svg">
        <h4 class="bold">
          Swagger UI Destekli API Uçları
        </h4>
        <p>
          Desteklenen API uçlarına Swagger UI üzerinden kolayca ulaşın.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-content">
        <img src="/assets/images/services/rs/rs-specs-icon-4.svg">
        <h4 class="bold">
          Ölçeklenebilir yapı
        </h4>
        <p>
          Oturum bağımsız mimarisi ile Raporlama servisini çoklayarak kullanabilirsiniz.
        </p>
      </div>
    </div>
  </div>
  <div class="bottom col-md-12">
    <logo-link
      [classes]="['light', 'large', 'get-started']"
      external="true"
      url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331291"
    >
      DETAYLARI GÖRÜNTÜLE
    </logo-link>
  </div>
</div>
<logo-user-review imageUrl="https://cdn.pixabay.com/photo/2015/03/04/22/35/head-659652_960_720.png"
                  backgroundUrl="./assets/images/services/rs/rs-rv-bg.png">

</logo-user-review>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>


