@import "~@logo-software/theme/base";

$header-size: size(80px);

:host {
  @include larger-than(lg) {
    .intro {
      display: flex;
      height: 100vh;

      .bg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: -33px;
      }

      .left {
        display: flex;
        justify-content: center;
        align-items: center;

        .title-content {
          align-self: center;
          padding: size(60px);
          opacity: 1;
          z-index: 2;

          .title {
            color: #f9d776;
          }

          p {
            color: var(--light);
          }

          logo-link {
            margin-top: size(50px);
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          right: 0;
        }
      }
    }

    .usage {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

      .usage-header {
        text-align: center;
        margin: size(35px);
      }

      .left {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .right {
        .usage-content {
          padding-left: size(113px);

          h2 {
            margin-top: size(15px);
          }

          .usage-card {
            display: flex;
            border-radius: size(11px);

            div {
              display: flex;
              align-items: center;

              img {
                margin: size(45px) 0 size(45px) 0;
              }

              img:nth-child(1) {
                align-self: flex-end;
                transform: scale(0.75);
              }
            }

            div:nth-child(1) {
              justify-content: center;
            }
          }
        }
      }
    }

    .usage-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

      .left {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          right: -185px;
        }
      }

      .right {
        .usage-content {
          padding-left: size(113px);

          h2 {
            margin-top: size(15px);
          }

          .usage-card {
            display: flex;
            border-radius: size(11px);

            div {
              display: flex;
              align-items: center;

              img {
                margin: size(45px) 0 size(45px) 0;
              }

              img:nth-child(1) {
                align-self: flex-end;
                transform: scale(0.75);
              }
            }

            div:nth-child(1) {
              justify-content: center;
            }
          }

          logo-link {
            margin-top: size(50px);
          }
        }
      }
    }

    .specs {
      background: no-repeat url("/assets/images/services/vvs/vvs-usage-bg.png");
      background-size: cover;

      h1 {
        color: var(--white);
        font-size: size(45px);
        font-weight: lighter;
        text-align: center;
      }

      p {
        color: var(--white);
        font-size: size(20px);
        text-align: center;
        margin-bottom: 50px;
      }

      logo-carousel {
        .slider-item {
          background-color: var(--white);
          box-shadow: 0 60px 60px #6e6e6e46;
          border-radius: 20px;
          box-sizing: border-box;
          backdrop-filter: blur(23px);
          color: var(--neutral-800);
          padding: 30px 44px;
          min-width: 264px;
          width: 264px;
          margin-right: 24px;
          display: inline-block;
          vertical-align: top;
          white-space: normal;

          .icon-bg {
            width: size(42px);
            height: size(42px);
            background-color: var(--success);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;

            .icon {
              position: relative;
              max-height: size(42px);
              max-width: size(42px);
              height: size(42px);
              margin-bottom: size(10px);
              filter: invert(43%) sepia(26%) saturate(1500%) hue-rotate(208deg) brightness(115%) contrast(200%);
              background-size: contain;

              &::after {
                content: "";
                background: url("/assets/images/services/idm/section-04-icon-background.svg") no-repeat;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }

          .abbr {
            font-weight: bold;
            font-size: size(20px);
            margin-top: size(15px);
          }

          .description {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 300;
          }

          .go {
            display: block;
            margin-top: size(20px);
          }
        }

        ::ng-deep {
          .arrow-with-animation .slider-arrow {
            color: var(--white);

            --active: var(--white);
            --border: rgba(255, 255, 255, 0.12);
          }

          .dots {
            .dot {
              border-color: #ffffff;

              &::after {
                background-color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
    }
  }

  @include smaller-than(lg) {
    .intro {
      display: flex;
      height: 100vh;

      .bg {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        top: -33px;
      }

      .left {
        display: flex;
        justify-content: center;
        align-items: center;

        .title-content {
          align-self: center;
          opacity: 1;
          z-index: 2;
          padding: size(30px);

          .title {
            color: #f9d776;
          }

          p {
            color: var(--light);
          }

          logo-link {
            margin-top: size(50px);
          }
        }
      }

      .right {
        display: none;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          right: size(-390px);
        }
      }
    }

    .usage {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: size(30px);

      .usage-header {
        text-align: center;
        margin: size(35px);
      }

      .left {
        display: none;
        justify-content: center;
        align-items: center;
      }

      .right {
        .usage-content {
          h2 {
            margin-top: size(15px);
          }

          logo-link {
            margin-bottom: size(30px);
          }

          .usage-card {
            display: flex;
            border-radius: size(11px);

            div {
              display: flex;
              align-items: center;

              img {
                margin: size(45px) 0 size(45px) 0;
              }

              img:nth-child(1) {
                align-self: center;
                transform: scale(0.75);
              }
            }

            div:nth-child(1) {
              justify-content: center;
            }
          }
        }
      }
    }

    .usage-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: size(30px);
      margin-top: (-50px);

      .left {
        display: none;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          right: -185px;
        }
      }

      .right {
        .usage-content {
          h2 {
            margin-top: size(15px);
          }

          .usage-card {
            display: flex;
            border-radius: size(11px);

            div {
              display: flex;
              align-items: center;

              img {
                margin: size(45px) 0 size(45px) 0;
              }

              img:nth-child(1) {
                align-self: center;
                transform: scale(0.75);
              }
            }

            div:nth-child(1) {
              justify-content: center;
            }
          }

          logo-link {
            margin-top: size(50px);
            margin-bottom: size(50px);
          }
        }
      }
    }

    .specs {
      background: no-repeat url("/assets/images/services/vvs/vvs-usage-bg.png");
      background-size: cover;

      h1 {
        color: var(--white);
        font-size: size(45px);
        font-weight: lighter;
        text-align: center;
      }

      p {
        color: var(--white);
        font-size: size(20px);
        text-align: center;
        margin-bottom: 50px;
      }

      logo-carousel {
        .slider-item {
          background-color: var(--white);
          box-shadow: 0 60px 60px #6e6e6e46;
          border-radius: 20px;
          box-sizing: border-box;
          backdrop-filter: blur(23px);
          color: var(--neutral-800);
          padding: 30px 44px;
          min-width: 264px;
          width: 264px;
          margin-right: 24px;
          display: inline-block;
          vertical-align: top;
          white-space: normal;

          .icon-bg {
            width: size(42px);
            height: size(42px);
            background-color: var(--success);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;

            .icon {
              position: relative;
              max-height: size(42px);
              max-width: size(42px);
              height: size(42px);
              margin-bottom: size(10px);
              filter: invert(43%) sepia(26%) saturate(1500%) hue-rotate(208deg) brightness(115%) contrast(200%);
              background-size: contain;

              &::after {
                content: "";
                background: url("/assets/images/services/idm/section-04-icon-background.svg") no-repeat;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }

          .abbr {
            font-weight: bold;
            font-size: size(20px);
            margin-top: size(15px);
          }

          .description {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 300;
          }

          .go {
            display: block;
            margin-top: size(20px);
          }
        }

        ::ng-deep {
          .arrow-with-animation .slider-arrow {
            color: var(--white);

            --active: var(--white);
            --border: rgba(255, 255, 255, 0.12);
          }

          .dots {
            .dot {
              border-color: #ffffff;

              &::after {
                background-color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
    }
  }
}
