<logo-header></logo-header>
<div class="intro">
  <img class="bg" src="./assets/images/services/rs/rs-intro-bg.svg">
  <div class="left col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="title-content">
      <p class="title g6 bold">
        Raporlama Servisi
      </p>
      <p class="large">
        Gerek Java gerek .Net ile yazılmış olsun PAAS ile entegre çalışan herhangi bir servis veya uygulama, gerek PAAS
        rapor tasarım araçlarını kullanarak gerekse manuel olarak hazırlanmış rapor şablonlarını raporlama servisine
        kaydedip daha sonra ihtiyaç duydukça bu şablonları uygun parametrelerle çalıştırmak suretiyle rapor
        üretebilirler.
      </p>
      <logo-link
        [classes]="['light', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331291"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="right col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <img src="./assets/images/services/rs/rs-intro-illu.png">
  </div>
</div>
<div class="usage row">
  <div class="usage-header">
    <h2 class="g6">Kullanım senaryoları</h2>
    <p class="large">
      Logo PaaS platformunda geliştirilen uygulamalar için önceden kaydedilmiş rapor şablonlarını kullanarak rapor
      üretmeye yarayan servistir.
    </p>
  </div>
  <div class="left col-lg-6 col-md-6">
    <img class="img-fluid" src="./assets/images/services/rs/rs-usage-illu-1.png" alt="">
  </div>
  <div class="right col-lg-6 col-md-12 col-xs-12">
    <div class="usage-content">
      <div class="usage-card">
        <div class="col-md-2 col-xs-2">
          <img  src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8 col-xs-10">
          <p class="large">
            Uygulamanız için rapor şablolnarı hazırlayıp bunları raporlama servisine kaydedebilirsiniz. Daha sonra bu
            şablonları kullanarak, rapor üretmeniz mümkündür. Raporların çıktısını raporlama servisi veritabanlarında
            saklamanız mümkündür.
          </p>
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2 col-xs-2">
          <img  src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8 col-xs-10">
          <p class="large">
            Sistemde önceden tanımlanmış şablonları alıp tenant bazında özelleştirmeniz mümkündür.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2 col-xs-2">
          <img  src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8 col-xs-10">
          <p class="large">
            HTML şablonlarınızı, bir PAAS servisi olan Rapor Tasarım Aracını kullanarak sürükle/bırak yöntemiyle
            kolaylıkla hazırlayabilirsiniz
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="usage-2 row">
  <div class="right col-lg-6 col-md-12 col-xs-12">
    <div class="usage-content">
      <div class="usage-card">
        <div class="col-md-2 col-xs-2">
          <img  src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8 col-xs-10">
          <p class="large">
            Şablonları raporlama servisine kaydetmeden, rapor üretme anında sağlayarak da rapor üretmeniz mümkündür. Bu
            durumda şablonu kendi uygulamanızda tutuyor olmanız gerekir ve bu durumda rapor çıktısını raporlama servisi
            veritabanlarında saklayamazsınız.
          </p>
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2 col-xs-2">
          <img  src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8 col-xs-10">
          <p class="large">
            İş çalıştırma servisi aracılığıyla, bir raporu periyodik olarak çalıştırabilirsiniz
          </p>
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2 col-xs-2">
          <img  src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8 col-xs-10">
          <p class="large">
            Raporlama servisi HTML, XLSX ve TXT türündeki şablonları destekler ve HTML ve XLSX şablonlar için PDF
            türünde çıktı da alabilirsiniz.
          </p>
        </div>
      </div>
      <logo-link
        [classes]="['success', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331291"
      >
        DETAYLARI GÖRÜNTÜLE
      </logo-link>
    </div>
  </div>
  <div class="left col-lg-6 col-md-6">
    <img class="img-fluid" src="./assets/images/services/rs/rs-usage-illu-2.png" alt="">
  </div>
</div>
<div class="specs">
  <section class="four">
    <h1>Özellikler</h1>
    <p>RS ‘den nelerde ve nasıl faydalanabileceğinizi öğrenin. İşinize değer katın!</p>
    <logo-carousel [count]="1" [arrow]="true" [dots]="true">
      <div class="slider-item" *ngFor="let item of sliderItems">
        <div class="icon-bg"
             [ngStyle]="{'-webkit-mask-image': 'url('+item.icon+')', 'mask-image': 'url('+item.icon+')'}"></div>
        <div class="abbr">{{item.abbr}}</div>
        <div class="description">{{item.description}}</div>
        <a class="go" href="{{item.url}}" [ngClass]="item.classes">→ detay</a>
      </div>
    </logo-carousel>
  </section>
</div>
<logo-user-review backgroundUrl="./assets/images/services/rs/rs-rv-bg.png"></logo-user-review>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
