@import "~@logo-software/theme/base";

$header-size: size(80px);

:host {
  .intro {
    display: flex;
    height: 100vh;

    .bg {
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      top: -33px;
    }

    .left {
      display: flex;
      justify-content: center;
      align-items: center;

      .title-content {
        width: size(479px);
        align-self: center;
        opacity: 1;
        z-index: 2;

        .title {
          color: #f9d776;
        }

        p {
          color: var(--light);
        }

        logo-link {
          margin-top: size(50px);
        }
      }
    }

    .right {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        right: size(-390px);
      }
    }
  }

  .usage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .usage-header {
      text-align: center;
      margin: size(35px);
    }

    .left {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .right {
      .usage-content {
        padding-left: size(113px);

        h2 {
          margin-top: size(15px);
        }

        .usage-card {
          display: flex;
          border-radius: size(11px);

          div {
            display: flex;
            align-items: center;

            img {
              margin: size(45px) 0 size(45px) 0;
            }

            img:nth-child(1) {
              align-self: flex-end;
            }
          }

          div:nth-child(1) {
            justify-content: center;
          }
        }
      }
    }
  }

  .usage-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .left {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        right: -185px;
      }
    }

    .right {
      .usage-content {
        padding-left: size(113px);

        h2 {
          margin-top: size(15px);
        }

        .usage-card {
          display: flex;
          border-radius: size(11px);

          div {
            display: flex;
            align-items: center;

            img {
              margin: size(45px) 0 size(45px) 0;
            }

            img:nth-child(1) {
              align-self: flex-end;
            }
          }

          div:nth-child(1) {
            justify-content: center;
          }
        }

        logo-link {
          margin-top: size(50px);
        }
      }
    }
  }

  .specs {
    display: flex;
    justify-content: center;
    height: 100vh;

    .specs-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin-top: size(50px);

      h1 {
        font-size: size(40px);
        font-weight: bold;
        color: #707070;
        line-height: size(45px);
      }

      p {
        font-size: size(20px);
        line-height: size(28px);
      }
    }

    .specs-card {
      display: flex;
      justify-content: center;
      position: absolute;
      align-self: center;
      z-index: 2;
      width: size(1066px);
      height: size(317px);
      border-radius: size(24px);
      background-color: #f7faff;

      div {
        border-right: 1px solid #e0e5ef;

        .card-content {
          text-align: center;
          border: none;
          padding: size(49px) size(25px) size(49px) size(25px);

          h4 {
            padding-top: size(24px);
          }
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-size: cover;
      background-position: center;
      background-image: url("/assets/images/services/ys/ys-specs-bg.png");

      logo-link {
        margin-top: size(250px);
      }
    }
  }
}
