<logo-header></logo-header>
<div class="intro">
  <div class="col-md-6">
    <div class="title-content">
      <h1 class="title g7 bold">Veritabanı versiyonlama servisi</h1>
      <p class="description large">
        Yerelleştirme(Localization) servisinin amacı, tüm LOGO ürünleri ve servislerinin kullanabileceği ortak ve her
        zaman erişilebilir bir dil desteği sağlamaktır. Tek bir kaynağı veya bir kaynak listesini sorgulamak için REST
        uçları sağlar.
      </p>
      <logo-link
        [classes]="['success', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139826"
      >
        KEŞFET
      </logo-link>
    </div>

  </div>
  <div class="col-md-6">
    <img class="img-1" src="./assets/images/services/vvs/vvs-intro-bg.svg">
    <img class="img-2" src="./assets/images/services/vvs/vvs-intro-illu.svg">
  </div>
</div>
<div class="usage">
  <div class="left col-md-7">
    <div class="usage-content">
      <h1 class="bold">Kullanım Senaryoları</h1>
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </h4>
    </div>
    <div class="card">
      <div class="col-md-6">
        <img src="./assets/images/services/vvs/vvs-usage-icon-1.svg">
        <p>
          İki veritabanı arasında şema farklılığını(changelog) üretmek ve bu farklılıkları uygulamak.Bu veritabanları
          fiziksel yada jpa persistence veritabanı olabilir…
        </p>
      </div>
      <div class="col-md-6">
        <img src="./assets/images/services/vvs/vvs-usage-icon-2.svg">
        <p>
          Versiyonlu şekilde sql scriptleri çalıştırmak ve varsayılan kayıtlar ilgili tenantın veritabanında oluşturmak.
        </p>
      </div>
    </div>
  </div>
  <div class="right col-md-5">
    <img src="/assets/images/services/vvs/vvs-usage-phone.png">
  </div>
  <img class="img-2" src="/assets/images/services/vvs/vvs-usage-bg.png">
</div>
<div class="specs">
  <img src="/assets/images/services/vvs/vvs-specs-bg.png">
  <div class="col-md-6">
    <img src="/assets/images/services/vvs/vvs-specs-illu.svg">
  </div>
  <div class="col-md-6">

  </div>
</div>
