@import "~@logo-software/theme/base";

$header-size: size(80px);

:host {

  .intro {
    display: flex;
    position: relative;
    height: size(697px);
    margin-left: -95px;

    div:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;

      div.title-content {
        position: relative;
        z-index: 2;
        max-width: size(461px);
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
        padding: size(30px);

        h1.title {
          color: #00C375;
        }

        p.description {
          color: #707070;
        }
      }
    }

    div:nth-child(2) {
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;

      .img-1 {
        position: absolute;
        right: 0;
      }

      .img-2 {

        position: absolute;
        z-index: 2;
      }
    }
  }

  .usage {
    display: flex;
    flex-direction: row;
    position: relative;
    height: size(800px);
    padding-top: size(57px);

    .img-2 {
      position: absolute;
      bottom: 0;
      height: 50%;
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .usage-content {

      }

      .card {
        display: flex;
        flex-direction: row;
        color: #707070;
        background: #F5F8FE;
        border-radius: size(24px);
        border: 1px solid #E0E5EF;
        height: size(411px);
        width: size(702px);
        z-index: 2;

        div:nth-child(1) {
          border-right: 1px solid #E0E5EF;
        }

        div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: baseline;

          p {
            font-size: size(20px);
            line-height: size(27px);
            margin: size(41px);
          }
        }
      }
    }

    .right {
      display: flex;
      justify-content: center;

      img {
        z-index: 2;
      }
    }
  }

  .specs {
    display: flex;
    position: relative;

    img {
      position: absolute;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        z-index: 2;
      }
    }
  }
}
