@import "~@logo-software/theme/base";

:host {
  --carusel-item-margin: 0;
  --carusel-item-padding: #{size(20px)};
  --carusel-item-border-radius: 0;
  --carusel-item-box-shadow: none;
  --carousel-dot-bg: var(--white);
  --carousel-dot-bg-selected: var(--primary-200);
  --carousel-arrows-color: var(--white);

  ul {
    li {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: size(20px);
      padding-left: size(10px);

      &::before {
        background: url("/assets/images/services/check-with-green-bg.svg") no-repeat;
        content: "";
        width: 150px;
        height: 35px;
        position: absolute;
        left: -50px;
      }

      h2 {
        color: #666161;
        font-size: size(25px);
        line-height: size(28px);
        font-weight: bold;
      }

      p {
        font-size: size(20px);
        color: #666161;
        font-weight: normal;
        line-height: size(22px);
      }
    }
  }

  section.intro {
    display: flex;
    min-height: size(700px);
    position: relative;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        color: #666161;
        font-weight: bold;
        font-size: size(40px);
        line-height: size(40px);
        letter-spacing: size(-0.5px);
      }

      h1 {
        font-weight: bold;
        font-size: size(60px);
        line-height: size(67px);
        letter-spacing: size(-0.75px);
        color: #0090ff;
      }

      p {
        font-weight: normal;
        font-size: size(20px);
        line-height: size(27px);
        color: #666161;
      }

      .right {
        position: absolute;
        right: 0;
        top: 0;

        @include smaller-than(lg) {
          display: none;
        }
      }
    }
  }

  section.usage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: size(38px);
    padding-bottom: size(55px);
    background: url("/assets/images/services/mss/bg.png") bottom center no-repeat;

    .row {
      flex-direction: column;
    }

    h1 {
      font-weight: bold;
      font-size: size(40px);
      line-height: size(45px);
      color: #666161;
      text-align: center;
    }

    p {
      font-weight: normal;
      font-size: size(20px);
      line-height: size(28px);
      color: #666161;
      text-align: center;
      padding-bottom: size(70px);
    }

    logo-carousel {
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0;
        padding-top: 65px;
        padding-bottom: 105px;
        background: #f5f6fa;
        border-right: 1px solid #e0e5ef;

        &:first-of-type {
          border-top-left-radius: size(24px);
          border-bottom-left-radius: size(24px);
        }

        &:last-of-type {
          border-top-right-radius: size(24px);
          border-bottom-right-radius: size(24px);
          border-right: none;
        }

        .icon-bg {
          width: size(50px);
          height: size(50px);
          margin-bottom: size(55px);
        }

        .abbr {
          font-family: get("font.alternative");
          font-size: size(25px);
          font-weight: 600;
          line-height: size(28px);
          margin-bottom: size(12px);
        }

        .description {
          font-family: get("font.alternative");
          font-size: size(20px);
          font-weight: normal;
          line-height: size(27px);
        }
      }
    }
  }

  section.specs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: size(782px);

    .container {
      .absolute {
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        overflow: hidden;

        @include smaller-than(lg) {
          position: relative;
          width: 100%;
          padding-bottom: size(50px);
        }

        img {
          height: 100%;
        }
      }

      .normal {
        margin-left: auto;

        h1 {
          font-weight: normal;
          font-size: size(40px);
          line-height: size(45px);
          color: #666161;
        }
      }

      .reverse {
        .absolute {
          left: auto;
          right: 0;
          bottom: 0;
          text-align: right;
          padding-bottom: 0;
        }

        .normal {
          margin-right: auto;
          margin-left: 0;
        }
      }
    }
  }
}
