<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12">
        <div class="title-content">
          <h3>Hızlı, kayıpsız, sorgulanabilir</h3>
          <h1>Mesaj Sistemi</h1>
          <p>
            Mesaj Kayıt Servisi ile Logo PaaS platformu içerisinde kayıtlı olan mikroservis veya uygulamalarınızın
            birbirleri ile haberleşmesini sağlayın. Mikroservisler arası yapılan mesajların hızlı, kayıpsız ve geriye
            yönelik sorgulanabilir şekilde iletilmesi sağlayın.
          </p>
          <logo-link
            [classes]="['primary large get-started']"
            external="true"
            url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139644"
          >
            KEŞFET
          </logo-link>
        </div>
      </div>
      <div class="right col-lg-7">
        <img class="illustration" src="./assets/images/services/mss/mss-intro.svg">
      </div>
    </div>
  </div>
</section>
<section class="usage">
  <div class="container">
    <div class="row">
      <h1>Kullanım Senaryoları</h1>
      <p>MRS ‘den nelerde ve nasıl faydalanabileceğinizi öğrenin. İşinize değer katın!</p>
      <logo-carousel [count]="1" [arrow]="true" [dots]="true" [itemWidth]="'310px'">
        <div class="item" *ngFor="let item of sliderItems">
          <div
            class="icon-bg"
            [ngStyle]="{'background-image': 'url('+item.icon+')'}"
          >
          </div>
          <div class="abbr">{{item.abbr}}</div>
          <div class="description">{{item.description}}</div>
        </div>
      </logo-carousel>
    </div>
  </div>
</section>
<section class="specs">
  <div class="container">
    <div class="row">
      <div class="absolute">
        <img src="./assets/images/services/mss/mss-specs-bg-1.svg">
      </div>
      <div class="normal col-lg-6 col-xs-12">
        <h1>Özellikler</h1>
        <ul>
          <li>
            <h2>Publish-Subscribe model mesajlaşma desteği</h2>
            <p>Servis versiyonlarına kolayca erişin.</p>
          </li>
          <li>
            <h2>Apache Kafka desteği</h2>
            <p>
              Apache Kafka üzerinde kurulmuş olan Mesaj Kayıt Servisi ile Kafka üzerindeki tüm kategorilere abone
              olarak ve servislerarası haberleşmeden haberdar olun.
            </p>
          </li>
          <li class="usage-card">
            <h2>Swagger UI desteği</h2>
            <p>
              Mesaj Kayıt servisini sahip olduğu swagger UI üzerinden veya Mesaj Kayıt Servisi client paketi
              sayesinde servisinize kolayca entegre edin ve kullanın.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="specs">
  <div class="container">
    <div class="row reverse">
      <div class="normal col-lg-6 col-xs-12">
        <ul>
          <li>
            <h2 class="bold">Mongo DB desteği</h2>
            <p class="large">
              Servisinize özel topic’lerinizi Mongo DB’de depolayın ve hızlıca erişin.
            </p>
          </li>
          <li class="usage-card">
            <h2 class="bold">Şema desteği</h2>
            <p class="large">
              Mesaj payload’larınızı belirlenen standartlara göre şemalayın ve uzantınızın doğrulamasını kolayca yapın.
            </p>
          </li>
        </ul>
      </div>
      <div class="absolute">
        <img src="./assets/images/services/mss/mss-specs-bg-2.svg">
      </div>
    </div>
  </div>
</section>
<logo-user-review
  imageUrl="./assets/images/services/mss/mss-rv-user.png"
  backgroundUrl="./assets/images/services/mss/mss-rv-bg.png"
>
</logo-user-review>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
