@import "~@logo-software/theme/base";

:host {
  display: block;

  ul {
    list-style-image: url("/assets/images/services/idm/check.svg");

    li {
      line-height: size(35px);
      padding-left: size(10px);
    }
  }

  section.one {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      display: flex;
      position: relative;
      z-index: 1;

      div.title-content {
        font-family: get("font.alternative");
        max-width: size(464px);

        .title {
          pointer-events: none;
          color: var(--primary);
          font-weight: bold;
          font-size: size(40px);
          line-height: size(45px);

          .for {
            color: #707070;
          }
        }

        .description {
          margin: size(25px) 0 size(40px) 0;
          font-size: size(20px);
          color: #707070;
          pointer-events: none;
          font-weight: normal;
          line-height: size(27px);
        }
      }
    }

    div.illustrations {
      position: absolute;
      right: size(120px);
      width: size(721px);
      height: size(388px);
      z-index: 1;

      div.computer {
        width: 100%;
        height: 100%;
        background: url("/assets/images/services/cc/section-01-illustration.svg") center center no-repeat;
        background-size: contain;

        @include smaller-than("lg") {
          display: none;
        }
      }

      @include smaller-than("xl") {
        width: size(400px);
        height: size(400px);
        right: 0;
        bottom: 0;
      }
    }

    div.backgrounds {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: url("/assets/images/services/cc/photo.png") right top no-repeat;

      @include smaller-than("lg") {
        display: none;
      }
    }
  }

  section.two {
    position: relative;
    font-family: get("font.alternative");
    background: #eef2f9;
    align-items: center;
    padding: size(57px) 0 size(65px) 0;

    .container {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: size(40px);
        color: #707070;
        text-align: center;
        font-weight: 300;
        line-height: size(45px);
      }

      p {
        font-size: size(20px);
        margin-top: 0;
        margin-bottom: size(50px);
        text-align: center;
        font-weight: normal;
        line-height: size(40px);
      }

      .boxes {
        z-index: 1;

        .box-container {
          display: flex;

          .box {
            flex-direction: column;
            flex-grow: 1;
            color: #707070;
            border-radius: size(24px);
            background: var(--white);
            padding: size(40px);
            font-size: size(20px);
            margin: size(15px) 0;
            box-shadow: 0 size(30px) size(30px) rgba(0, 0, 0, 0.06);
            font-weight: normal;
            line-height: size(28px);

            .icon {
              margin-bottom: size(15px);
            }
          }
        }
      }

      logo-link {
        position: relative;
        z-index: 1;
        margin-top: size(50px);
      }
    }

    div.backgrounds {
      z-index: 0;

      div.three-angle {
        position: absolute;
        left: 0;
        bottom: 0;
        width: size(245px);
        height: size(361px);
        background: url("/assets/images/services/cc/section-02-three-angle.svg") left bottom no-repeat;
      }

      div.rectangle-01 {
        position: absolute;
        right: 0;
        top: 40%;
        width: size(87px);
        height: size(268px);
        background: url("/assets/images/services/cc/section-02-rectangle.svg") right center no-repeat;
      }

      div.circle-01 {
        position: absolute;
        left: 15%;
        top: size(90px);
        width: size(146px);
        height: size(146px);
        background: url("/assets/images/services/cc/section-02-circle-01.svg") bottom center no-repeat;
      }

      div.circle-02 {
        position: absolute;
        left: 30%;
        bottom: 0;
        width: size(90px);
        height: size(45px);
        background: url("/assets/images/services/cc/section-02-circle-02.svg") bottom center no-repeat;
      }
    }
  }

  section.three, section.four {
    position: relative;
    padding: 0;

    .container {
      .content {
        display: flex;
        color: #707070;
        flex-direction: column;
        width: calc(50% - #{size(40px)});
        padding: size(140px) 0;
        box-sizing: border-box;

        h1 {
          font-size: size(40px);
          font-weight: 500;
        }

        ul {
          list-style-image: url("/assets/images/services/idm/check.svg");

          li {
            margin-top: size(20px);
            padding-left: size(10px);

            h2 {
              font-weight: bold;
              font-size: size(20px);
            }

            p {
              font-size: size(16px);
            }
          }
        }

        logo-link {
          align-self: center;
        }
      }
    }

    .background {
      position: absolute;
      z-index: 0;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: contain;
    }

    @include smaller-than(md) {
      .container {
        .content {
          width: 100%;
        }
      }

      .background {
        display: none;
      }
    }
  }

  section.three {
    .background {
      background-image: url("/assets/images/services/cc/section-03-illustrasyon.svg");
    }

    @include smaller-than(md) {
      .container {
        .content {
          padding-bottom: 0;
        }
      }
    }
  }

  section.four {
    .container {
      .content {
        margin-left: auto;
      }
    }

    .background {
      left: 0;
      right: auto;
      background: url(/assets/images/services/cc/section-04-illustrasyon.png) no-repeat right;
      background-size: cover;
      // background: center / 50% no-repeat url(/assets/images/services/cc/section-04-illustrasyon.png), right center / cover no-repeat url(/assets/images/services/cc/section-04-photo.png);
    }

    @include smaller-than(md) {
      .container {
        .content {
          padding-top: 0;
        }
      }
    }
  }
}
