<section class="one" id="main">
  <div class="container">
    <div class="title-content">
      <h1 class="title">Cloud Control <span class="for">Service</span></h1>
      <p class="description">
        Logo PaaS platformunda var olan Hesaplar (Tenant), Uygulamalar ve kullanıcılar arasında ki ilişkileri Çoklu
        hesap (multi-tenancy) operasyonları kapsamında yönetir.
      </p>
      <logo-link
        [classes]="['primary large get-started']"
        [external]="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139691">KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="illustrations">
    <div class="computer"></div>
  </div>
  <div class="backgrounds"></div>
</section>
<section class="two">
  <div class="container">
    <h1>Kullanım Senaryoları</h1>
    <p>Uygulamaları nasıl kullanacağınızı keşfedin. İşinize değer katın!</p>
    <div class="boxes row">
      <div *ngFor="let box of boxes" class="box-container col-xs-12 col-sm-6 col-lg-4">
        <div class="box">
          <div class="icon"><img src="{{box.icon}}"/></div>
          <div class="description">{{box.description}}</div>
        </div>
      </div>
    </div>
    <logo-link
      [classes]="'primary large'"
      [external]="true"
      [url]="'http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139691'"
    >
      DETAYLARI GÖRÜNTÜLE
    </logo-link>
  </div>
  <div class="backgrounds">
    <div class="three-angle"></div>
    <div class="rectangle-01"></div>
    <div class="circle-01"></div>
    <div class="circle-02"></div>
  </div>
</section>
<section class="three">
  <div class="container">
    <div class="content">
      <h1>Özellikler</h1>
      <p class="description">
        Cloud Control Servisi Özelliklerine Gözatın. Servis Özellikleri Yakından Tanıyın!
      </p>
      <ul>
        <li>
          <h2>Segmentasyon Desteği</h2>
          <p>Uygulama tanımlarınızı farklı segmentlerde PAAS ortamında sunarak, her segment için farklı lisanslama
            yöntemlerini seçin.</p>
        </li>

        <li>
          <h2>Veri tabanı sunucularınızı yönetin</h2>
          <p>Veri tabanı sunucularınızı ve kapasitelerini tanımlayarak, kapasiteyi aşmayacak şekilde kullanılmasını
            sağlayın.</p>
        </li>
        <li>
          <h2>Uygulama Veritabanlarınız hazır gelsin</h2>
          <p>Dilerseniz uygun sunucu üzerine hesap için açacağınız veri tabanı ya da şeması hazırlansın ve siz sadece
            bağlantı cümlesini alarak işlemlerinize devam edin.</p>
        </li>
        <li>
          <h2>E-Posta Şablonları</h2>
          <p>Aktivasyon işlemleri için kullanılan E-Posta şablonlarını hesabınıza göre özelleştirin</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="background"></div>
</section>
<section class="four">
  <div class="container">
    <div class="content">
      <ul>
        <li>
          <h2>Swagger UI destekli API uçları</h2>
          <p>Desteklenen API uçlarına Swagger UI üzerinden kolayca ulaşın.</p>
        </li>
        <li>
          <h2>Dinamik Adresler ile Uygulamanızı Ölçeklenebilir Yapın</h2>
          <p>Bir Web Sunucusu üzerinde dilediğiniz sayıda hesaba hizmet verin, o sayı aştığında yeni sunucuya geçin.</p>
        </li>
        <li>
          <h2>Güvenli bilgi saklama</h2>
          <p>Kıymetli verileriniz veritabanında şifrelenmiş olarak saklansın.</p>
        </li>
        <li>
          <h2>Ölçeklenebilir yapı</h2>
          <p>Oturum bağımsız mimarisi ile Bulut Yönetim Servisini çoklayarak kullanabilirsiniz.</p>
        </li>
      </ul>
      <logo-link
        [classes]="'primary large'"
        [external]="true"
        [url]="'http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139691'"
      >
        DETAYLARI GÖRÜNTÜLE
      </logo-link>
    </div>
  </div>
  <div class="background"></div>
</section>
<logo-user-review
  [backgroundUrl]="'/assets/images/reviewers/purple-background.png'"
  [circle]="true"
  [imageStyle]="{'background-position':'left bottom -10px', 'background-size': 'contain'}"
  [imageUrl]="'/assets/images/reviewers/empty-user.png'"
  [reverse]="false"
>
</logo-user-review>
<logo-core-services theme="success"></logo-core-services>
<logo-footer></logo-footer>
