:host {
  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .settings {
    display: flex;
    flex-direction: column;
  }

  label {
    text-transform: capitalize;
    color: var(--neutral);
  }

  .symbols {
    color: var(--primary);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    margin-top: 2px;
  }
}
