<div class="row">
  <div class="content col-xs-10">
    <label>Grup Kodu</label>
    <input [disabled]="disabled" id="input" placeholder="Placeholder" class="{{selectedSize}}  {{selectedKind}}">
    <p class="symbols">Do not use symblos</p>
  </div>

  <div class="settings col-xs-2">
    <div>
      Modifiers
      <div>
        <input [(ngModel)]="disabled" type="checkbox" id="disable">
        <label for="disable">Disabled</label>
      </div>
    </div>
    <div>
      Size
      <div *ngFor="let sizeType of sizeTypes;index as i">
        <input [(ngModel)]="sizeType.selected" type="checkbox" id="{{sizeType.class}}-{{i}}" (change)="changeSizeType(sizeType.class)">
        <label for="{{sizeType.class}}-{{i}}">{{sizeType.class}}</label>
      </div>
    </div>
    <div>
      State
      <div *ngFor="let kindType of stateTypes;index as i">
        <input [(ngModel)]="kindType.selected" type="checkbox" id="{{kindType.class}}-{{i}}" (change)="changeStateType(kindType.class)">
        <label for="{{kindType.class}}-{{i}}">{{kindType.class}}</label>
      </div>
    </div>

  </div>
</div>

