<logo-card
  [cardImage]="productData.backgroundImage"
  [cssClasses]="'product-item'"
>
  <div class="product-categories">
    <span *ngFor="let productSolution of productData.solutions" class="badge">
      {{productSolution.name}}
    </span>
  </div>
  <div class="card-logo">
    <img src="{{productData.logo}}"/>
  </div>
  <div class="card-name">
    <h3>{{productData.name}}</h3>
  </div>
  <div class="card-desc">
    <p>
      {{productData.description}}
    </p>
  </div>
  <div class="card-cta">
    <div class="cta">
      <logo-link
        [classes]="'primary large icon-left le-search'"
        [url]="'/product/'+ productData.id"
      >
        Ürünü İncele
      </logo-link>
    </div>
    <div class="price">
      <h1><b>{{productData.price.symbol}}{{productData.price.cost}}</b>
        <p *ngIf="!productData.price.includeTax" class="medium">+ KDV</p></h1>
    </div>
  </div>
</logo-card>
