<div class="footer" id="footer">
  <div class="newsletter-base">
    <div class="container contents">
      <div class="gfx">
        <img src="/assets/img/footer-email.png"/>
      </div>
      <div class="text-base">
        <span class="title">
          <h1>e-Bültene Abone Olun</h1>
          <h4>Ürün İndirimleri ve Yeniliklerinden Haberdar Olun</h4>
        </span>
        <div class="form">
          <input class="large" placeholder="E-Posta Adresiniz" type="email">
          <button class="secondary large">Üye Ol</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="sellerInfo" class="seller-base">
    <div class="map-base">
      <iframe [src]="sellerLocation" allowfullscreen="" height="400" loading="lazy" style="border:0;"
              width="100%"></iframe>
    </div>
    <div class="seller-info-base">
      <div class="seller-info">
        <logo-link *ngIf="sellerInfo.data[0].phone" [classes]="'primary outline icon-left le-phone'">
          {{sellerInfo.data[0].phone}}
        </logo-link>
        <p *ngIf="sellerInfo.data[0].address">{{sellerInfo.data[0].address}}</p>
        <p>T: {{sellerInfo.data[0].phone}} | F: {{sellerInfo.data[0].fa}}</p>
        <p>{{sellerInfo.data[0].email}}</p>
      </div>
    </div>
  </div>
  <div class="content-base">
    <div class="container footer-links">
      <div class="footer-map">
        <div class="footer-col">
          <h3><b>Ürünler</b></h3>
          <ng-container *ngIf="products">
            <logo-link
              *ngFor="let productItem of products.data"
              [classes]="'ghost large'"
              [url]="'/product/' + productItem.id"
            >
              {{productItem.name}}
            </logo-link>
          </ng-container>
        </div>
        <div class="footer-col">
          <h3><b>Çözümler</b></h3>
          <ng-container *ngIf="solutions">
            <logo-link
              *ngFor="let solutionItem of solutions"
              [classes]="'ghost large'"
              [url]="'/solutions/' + solutionItem.id"
            >
              {{solutionItem.name}}
            </logo-link>
          </ng-container>
        </div>
        <div class="footer-col">
          <h3><b>Hakkımızda</b></h3>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/info/about'"
          >
            Logo Yazılım Hakkında
          </logo-link>
          <logo-link
            [classes]="'ghost large'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            Blog
          </logo-link>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/info/contact'"
          >
            İletişim ve Destek
          </logo-link>
        </div>
        <div class="footer-col">
          <h3><b>Bizi Takip Edin!</b></h3>
          <logo-link
            [classes]="'ghost large icon-left le-twitter'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            Twitter
          </logo-link>
          <logo-link
            [classes]="'ghost large icon-left le-facebook'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            Facebook
          </logo-link>
          <logo-link
            [classes]="'ghost large icon-left le-youtube_clip'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            Youtube
          </logo-link>
          <logo-link
            [classes]="'ghost large icon-left'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            <span class="custom-icon">
              <img src="/assets/img/footer-ico-linkedin.svg"/>
            </span>
            Linkedin
          </logo-link>
          <logo-link
            [classes]="'ghost large icon-left'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            <span class="custom-icon">
              <img src="/assets/img/footer-ico-instagram.svg"/>
            </span>
            Instagram
          </logo-link>
        </div>
      </div>
      <div class="legal-links">
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Lisanssız kullanım bildirin
        </logo-link>
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Telif hakkı
        </logo-link>
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Kullanım koşulları
        </logo-link>
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Gizlilik
        </logo-link>
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Kişisel veriler
        </logo-link>
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Çerez politikası
        </logo-link>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2020 Logo UX Team. All rights reserved.</p>
    </div>
  </div>
</div>
