<div class="footer">
  <div class="newsletter-base">
    <span class="overlay"></span>
    <div class="container contents">
      <div class="gfx">
        <img src="/assets/img/footer-email.png"/>
      </div>
      <div class="text-base">
        <span class="title">
          <h1>e-Bültene Abone Olun</h1>
          <h4>Ürün İndirimleri ve Yeniliklerinden Haberdar Olun</h4>
        </span>
        <div class="form">
          <input class="large" placeholder="E-Posta Adresiniz" type="email">
          <button class="secondary large">Üye Ol</button>
        </div>
      </div>
    </div>
  </div>
  <div class="content-base">
    <div class="container footer-links">
      <div class="row">
        <div class="col-md-3 footer-col">
          <h3><b>Ürünler</b></h3>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/product/payroll'"
          >
            Ön Musabe Yönetimi
          </logo-link>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/product/payroll'"
          >
            Ön Musabe Yönetimi
          </logo-link>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/product/payroll'"
          >
            Ön Musabe Yönetimi
          </logo-link>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/product/payroll'"
          >
            Ön Musabe Yönetimi
          </logo-link>
        </div>
        <div class="col-md-3 footer-col">
          <h3><b>Çözümler</b></h3>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/product/payroll'"
          >
            Bordro ve İnsan Kaynakları Yönetimi
          </logo-link>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/product/payroll'"
          >
            Bordro ve İnsan Kaynakları Yönetimi
          </logo-link>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/product/payroll'"
          >
            Bordro ve İnsan Kaynakları Yönetimi
          </logo-link>
        </div>
        <div class="col-md-3 footer-col">
          <h3><b>Hakkımızda</b></h3>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/info/about'"
          >
            Logo Yazılım Hakkında
          </logo-link>
          <logo-link
            [classes]="'ghost large'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            Blog
          </logo-link>
          <logo-link
            [classes]="'ghost large'"
            [url]="'/info/contact'"
          >
            İletişim ve Destek
          </logo-link>
        </div>
        <div class="col-md-3 footer-col">
          <h3><b>Bizi Talip Edin!</b></h3>
          <logo-link
            [classes]="'ghost large icon-left le-twitter'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            Twitter
          </logo-link>
          <logo-link
            [classes]="'ghost large icon-left le-facebook'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            Facebook
          </logo-link>
          <logo-link
            [classes]="'ghost large icon-left le-youtube_clip'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            Youtube
          </logo-link>
          <logo-link
            [classes]="'ghost large icon-left'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            <span class="custom-icon">
              <img src="/assets/img/footer-ico-linkedin.svg"/>
            </span>
            Linkedin
          </logo-link>
          <logo-link
            [classes]="'ghost large icon-left'"
            [external]="true"
            [url]="'http://blog.logo.com.tr'"
          >
            <span class="custom-icon">
              <img src="/assets/img/footer-ico-instagram.svg"/>
            </span>
            Instagram
          </logo-link>
        </div>
      </div>
      <div class="legal-links">
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Lisanssız kullanım bildirin
        </logo-link>
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Telif hakkı
        </logo-link>
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Kullanım koşulları
        </logo-link>
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Gizlilik
        </logo-link>
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Kişisel veriler
        </logo-link>
        <logo-link
          [classes]="'ghost large'"
          [external]="true"
          [url]="'http://blog.logo.com.tr'"
        >
          Çerez politikası
        </logo-link>
      </div>
    </div>
    <div class="copyright">
      <p>Copyright © 2020 Logo UX Team. All rights reserved.</p>
    </div>
  </div>
</div>
