<div class="docs-detail">
  <logo-hero [bgImage]="'/assets/img/gfx-hero-sub-bg.png'" [containerStatus]="true" [cssClasses]="'polaris-hero-sub'">
    <div class="hero-content">
      <h1>Arama Sonuçları</h1>
      <p class="large">Lorem ipsum dolor sit amet consectetur.</p>
      <div class="input-base">
        <div class="input-w-icon large left no-line">
          <span class="le-search"></span>
          <input class="large light icon-left" placeholder="Ürün Ara">
        </div>
        <button (click)="doSearch()" class="primary large icon-right le-chevron_right">Arayın</button>
      </div>
    </div>
  </logo-hero>
</div>
