<a [routerLink]="['/logo/core-sample/mask-directive-showcase/mask-directive-showcase.component']">Mask Directive</a> |
<a [routerLink]="['/logo/excel-sample/excel-showcase/excel-showcase.component']">Excel Sample</a> |
<a [routerLink]="['/logo/language-sample/language-showcase/language-showcase.component']">Language Sample</a> |
<a [routerLink]="['/logo/table-sample/table-showcase/table-showcase.component']">Table Sample</a>
<a [routerLink]="['/logo/paging-sample/paging-showcase/paging-showcase.component']">Paging Sample</a>

<router-outlet></router-outlet>
