<p>
  <ng-container *ngFor="let component of components; let isLast=last">
    <ng-container *ngIf="!component.hide">
      <a
        [routerLink]="['/logo/' + component.name + '-sample/' + component.name + '-showcase/' + component.name + '-showcase.component']">{{this.toUpperCase(component.name)}}</a>
      <span>{{isLast ? "" : " | "}}</span>
    </ng-container>
    <ng-container *ngFor="let child of component.children; let isLastChild=last">
      <a
        [routerLink]="['/logo/' + component.name + '-sample/' + child.name + '-showcase/' + child.name + '-showcase.component']">{{this.toUpperCase(child.name)}}</a>
      <span>{{isLast && isLastChild ? "" : " | "}}</span>
    </ng-container>
  </ng-container>
</p>

<logo-toast></logo-toast>
<router-outlet></router-outlet>

