@import "~@logo-software/theme/base";

:host {
  .intro {
    display: flex;
    flex-direction: row;
    position: relative;
    height: size(720px);
    background-image: linear-gradient(180deg, #f0f5ff 0%, #dde8fd 100%);

    .left {
      display: flex;
      justify-content: center;
      align-items: center;

      .title-content {
        position: relative;
        z-index: 2;
        max-width: size(476px);
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: size(-75px);

        .title {
          font-size: size(60px);
          letter-spacing: 0;
          line-height: 45px;

          .for {
            color: #01cc78;
          }
        }

        .description {
          font-size: size(20px);
          color: #707070;
          letter-spacing: 0;
          line-height: size(27px);
          padding-top: size(16px);
        }
      }
    }

    .img-1 {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
    }

    .img-2 {
      position: absolute;
      right: -88px;
      bottom: 0;
    }
  }

  .usage {
    section.three {
      .row {
        min-height: size(500px);

        .content {
          color: #707070;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-left: size(-30px);

          h1 {
            font-size: size(40px);
            color: #707070;
            line-height: size(45px);
          }

          p.description {
            margin: size(30px) 0 size(30px) 0;
            font-size: size(20px);
          }

          ul {
            list-style-type: none;
            padding-left: 0;

            li {
              &:nth-child(1) {
                background-color: #00c375;
              }

              display: flex;
              margin-top: size(20px);
              padding-left: size(10px);
              background: #ebf3f8;
              border-radius: 11px;
              font-size: 16px;
              line-height: 22px;

              img {
                padding: size(32px);
              }

              h2 {
                font-weight: bold;
                font-size: size(20px);
              }

              p {
                padding: 31px 51px 27px 0;
                font-size: 20px;
                line-height: 27px;
              }
            }
          }
        }

        .right {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            position: relative;
            margin-left: size(149px);
          }
        }

        logo-link {
          margin-top: size(35px);
        }
      }
    }
  }

  .specs {
    background-color: #e9f3f9;

    h1 {
      font-size: size(45px);
      font-weight: lighter;
      text-align: center;
    }

    p {
      font-size: size(20px);
      text-align: center;
      margin-bottom: 50px;
    }

    logo-carousel {
      .slider-item {
        box-shadow: 0 size(60px) size(60px) #6e6e6e46;
        border-radius: size(20px);
        box-sizing: border-box;
        backdrop-filter: blur(23px);
        color: var(--neutral-800);
        padding: size(30px) size(44px);
        min-width: size(264px);
        width: size(264px);
        margin-right: size(24px);
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        justify-content: flex-start;

        .icon {
          height: size(42px);
        }

        .abbr {
          font-weight: bold;
          font-size: size(40px);
        }

        .title {
          color: #89969f;
          font-size: size(12px);
          font-weight: bold;
          letter-spacing: size(0.2px);
        }

        .description {
          margin-top: size(20px);
          font-size: size(16px);
          font-weight: 300;
        }

        .detail {
          font-size: size(12px);
          margin-top: size(20px);
        }
      }

      ::ng-deep {
        .arrow-with-animation .slider-arrow {
          color: var(--white);

          --active: var(--white);
          --border: rgba(255, 255, 255, 0.12);
        }

        .dots {
          .dot {
            border-color: #ffffff;

            &::after {
              background-color: rgba(255, 255, 255, 0.6);
            }
          }
        }
      }
    }
  }
}
