<div class="popover-sample-base">
  <button [logoPopover]="'myLogoPopover'" id="popoverBtn">
    Toggle Popover
  </button>
  <logo-popover
    [cssClasses]="'my-own-theme-css'"
    [hasSearch]="true"
    [id]="'myLogoPopover'"
    [isBackClick]="true"
    [position]="PopoverPosition.POPOVER_BOTTOM_LEFT"
    [sameSize]="false"
  >
    <logo-datepicker
      [(dateValue)]="datepicker.value"
      [time]="false"
    >
    </logo-datepicker>
  </logo-popover>
  <br/>
  <br/>
  <button [logoPopover]="'myLogoPopover2'">
    Toggle Popover
  </button>
  <logo-popover
    [cssClasses]="'my-own-theme-css'"
    [hasSearch]="true"
    [id]="'myLogoPopover2'"
    [isBackClick]="true"
    [position]="PopoverPosition.POPOVER_BOTTOM_RIGHT"
    [sameSize]="false"
  >
    <logo-datepicker
      [(dateValue)]="datepicker.value"
      [time]="false"
    >
    </logo-datepicker>
  </logo-popover>
  <br/>
  <br/>
  <button [logoPopover]="'myLogoPopover3'">
    Toggle Popover
  </button>
  <logo-popover
    [cssClasses]="'my-own-theme-css'"
    [hasSearch]="true"
    [id]="'myLogoPopover3'"
    [isBackClick]="true"
    [position]="PopoverPosition.POPOVER_LEFT"
    [sameSize]="false"
  >
    <logo-datepicker
      [(dateValue)]="datepicker.value"
      [time]="false"
    >
    </logo-datepicker>
  </logo-popover>
  <br/>
  <br/>
  <button [logoPopover]="'myLogoPopover4'">
    Toggle Popover
  </button>
  <logo-popover
    [cssClasses]="'my-own-theme-css'"
    [hasSearch]="true"
    [id]="'myLogoPopover4'"
    [isBackClick]="true"
    [position]="PopoverPosition.POPOVER_RIGHT"
    [sameSize]="false"
  >
    <logo-datepicker
      [(dateValue)]="datepicker.value"
      [time]="false"
    >
    </logo-datepicker>
  </logo-popover>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
  <p>1234567890</p>
</div>
