<div class="row">
  <div class="content col-xs-10">
    <button [disabled]="disabled" class="{{selectedSize}} {{selectedKindType}}">Primary Button</button>
  </div>
  <div class="settings col-xs-2">
    <div>
      Modifiers
      <div>
        <input [(ngModel)]="disabled" type="checkbox" id="disable">
        <label for="disable">Disabled</label>
      </div>
    </div>
    <div>
      Size
      <div *ngFor="let sizeType of sizeTypes;index as i">
        <input
          type="checkbox"
          id="{{sizeType.class}}-{{i}}"
          [(ngModel)]="sizeType.selected"
          (change)="changeSizeType(sizeType.class)"
        >
        <label for="{{sizeType.class}}-{{i}}">{{sizeType.class}}</label>
      </div>
    </div>
    <div>
      Kind
      <div *ngFor="let kindType of kindTypes;index as i">
        <input
          type="checkbox"
          id="{{kindType.class}}-{{i}}"
          [(ngModel)]="kindType.selected"
          (change)="changeKindType(kindType.class)"
        >
        <label for="{{kindType.class}}-{{i}}">{{kindType.class}}</label>
      </div>
    </div>
  </div>
</div>

