<div class="timepicker-sample-base">
  <logo-timepicker (onChange)="timeIs($event)" [(ngModel)]="time" [id]="'my-logo-timepicker'"></logo-timepicker>
  <div class="selected-container">
    <span class="label">Time is: </span>
    <span class="value">{{time}}</span>
  </div>
</div>
<div class="timepicker-sample-base">
  <h4>Disabled State</h4>
  <logo-timepicker
    (onChange)="timeIs($event)"
    [(ngModel)]="time"
    [id]="'my-disabled-logo-timepicker'"
    [isDisabled]="true"
  >
  </logo-timepicker>
  <div class="selected-container">
    <span class="label">Time is: </span>
    <span class="value">{{time}}</span>
  </div>
</div>
<p>SCROLL MAKER</p>
<p>SCROLL MAKER</p>
<p>SCROLL MAKER</p>
<p>SCROLL MAKER</p>
<p>SCROLL MAKER</p>
<p>SCROLL MAKER</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>
<p>------------</p>

