:host {
  display: block;

  .selected-container {
    margin: 30px 0;
    background-color: rgba(var(--dark-100-rgb), 0.4);
    padding: 20px;
    font-size: 14px;

    .label {
      font-weight: bold;
    }

    .value {
      color: var(--green);
    }
  }
}
