<logo-header
  [containerStatus]="false"
  [defaultTheme]="headerTheme.START"
  [logoLinkClasses]="'large'"
  [isMobilized]="true"
  [logoLinkText]="'Logo Developer'"
  [menuPosition]="'center'"
  [scrolledTheme]="headerTheme.SCROLL"
  [scrollPoint]="75"
  [scrollSpy]="true"
  [watchElement]="'body'"
>
  <div class="nav">
    <logo-link [classes]="'ghost large'" [url]="'/'">Services</logo-link>
    <logo-link
      [classes]="'ghost large'"
      [external]="true"
      [url]="'http://wiki.logo.com.tr/pages/viewpage.action?pageId=65132817'"
    >
      Docs
    </logo-link>
    <logo-link
      [classes]="'ghost large'"
      [external]="true"
      [url]="'http://design.logo.com.tr'"
    >
      Guideline
    </logo-link>
    <logo-link
      [classes]="'ghost  large'"
      [external]="true"
      [url]="'http://wiki.logo.com.tr/pages/viewrecentblogposts.action?key=PSDOC'"
    >
      Blog
    </logo-link>
  </div>
  <button class="primary large explore">Explore</button>
</logo-header>
<logo-cursor *ngIf="false" [targets]="['.cursor', '.arrow', 'svg']" [timeDuration]="200"></logo-cursor>
<main>
  <router-outlet></router-outlet>
</main>
