@import "~@logo-software/theme/base";

:host {
  --header-height: #{size(84px)};

  display: block;

  ::ng-deep {
    logo-header {
      padding: 0 size(30px);

      .header {
        .logo {
          color: var(--white);
          font-weight: 600;
          font-size: size(20px);
          line-height: size(26px);

          &::before {
            content: "";
            mask-image: url("/assets/images/main/paas-logo.svg");
            mask-repeat: no-repeat;
            background: var(--white);
            width: size(22px);
            height: size(22px);
            margin-right: size(10px);
            opacity: 0.5;
          }
        }
      }

      &:not(.opened) {
        .header {
          .menu {
            .nav {
              margin-right: size(140px);
            }
          }
        }
      }

      &.scroll {
        .logo {
          &::before {
            background-color: var(--dark);
          }
        }
      }
    }
  }

  main {
    padding-top: var(--header-height);
  }
}
