@import "~@logo-software/theme/base";

::ng-deep {
  logo-header {
    padding: 0 size(30px);

    .header {
      .logo {
        font-weight: 600;
        font-size: size(20px);
        line-height: size(26px);

        &::before {
          --scroll-logo-before-color: var(--light);
          --scroll-logo-before-bg: var(--light);

          content: "";
          mask-image: url("/assets/images/main/paas-logo.svg");
          mask-repeat: no-repeat;
          mask-position: center;
          width: size(22px);
          height: size(22px);
          margin-right: size(10px);
          opacity: 0.5;
        }
      }
    }

    &:not(.opened) {
      .header {
        .menu {
          .nav {
            margin-right: size(90px);
          }

          .explore {
            box-shadow: 0 size(4px) size(10px) rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}

:host {
  --header-height: #{size(84px)};
  --scroll-bg: linear-gradient(0deg, #440be9, #440be9);
  --scroll-logo-color: var(--light);
  --scroll-button-color: var(--light);
  --scroll-button-opener-color: var(--light);

  display: block;

  main {
    padding-top: var(--header-height);
  }
}
