@import "~@logo-software/theme/base";

:host {
  --header-height: #{size(84px)};

  display: block;

  ::ng-deep {
    logo-header {
      padding: 0 size(30px);

      .header {
        .logo {
          color: var(--white);
          font-weight: 600;
          font-size: size(20px);
          line-height: size(26px);

          &::before {
            content: "";
            mask-image: url("/assets/images/main/paas-logo.svg");
            mask-repeat: no-repeat;
            mask-position: center;
            background: var(--white);
            width: size(22px);
            height: size(22px);
            margin-right: size(10px);
            opacity: 0.5;
          }
        }
      }

      &:not(.opened) {
        .header {
          .menu {
            .nav {
              margin-right: size(140px);
            }

            .explore {
              box-shadow: 0 size(4px) size(10px) rgba(0, 0, 0, 0.3);
            }
          }
        }
      }

      &.scroll {
        background: linear-gradient(0deg, #440be9, #440be9);

        .header {
          .logo {
            color: var(--white) !important;

            &::before {
              background-color: var(--white);
            }
          }

          .menu {
            .nav {
              a {
                color: var(--white);
              }
            }
          }
        }

        .mobile-opener {
          button {
            color: var(--white) !important;
          }
        }
      }

      &.opened {
        .mobile-opener {
          button {
            color: var(--dark) !important;
          }
        }
      }
    }
  }

  main {
    padding-top: var(--header-height);
  }
}
