<div class="speed-connect-base">
  <div class="speed-content">
    <h1><b>Aradığınızı bulamadınız mı?</b></h1>
    <h3 class="small">İhtiyaçlarınızı belirtin size en uygun olabilecek ürünü bulalım!</h3>
    <span class="cta">
      <logo-link [classes]="'primary large outline icon-right le-arrow_right'">Ürün Bulucu</logo-link>
    </span>
    <div class="separator">veya</div>
    <h3 class="small">Telefon numaranızı yazın müşteri temsilcilerimiz sizi arasın!</h3>
    <div class="connect-form">
      <div class="icon-base">
        <span class="le-phone"></span>
      </div>
      <div class="form-base">
        <input class="light" maxlength="11" type="number">
        <logo-link [classes]="'primary outline icon-right le-arrow_right'">Gönder</logo-link>
      </div>
    </div>
  </div>
</div>
