<div class="intro">
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="title-content">
      <h1 class="title g7 bold">
        Relase Control Features
      </h1>
      <p class="description large">
        DbVersion servisinin amacı; LOGO ürünlerinin ve mikro servislerinin veritabanı şemalarını ve varsayılan
        kayıtlarını çok kullanıcılı bir şekilde yönetmek ve versiyonlamaktır. PostgreSql, MySql, SqlServer gibi
        veritabanlarını destekler.
      </p>
      <logo-link
        [classes]="['primary', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139745"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <img src="./assets/images/services/rcfs/rcfs-intro-bg.png">
  </div>
</div>
<div class="usage row">
  <div class="right col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="specs-header">
      <img src="./assets/images/services/rcfs/rcfs-icon-1.svg" alt="">
      <h2 class="g8 bold">Kullanım Senaryoları</h2>
      <h2>
        Development / test / staging / production ortamlarında sürümlerin yönetilmesini kolayca sağlayın.
      </h2>
    </div>
    <div class="specs-content">
      <ul>
        <li>
          <p class="large">
            Jira Sprint maddelerini sorgulayın, kaydedin ve mail atın.
          </p>
        </li>
        <li>
          <p class="large">
            Web üzerindeki iki dosya sürümünü karşılaştırın.
          </p>
        </li>
        <li>
          <p class="large">
            Ortamdaki tüm servislerin sürümlerini görüntüleyin.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="left col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <img src="./assets/images/services/rcfs/rcfs-usage-bg-1.png" alt="">
  </div>
</div>
<div class="usage-2 row">
  <div class="right col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <img class="img-fluid" src="./assets/images/services/rcfs/rcfs-usage-illu-2.png" alt="">
  </div>
  <div class="left col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="specs-content">
      <ul>
        <li>
          <p class="large">
            Jira Sprint maddelerini sorgulayın, kaydedin ve mail atın.
          </p>
        </li>
        <li>
          <p class="large">
            Web üzerindeki iki dosya sürümünü karşılaştırın.
          </p>
        </li>
        <li>
          <p class="large">
            Ortamdaki tüm servislerin sürümlerini görüntüleyin.
          </p>
        </li>
      </ul>
      <logo-link
        [classes]="['success', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139745"
      >
        TÜMÜNÜ GÖRÜNTÜLE
      </logo-link>
    </div>
  </div>
</div>
<div class="specs">
  <section class="four">
    <h1>Özellikler</h1>
    <p>RCFS ‘den nelerde ve nasıl faydalanabileceğinizi öğrenin. İşinize değer katın!</p>
    <logo-carousel [count]="1" [arrow]="true" [dots]="true">
      <div class="slider-item" *ngFor="let item of sliderItems">
        <div class="icon-bg"
             [ngStyle]="{'-webkit-mask-image': 'url('+item.icon+')', 'mask-image': 'url('+item.icon+')'}"
        >
        </div>
        <div class="abbr">{{item.abbr}}</div>
        <div class="description">{{item.description}}</div>
        <!-- a class="go" href="{{item.url}}" [ngClass]="item.classes">go →</a-->
      </div>
    </logo-carousel>
  </section>
</div>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
