<logo-header></logo-header>
<div class="intro">
  <div class="col-md-6">
    <div class="title-content">
      <h1 class="title g7 bold">
        Relase Control Features
      </h1>
      <p class="description large">
        DbVersion servisinin amacı; LOGO ürünlerinin ve mikro servislerinin veritabanı şemalarını ve varsayılan
        kayıtlarını çok kullanıcılı bir şekilde yönetmek ve versiyonlamaktır. PostgreSql, MySql, SqlServer gibi
        veritabanlarını destekler.
      </p>
      <logo-link
        [classes]="['primary', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139745"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-fluid" src="./assets/images/services/rcfs/rcfs-intro-bg.png">
  </div>
</div>
<div class="usage row">
  <div class="right col-md-6 col-sm-12">
    <div class="specs-content">
      <img src="./assets/images/services/rcfs/rcfs-icon-1.svg" alt="">
      <h2 class="g8 bold">Kullanım Senaryoları</h2>
      <h2>
        Development / test / staging / production ortamlarında sürümlerin yönetilmesini kolayca sağlayın.
      </h2>
      <ul>
        <li>
          <p class="large">
            Jira Sprint maddelerini sorgulayın, kaydedin ve mail atın.
          </p>
        </li>
        <li>
          <p class="large">
            Web üzerindeki iki dosya sürümünü karşılaştırın.
          </p>
        </li>
        <li>
          <p class="large">
            Ortamdaki tüm servislerin sürümlerini görüntüleyin.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="left col-md-6">
    <img src="./assets/images/services/rcfs/rcfs-usage-bg-1.png" alt="">
  </div>

</div>
<div class="usage-2 row">
  <div class="right col-md-6">
    <img class="img-fluid" src="./assets/images/services/rcfs/rcfs-usage-illu-2.png" alt="">
  </div>
  <div class="left col-md-6 col-sm-12">
    <div class="specs-content">
      <ul>
        <li>
          <p class="large">
            Jira Sprint maddelerini sorgulayın, kaydedin ve mail atın.
          </p>
        </li>
        <li>
          <p class="large">
            Web üzerindeki iki dosya sürümünü karşılaştırın.
          </p>
        </li>
        <li>
          <p class="large">
            Ortamdaki tüm servislerin sürümlerini görüntüleyin.
          </p>
        </li>
      </ul>
      <logo-link
        [classes]="['success', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139826"
      >
        TÜMÜNÜ GÖRÜNTÜLE
      </logo-link>
    </div>

  </div>


</div>
<logo-user-review
  backgroundUrl="/assets/images/reviewers/green-background.png"
  imageUrl="/assets/images/services/ss/section-04-hand.png"
  [reverse]="true"

  [imageStyle]="{'background-position':'bottom left'}"
>
</logo-user-review>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>

