<div class="product-detail-page">
  <logo-hero [containerStatus]="true" [cssClasses]="'hero-product-detail'">
    <logo-breadcrumb
      [breadcrumb]="[{name:'Anasayfa', link: '/'}, {name:'Ürünler', link: '/prudcts'}, {name: 'product.name'}]"
      [isLight]="true"
      [size]="'medium'"
    >
    </logo-breadcrumb>
    <div class="content">
      <div class="product-label">
        <span class="logo">
          <img src="/assets/data/sample-product-logo-1.png">
        </span>
        <h4>İK süreçleriniz dönüşüyor, verileriniz Logo güvencesi ile buluta taşınıyor!</h4>
      </div>
      <div class="buy-opts">
        <button class="large outline white">14 Gün Ücretsiz Deneyin</button>
        <button class="large primary">Satın Alın</button>
      </div>
    </div>
  </logo-hero>
</div>
