<div class="product-list-page">
  <logo-hero [containerStatus]="true" [cssClasses]="'hero-product-list'">
    <logo-breadcrumb
      [breadcrumb]="[{name:'Anasayfa', link: '/'}, {name:'Ürünler'}]"
      [isLight]="true"
      [size]="'medium'"
    >
    </logo-breadcrumb>
    <div class="content">
      <div class="w-search">
        <h2><b>Tüm Cloud Ürünlerimiz</b></h2>
        <p class="motto">Lorem ipsum dolor sit amet consectetur</p>
        <div class="input-w-icon large left">
          <span class="le-search"></span>
          <input class="large light icon-left" placeholder="Ürün Ara">
        </div>
        <div class="separator"><p>veya</p></div>
        <h5><b>İhtiyaçlarınızı belirtin size en uygun olabilecek ürünü bulalım!</b></h5>
        <div class="cta">
          <logo-link [classes]="'primary large icon-right le-arrow_right'" [fragment]="'productFinder'" [url]="'/'">Ürün
            Bulucuya Git
          </logo-link>
        </div>
      </div>
      <div class="wo-search">
        <h1><b>Consectetur adipiscing elit</b></h1>
        <p class="motto large">
          Maecenas tellus orci, consequat sollicitudin quam at, egestas tincidunt mauris. Pellentesque id lorem lacus.
          Vestibulum viverra eleifend elit.
        </p>
      </div>
    </div>
  </logo-hero>
  <div class="container page-content">
    <div class="filters">
      <div class="section">
        <span class="title">Kategoriler</span>
        <div *ngIf="solutionService.solutionSummaries" class="list">
          <div *ngFor="let solution of solutionService.solutionSummaries" class="item">
            <label>
              <input [checked]="false" id="solutions-{{solution.id}}" type="checkbox">
              <span>{{solution.name}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="section">
        <span class="title">Segmentler</span>
        <div *ngIf="segmentData" class="list">
          <div *ngFor="let segment of segments" class="item">
            <label>
              <input [checked]="false" id="segments-{{segment.id}}" type="radio">
              <span>{{segment.title}} <small>({{segment.description}})</small></span>
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="sectorData" class="section">
        <span class="title">Sektörler ({{sectors.length}})</span>
        <div class="list stucked">
          <div class="input-w-icon right">
            <span class="le-search"></span>
            <input class="icon-right" placeholder="Sektör Ara">
          </div>
          <div *ngFor="let sector of sectors" class="item">
            <label>
              <input [checked]="false" id="sectors-{{sector.id}}" type="checkbox">
              <span>{{sector.name}}</span>
            </label>
          </div>
          <logo-link [classes]="'primary ghost icon-right small le-chevron_down more-btn'">Daha Fazla Gör</logo-link>
        </div>
      </div>
    </div>
    <div class="contents">
      <div class="filter-area">
        <div class="filter-names">
          <logo-link [classes]="'secondary icon-right le-cross'">e-Ticaret</logo-link>
          <logo-link [classes]="'secondary icon-right le-cross'">Kobi</logo-link>
        </div>
        <div class="filter-opts">
          <logo-link [classes]="'secondary outline icon-right small le-trash'">Filtreleri temizle</logo-link>
        </div>
      </div>
      <div *ngIf="ProductSummaries" class="infos">
        <h4>{{ProductSummaries.length}} sonuç listeleniyor</h4>
      </div>
      <div *ngIf="ProductSummaries" class="listing">
        <div *ngFor="let productItem of ProductSummaries" class="list-item">
          <logo-product-item [productData]="productItem"></logo-product-item>
        </div>
      </div>
      <logo-paging
        *ngIf="ProductSummaries"
        [pageSize]="12"
        [recordsFound]="' adet içerik bulundu.'"
        [threshold]="5"
        [totalCount]="ProductSummaries.length"
      >
      </logo-paging>
      <logo-speed-connect></logo-speed-connect>
    </div>
  </div>
</div>
<logo-cloud-footer></logo-cloud-footer>
