<div class="product-list-page">
  <logo-hero [containerStatus]="true" [cssClasses]="'hero-product-list'">
    <logo-breadcrumb
      [breadcrumb]="[{name:'Anasayfa', link: '/'}, {name:'Ürünler'}]"
      [isLight]="true"
      [size]="'medium'"
    >
    </logo-breadcrumb>
    <div class="content">
      <div class="w-search">
        <h2><b>Tüm Cloud Ürünlerimiz</b></h2>
        <p class="motto">Lorem ipsum dolor sit amet consectetur</p>
        <div class="input-w-icon large left">
          <span class="le-search"></span>
          <input class="large light icon-left" placeholder="Ürün Ara">
        </div>
        <div class="separator"><p>veya</p></div>
        <h5><b>İhtiyaçlarınızı belirtin size en uygun olabilecek ürünü bulalım!</b></h5>
        <div class="cta">
          <logo-link [classes]="'primary large icon-right le-arrow_right'" [fragment]="'productFinder'" [url]="'/'">Ürün
            Bulucuya Git
          </logo-link>
        </div>
      </div>
      <div class="wo-search">
        <h1><b>Consectetur adipiscing elit</b></h1>
        <p class="motto large">
          Maecenas tellus orci, consequat sollicitudin quam at, egestas tincidunt mauris. Pellentesque id lorem lacus.
          Vestibulum viverra eleifend elit.
        </p>
      </div>
    </div>
  </logo-hero>
  <!--
    @TODO DEV: Eğer filtreleme kaldırılacaksa, page-content classının yanına container eklenecek
  -->
  <div class="page-content">
    <div [ngClass]="isFilterExpanded ? 'expanded' : ''" class="filters">
      <div class="mobile-button-base">
        <button (click)="toogleFilters()" class="secondary ghost icon-left le-filter">
          Filtrele <span class="le-arrow_down"></span>
        </button>
      </div>
      <div class="section">
        <span class="title">Kategoriler</span>
        <div *ngIf="solutionService.solutionSummaries" class="list">
          <div *ngFor="let solution of solutionService.solutionSummaries" class="item">
            <label>
              <input
                (change)="setToCurrentFilters('solution', solution.id, solution.name, $event)"
                [checked]="checkCurrentFilters(solution.id)"
                id="solutions-{{solution.id}}"
                type="checkbox"
              >
              <span>{{solution.name}}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="section">
        <span class="title">Segmentler</span>
        <div *ngIf="segmentData" class="list">
          <div *ngFor="let segment of segments" class="item">
            <label>
              <input
                (change)="setSegmentFilter($event.target, segment.title)"
                [checked]="checkCurrentFilters(segment.id)" [value]="segment.id"
                id="segments-{{segment.id}}"
                name="segment"
                type="radio"
              >
              <span>{{segment.title}} <small>({{segment.description}})</small></span>
            </label>
          </div>
        </div>
      </div>
      <div *ngIf="sectorData" class="section">
        <span class="title">Sektörler ({{sectors.length}})</span>
        <div class="list">
          <div class="input-w-icon right">
            <span class="le-search"></span>
            <input class="icon-right" placeholder="Sektör Ara">
          </div>
          <div [ngClass]="!isSectorListExpanded ? 'stucked' : ''" class="sector-items">
            <div *ngFor="let sector of sectors" class="item">
              <label>
                <input (change)="setToCurrentFilters('solution', sector.id, sector.name, $event)"
                       [checked]="checkCurrentFilters(sector.id)" id="sectors-{{sector.id}}" type="checkbox">
                <span>{{sector.name}}</span>
              </label>
            </div>
          </div>
          <button
            (click)="toogleSectorList()"
            *ngIf="sectors.length > 4"
            [ngClass]="!isSectorListExpanded ? 'le-chevron_down' : 'le-chevron_up'"
            class="primary ghost icon-right small more-btn"
          >
            {{ !isSectorListExpanded ? 'Daha Fazla Gör' : 'Daha Az Gör'}}
          </button>
        </div>
      </div>
    </div>
    <div class="contents">
      <div *ngIf="currentFilters.length > 0" class="filter-area">
        <div class="filter-names">
          <logo-tags
            (onRemoveClicked)="removeFilter($event)"
            *ngFor="let filter of currentFilters"
            [cssClass]="'filter-tag'"
            [item]="filter.data"
          ></logo-tags>
        </div>
        <div class="filter-opts">
          <button (click)="clearAllFilters()" class="secondary outline icon-right small le-trash">
            Filtreleri temizle
          </button>
        </div>
      </div>
      <div *ngIf="ProductSummaries" class="infos">
        <h4>{{ProductSummaries.length}} sonuç listeleniyor</h4>
      </div>
      <div *ngIf="ProductSummaries" class="listing">
        <div *ngFor="let productItem of ProductSummaries" class="list-item">
          <logo-product-item [productData]="productItem"></logo-product-item>
        </div>
      </div>
      <logo-paging
        *ngIf="ProductSummaries"
        [pageSize]="12"
        [recordsFound]="' adet içerik bulundu.'"
        [threshold]="5"
        [totalCount]="ProductSummaries.length"
      >
      </logo-paging>
      <logo-speed-connect></logo-speed-connect>
    </div>
  </div>
</div>

<logo-cloud-footer></logo-cloud-footer>
