@import "~@logo-software/theme/base";

:host {
  .intro {
    display: flex;
    height: size(750px);

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .content {
        position: relative;
        z-index: 2;
        font-family: get("font.alternative");
        max-width: size(477.44px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: size(64px);

        h1 {
          font-weight: bold;
          font-size: size(50px);
          line-height: size(50px);
          color: var(--success);
          margin-bottom: size(25px);
        }

        p {
          font-weight: normal;
          font-size: size(20px);
          line-height: size(27px);
        }

        logo-link {
          margin-top: size(29px);
        }
      }
    }

    .background {
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;

      .image {
        max-width: 100%;
        height: auto;
        position: absolute;
        right: 0;
        top: 0;
      }

      @include smaller-than(md) {
        display: none;
      }
    }
  }

  .usage {
    display: flex;
    position: relative;
    min-height: 100vh;
    padding-bottom: size(60px);
    background-image: url("/assets/images/services/vvs/section-02-bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;

    .container {
      .content {
        display: flex;
        text-align: center;

        h1 {
          font-family: get("font.alternative");
          font-weight: bold;
          font-size: size(40px);
          line-height: size(45px);
          color: #707070;
        }

        p {
          font-weight: normal;
          font-size: size(20px);
          line-height: size(28px);
          color: #707070;
        }

        .cards {
          display: flex;
          text-align: left;

          .card {
            display: flex;
            flex-direction: column;
            margin-top: size(21px);
            background-color: #f5f8fe;
            border-radius: size(24px);
            padding: size(57px) size(55px);
            border-right: size(1px) solid #e0e5ef;
            flex-basis: 50%;

            img {
              max-width: size(51px);
              max-height: size(51px);
            }

            p {
              font-weight: normal;
              font-size: size(20px);
              line-height: size(27px);
              margin-top: size(40px);
            }

            &:first-child {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }

            &:last-child {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              border-right: none;
            }
          }

          @include smaller-than(md) {
            flex-direction: column;

            .card:first-child, .card:last-child {
              border: none;
              border-radius: size(24px);
            }
          }
        }

        logo-link {
          margin-top: size(50px);
        }
      }
    }

    .background {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 100%;
      }
    }

    @include smaller-than(md) {
      .container {
        .content {
          ::ng-deep {
            logo-link {
              a {
                // @extend %primary-success;
              }
            }
          }
        }
      }
    }
  }

  .specs {
    display: flex;
    justify-content: center;
    align-items: center;

    .usage-header {
      text-align: center;
      margin: size(35px);
    }

    .left {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        position: absolute;
        left: 0;
      }
    }

    .right {
      .usage-content {
        padding-left: size(113px);

        h2 {
          margin-top: size(15px);
        }

        logo-link {
          margin: size(30px);
        }

        .usage-card {
          display: flex;
          border-radius: size(11px);

          div {
            display: flex;
            align-items: center;

            img {
              margin: size(45px) 0 size(45px) 0;
            }

            img:nth-child(1) {
              align-self: flex-end;
            }
          }

          div:nth-child(1) {
            justify-content: center;
          }
        }
      }
    }
  }
}
