<div class="intro">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="vvs-title-content">
      <p class="g8 bold title">
        Veritabanı versiyonlama sistemi
      </p>
      <p class="large">
        DbVersion servisinin amacı; LOGO ürünlerinin ve mikro servislerinin veritabanı şemalarını ve varsayılan
        kayıtlarını çok kullanıcılı bir şekilde yönetmek ve versiyonlamaktır. PostgreSql, MySql, SqlServer gibi
        veritabanlarını destekler.
      </p>
      <logo-link
        [classes]="['success', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331918"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-1" src="./assets/images/services/vvs/vvs-intro-bg.png">
  </div>
</div>
<div class="usage">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div class="cards">
      <h1 class="bold">Kullanım Senaryoları</h1>
      <h4>Uygulamaları nasıl kullanacağınızı keşfedin. İşinize değer katın!</h4>
      <div class="specs-card">
        <div class="col-md-2 col-xs-2">
          <img src="./assets/images/services/vvs/vvs-check.svg">
        </div>
        <div class="col-md-10 col-xs-10">
          <h4>
            Uygulamalarınızın belirli periyotlarla tekrar eden işlerini tanımlayın ve yönetin.
          </h4>
        </div>
      </div>
      <div class="specs-card">
        <div class="col-md-2 col-xs-2">
          <img src="./assets/images/services/vvs/vvs-check.svg">
        </div>
        <div class="col-md-10 col-xs-10">
          <h4>
            Uygulamalarınızın belirli periyotlarla tekrar eden işlerini tanımlayın ve yönetin.
          </h4>
        </div>
      </div>
      <logo-link
        [classes]="['large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331918"
      >
        DETAYLARI GÖRÜNTÜLE
      </logo-link>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <img src="./assets/images/services/vvs/vvs-usage-phone.png">
  </div>
</div>
<div class="specs row">
  <div class="usage-header col-lg-12 col-md-12 col-xs-12">
    <h2 class="g6">Özellikler</h2>
    <p class="large">
      DBVS ‘den nelerde ve nasıl faydalanabileceğinizi öğrenin. İşinize değer katın!
    </p>
  </div>
  <div class="left col-lg-6 col-md-12 col-xs-12">
    <img  src="./assets/images/services/vvs/vvs-specs-illu.png" alt="">
  </div>
  <div class="right col-lg-6 col-md-6 col-xs-12">
    <div class="usage-content">
      <div class="usage-card">
        <div class="col-md-2 col-xs-2">
          <img  src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8 col-xs-10">
          <p class="large">
            Uygulamanız için rapor şablolnarı hazırlayıp bunları raporlama servisine kaydedebilirsiniz. Daha sonra bu
            şablonları kullanarak, rapor üretmeniz mümkündür. Raporların çıktısını raporlama servisi veritabanlarında
            saklamanız mümkündür.
          </p>
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2 col-xs-2">
          <img  src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8 col-xs-10">
          <p class="large">
            Sistemde önceden tanımlanmış şablonları alıp tenant bazında özelleştirmeniz mümkündür.
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2 col-xs-2">
          <img  src="./assets/images/services/rs/rs-usage-check.svg">
        </div>
        <div class="col-md-8 col-xs-10">
          <p class="large">
            HTML şablonlarınızı, bir PAAS servisi olan Rapor Tasarım Aracını kullanarak sürükle/bırak yöntemiyle
            kolaylıkla hazırlayabilirsiniz
          </p>
        </div>
      </div>
      <logo-link
        [classes]="['success','large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331918"
      >
        DETAYLARI GÖRÜNTÜLE
      </logo-link>
    </div>
  </div>
</div>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>

