<div class="led-footer">
  <div class="footer-base">
    <div class="container">
      <span class="gfx-flight-dots">
        <img src="/assets/img/gfx_landing_condots.png" />
      </span>
      <span class="gfx-bg-plane">
        <img src="/assets/img/gfx_footer_bg_plane.png" />
      </span>
      <div class="subscribe-area">
        <span class="subscribe">
          <span class="gfx-plane">
            <img src="/assets/img/gfx_footer_plane_blue.png" />
          </span>
          <span class="subscribe-text">
            <h3>don’t miss updates from us!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          </span>
          <span class="subscribe-form">
            <form>
              <input type="email" name="usermail" id="usermail" class="footer-input large" placeholder="Your email address" />
              <button class="primary large">Subscribe</button>
            </form>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2020  Logo UX Team. All rights reserved.</p>
  </div>
</div>
