@import "~@logo-software/theme/base";

:host {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--white);

  .opinions {
    display: flex;
    position: relative;
    z-index: 1;

    .image {
      background-repeat: no-repeat;
    }

    .illustration {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 30%;

      @include smaller-than("md") {
        display: none;
      }

      .image {
        width: 100%;
        height: 100%;
      }

      .circle {
        width: size(106px);
        height: size(106px);
        border: size(2px) solid white;
        border-radius: 50%;
        background-color: var(--dark-300);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        margin-right: size(60px);
      }
    }

    .opinion {
      display: flex;
      flex-direction: column;
      padding: size(82px) size(60px) size(82px) 0;
      width: 70%;

      .review {
        h1 {
          font-family: get("font.alternative");
          color: var(--white);
          font-size: size(35px);
          font-weight: normal;
          margin-bottom: size(30px);
          padding-left: size(82px);
        }

        .description {
          position: relative;
          color: var(--white);
          padding-left: size(82px);

          &.bordered {
            border-left: size(1px) solid transparentize(white, 0.5);
          }

          ::ng-deep {
            .desc-content {
              color: var(--white);
            }
          }

          &::before {
            content: "";
            position: absolute;
            left: size(25px);
            top: size(-20px);
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
            display: inline-block;
            background: currentColor;
            color: var(--quote-color);
            -webkit-mask-image: url("/assets/images/services/idm/section-05-quoute.svg");
            width: size(30px);
            height: size(27px);
          }

          &::after {
            position: absolute;
            content: "";
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
            display: inline-block;
            background: currentColor;
            color: var(--quote-color);
            -webkit-mask-image: url("/assets/images/services/idm/section-05-quoute.svg");
            transform: rotate(-180deg);
            right: size(-30px);
            bottom: size(-10px);
            width: size(30px);
            height: size(27px);
          }
        }

        .author {
          padding-left: size(82px);
          margin-top: size(30px);

          .name {
            font-size: size(16px);
            font-weight: bold;
          }

          .title {
            font-size: size(12px);
          }
        }
      }
    }

    &.reverse {
      flex-direction: row-reverse;

      .illustration {
        justify-content: flex-start;

        .circle {
          margin-right: 0;
          margin-left: size(60px);
        }
      }

      .opinion {
        padding-right: 0;

        .review {
          .description {
            padding-right: size(82px);

            &.bordered {
              border-left: none;
              border-right: size(1px) solid transparentize(white, 0.5);
            }

            &::after {
              right: size(50px);
            }
          }
        }
      }
    }

    @include smaller-than(md) {
      &, &.reverse {
        .opinion {
          width: 100%;
          padding: size(82px) 0;

          .review {
            padding: 0;

            h1, .author {
              padding-left: 0;
            }

            h1 {
              margin-bottom: 0;
            }

            .description {
              left: size(0);
              top: size(30px);
              padding: size(25px) 0;
              margin: 0;

              &::before {
                top: 0;
                left: 0;
              }

              &::after {
                bottom: 0;
                right: 0;
              }

              &.bordered {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}
