<div class="container">
  <div *ngFor="let opinion of opinions" [ngClass]="{'reverse': reverse}" class="opinions">
    <aside *ngIf="imageUrl" class="illustration">
      <div
        [ngClass]="{'circle': circle}"
        [ngStyle]="setImageStyle()"
        class="image"
      >
      </div>
    </aside>
    <aside class="opinion">
      <div class="review">
        <h1>Kullanıcı Görüşleri</h1>
        <div [innerHTML]="opinion.description" [ngClass]="{'bordered': circle}" class="description"></div>
        <div class="author">
          <div class="name">{{opinion.author.name}}</div>
          <div class="title">{{opinion.author.title}}</div>
        </div>
      </div>
    </aside>
  </div>
</div>
