<div class="download-main" id="download-top">
  <div class="showcase">
    <div class="container">
      <div class="showcase-row row">
        <div class="figma-source  col-md-4 col-xs-12 ">
          <img class="showcase-figma-logo" src="assets/img/figma-showcase-logo.png"/>
          <h4 class="figma-source-text">Figma Source</h4>
          <h1 class="version">V1.0</h1>
        </div>
        <div class="col-md-8 col-xs-12">
          <img class="showcase-macbook" src="assets/img/showcase-macbook.png">
        </div>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="content row">
      <div class="badge">V1.0</div>
      <span class="g7 download-design">download and design </span>
      <h1 class="all-components">All components you need in this library!</h1>
      <p class="large design-system">
        Logo Elements Design System is a customizable UI Library for Figma that makes it easy
        to create awesome designs for web applications, admin areas, and dashboards.
      </p>
      <button class="large download-button">
        <img class="figma-small" src="assets/img/figma-small.png">
        Downloading...
      </button>
      <p class="ux-team">Designed with ❤️ by Logo UX Team</p>
    </div>
  </div>
</div>
<logo-led-footer></logo-led-footer>

