@import '~@logo-software/theme/base';
@import 'vars';

:host {
  display: block;

  .download-main {
    margin: size(-20px);

    .showcase {
      @include gradient(180deg, $gradient-colors);
      padding-top: size(65px);
      display: flex;
      flex-direction: row;

      showcase-figma-logo {
        width: 100%;
        max-width: size(572px);
        height: auto;
      }

      .showcase-macbook {
        width: 100%;
        max-width: size(572px);
        height: auto;
      }

      .showcase-row {
        display: flex;
        justify-content: center;
        flex-direction: row;
      }


      .figma-source {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .figma-source-text {
        margin-top: size(21px);
        font-size: size(18px);
        color: var(--light);
      }

      .version {
        color: var(--light);
        margin-top: size(10px);
      }
    }

    .content {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      padding: 0 size(20px) 0 size(20px);

      .badge {
        display: flex;
        align-items: center;
        margin-top: size(97px);
        width: size(73px);
        height: size(40px);
        justify-content: center;
        color: var(--light);
        text-align: center;
        background: var(--secondary-active);
        border-radius: size(24px);
      }

      .download-design {
        margin-top: size(20px);
      }

      .all-components {
        margin-top: size(10px) !important;
      }

      .design-system {
        max-width: size(681px);
        margin-top: size(45px);
      }

      .download-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
        color: var(--light);
        margin-top: size(45px);

        .figma-small {
          margin-right: size(9px);
        }
      }

      .ux-team {
        color: var(--neutral-700);
        margin-top: size(63px);
      }
    }
  }
}

@media (max-width: size(800px)) {
  :host {
    .download-main {
      .showcase {
        flex-direction: column;
      }

      .figma-source {
        margin: size(30px);
      }
    }
  }
}
