<div class="download-main">
<div class="showcase">
  <div class="col-md-4 col-xs-12">
    <img src="assets/imgs/figma-showcase-logo.png" />
    <h4 class="figma-source">
      Figma Source
    </h4>
    <h1 class="version">
      V1.0
    </h1>
  </div>
  <div class="col-md-8 col-xs-12">
    <img class="showcase-img" src="assets/imgs/showcase-macbook.png">
  </div>

</div>
<div class="content">
  <div class="badge">
    V1.0
  </div>
  <p class="g7">download and design </p>
  <h1>All components you need in this library!</h1>
  <p class="large design-system">Logo Elements Design System is a customizable UI Library for Figma that makes it easy to create
    awesome designs for web applications, admin areas, and dashboards.</p>
  <button class="large">
    Download
  </button>
  <p class="ux-team">
    Designed with ❤️ by Logo UX Team
  </p>
</div>
</div>
