<div class="component">
  <logo-timer
    (onTimeCompleted)="sampleOnTimeEnd($event)"
    [cssClasses]="'my-logo-timer-theme'"
    [id]="'myLogoTimer'"
    [isCountdown]="true"
    [showIcon]="true"
    [showProgressBar]="true"
    [theme]="'primary'"
    [language]="{days: 'Gün', hours: 'Saat', minutes: 'Dk', seconds: 'Sn'}"
    [timeInMs]="22356"
    [title]="'Estimated Time'"
  >
  </logo-timer>
</div>
<div class="options">
  <div class="result">
    {{timerResult}}
  </div>
  <div class="set">
    <input [(ngModel)]="customTimer" class="secondary" placeholder="Set Time in Milliseconds" type="number">
    <button (click)="setTimer()" class="primary">Set Time</button>
    <button (click)="resetTimer()" class="primary outline">Reset Timer</button>
    <button (click)="pauseTimer()" class="warning">Pause Timer</button>
    <button (click)="resumeTimer()" class="success">Resume Timer</button>
    <button (click)="stopTimer()" class="danger">Stop Timer</button>
  </div>
</div>
