<button (click)="openModal()" class="success large">Open The Modal</button>
<logo-modal
  (onClosed)="sampleCloseAction($event)"
  (onOpened)="sampleOpenAction($event)"
  [modalId]="'logoModal'"
  [title]="'My Logo Modal'"
  [footerShadow]="true"
  [supportFullscreen]="true"
>
  <ng-container body>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
    <p class="large">This is my modal content</p>
  </ng-container>
  <ng-container footer>
    <button>Sample Button</button>
    <button (click)="closeModal()" class="danger outline">Close Modal</button>
  </ng-container>
</logo-modal>
