<div class="progress-showcase">
  <div class="item">
    <logo-progress-bar
      [complete]="500"
      [cssClasses]="'my-logo-progress-bar'"
      [current]="sampleCurrent"
      [isInWait]="false"
      [isProgress]="false"
      [size]="'small'"
      [theme]="'primary'"
    >
    </logo-progress-bar>
  </div>
  <div class="item">
    <logo-progress-bar
      [complete]="500"
      [cssClasses]="'my-logo-progress-bar'"
      [current]="sampleCurrent"
      [isInWait]="false"
      [isProgress]="false"
      [size]="'medium'"
      [theme]="'success'"
    >
    </logo-progress-bar>
  </div>
  <div class="item">
    <logo-progress-bar
      [complete]="500"
      [cssClasses]="'my-logo-progress-bar'"
      [current]="sampleCurrent"
      [isInWait]="false"
      [isProgress]="false"
      [size]="'large'"
      [theme]="'danger'"
    >
    </logo-progress-bar>
  </div>
</div>
