<logo-leftbar
  (onInit)="sampleUserDataGet()"
  (onAddShortCut)="sampleAddShortcut()"
  (onAppSelected)="sampleAppAction($event)"
  (onHomeButton)="sampleHomeAction()"
  (onSettingsButton)="sampleSettingsAction()"
  (onTenantSelected)="sampleTenantAction($event)"
>
  <logo-tree
    (itemClick)="sampleItemDataGet($event);"
    *ngIf="menuItems"
    [group]="false"
    [iconClasses]=""
    [items]="menuItems"
    [start]="0"
  >
  </logo-tree>
</logo-leftbar>

<logo-modal (onOpened)="sampleShorcutDataGet()" modalId="logo-modal" title="Kısayol Ekle">
  <ng-container body>
    <div class="shortcut-editable">
      <logo-tree
        (itemClick)="sampleShortcutItemDataGet($event);"
        *ngIf="shortcutItems"
        [group]="false"
        [iconClasses]=""
        [items]="shortcutItems">
      </logo-tree>
    </div>
  </ng-container>
  <ng-container footer>
    <button (click)="sampleSaveAction()" class="primary">Kaydet</button>
  </ng-container>
</logo-modal>

<logo-toast></logo-toast>
