@import "~@logo-software/theme/base";

:host {
  @include larger-than(lg) {
    img {
      max-width: 100%;
      height: auto;
    }

    .intro {
      display: flex;
      height: 100vh;
      background-image: linear-gradient(191deg, #6ca7ef 14%, #4f65e9 94%);

      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .title-content {
          width: size(479px);
          align-self: center;

          p {
            color: var(--light);
          }

          logo-link {
            margin-top: size(50px);
          }
        }
      }

      div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .usage {
      display: flex;
      padding-bottom: size(45px);

      .left {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          padding: size(20px);
          max-width: 80%;
        }
      }

      .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .specs-header {
          padding-left: 15%;
          margin-top: size(20px);
        }

        .specs-content {
          padding-left: 15%;

          h2 {
            margin-top: size(19px);
            max-width: size(515px);
          }

          ul {
            list-style-image: url("/assets/images/services/dfs/dfs-usage-check-2.svg");

            li {
              margin-top: size(40px);

              p {
                margin-top: size(16px);
              }
            }
          }
        }
      }
    }

    .specs {
      background: no-repeat url("/assets/images/services/rcfs/rcfs-specs-bg-2.png");
      background-size: cover;

      h1 {
        color: var(--white);
        font-size: size(45px);
        font-weight: lighter;
        text-align: center;
      }

      p {
        color: var(--white);
        font-size: size(20px);
        text-align: center;
        margin-bottom: 50px;
      }

      logo-carousel {
        //  padding: 0 size(100px);

        .slider-item {
          background-color: var(--white);
          box-shadow: 0 60px 60px #6e6e6e46;
          // background-color: #ffffff;
          border-radius: 20px;
          box-sizing: border-box;
          backdrop-filter: blur(23px);
          color: #646464;
          padding: 30px 44px;
          min-width: 264px;
          width: 264px;
          margin-right: 24px;
          display: inline-block;
          vertical-align: top;
          white-space: normal;

          .icon-bg {
            width: size(42px);
            height: size(42px);
            background-color: #6259a7;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;

            .icon {
              position: relative;
              max-height: size(42px);
              max-width: size(42px);
              height: size(42px);
              margin-bottom: size(10px);
              filter: invert(43%) sepia(26%) saturate(1500%) hue-rotate(208deg) brightness(115%) contrast(200%);
              background-size: contain;

              &::after {
                content: "";
                background: url("/assets/images/services/idm/section-04-icon-background.svg") no-repeat;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }

          .abbr {
            font-weight: bold;
            font-size: size(20px);
          }

          .description {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 300;
          }

          .go {
            display: block;
            margin-top: size(20px);
          }
        }

        ::ng-deep {
          .arrow-with-animation .slider-arrow {
            color: var(--white);

            --active: var(--white);
            --border: rgba(255, 255, 255, 0.12);
          }

          .dots {
            .dot {
              border-color: #ffffff;

              &::after {
                background-color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
    }
  }

  @include smaller-than(lg) {
    .intro {
      display: flex;
      height: 100vh;
      background-image: linear-gradient(191deg, #6ca7ef 14%, #4f65e9 94%);
      padding: size(30px);

      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        p.g8 {
          font-size: size(35px);
        }

        p.g6 {
          font-size: size(45px);
          line-height: size(50px);
        }

        .title-content {
          align-self: center;

          p {
            color: var(--light);
          }

          logo-link {
            margin-top: size(50px);
          }
        }
      }

      div:nth-child(2) {
        display: none;
        justify-content: center;
        align-items: center;
      }
    }

    @include smaller-than(sm) {
      .intro {
        padding: size(80px);
      }
    }

    .usage {
      display: flex;
      padding: 0 size(40px);

      .left {
        display: none;
        justify-content: center;
        align-items: center;
      }

      .right {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;

        .specs-header {
          margin-top: size(50px);
        }

        h2 {
          margin-top: size(19px);
          max-width: size(515px);
        }

        .specs-content {
          padding: size(30px);

          ul {
            list-style-image: url("/assets/images/services/dfs/dfs-usage-check-2.svg");
            margin-left: size(-40px);

            li {
              margin-top: size(40px);

              p {
                margin-top: size(16px);
              }
            }
          }
        }
      }
    }

    .specs {
      background: no-repeat url("/assets/images/services/rcfs/rcfs-specs-bg-2.png");
      background-size: cover;

      h1 {
        color: var(--white);
        font-size: size(45px);
        font-weight: lighter;
        text-align: center;
      }

      p {
        color: var(--white);
        font-size: size(20px);
        text-align: center;
        margin-bottom: 50px;
      }

      logo-carousel {
        //  padding: 0 size(100px);

        .slider-item {
          background-color: var(--white);
          box-shadow: 0 60px 60px #6e6e6e46;
          // background-color: #ffffff;
          border-radius: 20px;
          box-sizing: border-box;
          backdrop-filter: blur(23px);
          color: #646464;
          padding: 30px 44px;
          min-width: 264px;
          width: 264px;
          margin-right: 24px;
          display: inline-block;
          vertical-align: top;
          white-space: normal;

          .icon-bg {
            width: size(42px);
            height: size(42px);
            background-color: #6259a7;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;

            .icon {
              position: relative;
              max-height: size(42px);
              max-width: size(42px);
              height: size(42px);
              margin-bottom: size(10px);
              filter: invert(43%) sepia(26%) saturate(1500%) hue-rotate(208deg) brightness(115%) contrast(200%);
              background-size: contain;

              &::after {
                content: "";
                background: url("/assets/images/services/idm/section-04-icon-background.svg") no-repeat;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }

          .abbr {
            font-weight: bold;
            font-size: size(20px);
          }

          .description {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 300;
          }

          .go {
            display: block;
            margin-top: size(20px);
          }
        }

        ::ng-deep {
          .arrow-with-animation .slider-arrow {
            color: var(--white);

            --active: var(--white);
            --border: rgba(255, 255, 255, 0.12);
          }

          .dots {
            .dot {
              border-color: #ffffff;

              &::after {
                background-color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
    }
  }
}
