<logo-header
  [containerStatus]="false"
  [defaultTheme]="headerTheme.START"
  [isMobilized]="true"
  [className]="'polaris-header'"
  [logoLinkClasses]="'large'"
  [logoLinkText]="'Polaris'"
  [menuPosition]="'right'"
  [scrollPoint]="130"
  [scrollSpy]="true"
  [scrolledTheme]="headerTheme.SCROLL"
  [watchElement]="'body'"
  [logoImage]="getHeaderLogo()"
>
  <ng-container menu>
    <a [ngClass]="this.urlCase > 1 ? 'secandary' : 'light'" class="ghost" href="/products">
      Tüm Ürünler
    </a>
    <div class="menu-combobox">
      <logo-combobox
        (select)="onLangSelect($event)"
        [(ngModel)]="theLanguage"
        [hasFilter]="false"
        [items]="languages"
        [multiple]="false"
        [path]="'name'"
      >
        <ng-template let-index="index" let-isFirst="isFirst" let-isLast="isLast" let-isOdd="isOdd" let-item="item">
          <span>{{item.name}}</span>
        </ng-template>
      </logo-combobox>
    </div>
  </ng-container>
  <ng-container cta>
    <button (click)="logMeIn()" [ngClass]="this.urlCase > 1 ? 'secandary' : 'light'"
            class="outline icon-right le-arrow_thick_circle_2">Giriş Yapın
    </button>
  </ng-container>
</logo-header>
<div class="logo-polaris">
  <router-outlet></router-outlet>
</div>
