<logo-header
  [containerStatus]="false"
  [defaultTheme]="headerTheme.START"
  [isMobilized]="true"
  [className]="'polaris-header'"
  [logoLinkClasses]="'large'"
  [logoLinkText]="'Polaris'"
  [menuPosition]="'right'"
  [scrollPoint]="130"
  [scrollSpy]="true"
  [scrolledTheme]="headerTheme.SCROLL"
  [watchElement]="'body'"
  [logoImage]="getHeaderLogo()"
  [ngClass]="this.urlCase > 1 ? 'sub' : 'main'"
>
  <ng-container menu>
    <a [ngClass]="this.urlCase > 1 ? 'secandary' : 'light'" class="ghost" href="/products">
      Tüm Ürünler
    </a>
    <div class="menu-combobox">
      <logo-combobox
        (select)="onLangSelect($event)"
        [(ngModel)]="theLanguage"
        [hasFilter]="false"
        [items]="languages"
        [multiple]="false"
        [path]="'name'"
      >
        <ng-template let-index="index" let-isFirst="isFirst" let-isLast="isLast" let-isOdd="isOdd" let-item="item">
          <span>{{item.name}}</span>
        </ng-template>
      </logo-combobox>
    </div>
  </ng-container>
  <ng-container cta>
    <button
      *ngIf="!idmService.isLogged"
      (click)="logMeIn()"
      [ngClass]="this.urlCase > 1 ? 'secondary' : 'light'"
      class="outline icon-right le-arrow_thick_circle_2"
    >
      Giriş Yapın
    </button>
    <div *ngIf="idmService.isLogged" class="user-base">
      <div class="user-image">
        <!--
          src="https://images.generated.photos/eyziZ9aw8VJEOM5TTPvdrISOANo_IXRyI7wMjQysR44/rs:fit:512:512/wm:0.95:sowe:18:18:0.33/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yy/XzAwMjkzNTMuanBn.jpg"
        -->
        <img
          onerror="this.src='/assets/img/default-user.png';"
          src="{{userService.user.UserImage}}"
        >
      </div>
      <div class="user-name">
        <button class="ghost icon-right le-chevron_down" [logoPopover]="'userPopover'" [ngClass]="this.urlCase > 1 ? 'secondary' : 'light'">
          <!--Isobel Morgan-->
          {{userService.user.Name}} {{userService.user.Surname}}
        </button>
        <logo-popover
          [cssClasses]="'user-options-popover'"
          [hasSearch]="false"
          [id]="'userPopover'"
          [isBackClick]="true"
          [position]="PopoverPosition.POPOVER_BOTTOM_RIGHT"
          [sameSize]="true"
        >
          <button class="ghost danger" (click)="logMeOut()">Çıkış Yap</button>
        </logo-popover>
      </div>
    </div>
  </ng-container>
</logo-header>
<div class="logo-polaris">
  <router-outlet></router-outlet>
</div>
<logo-footer></logo-footer>
