<div class="intro">
  <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
    <div class="title-content">
      <p class="g8 bold">Asynchronous job manager Asenkron görev yöneticisi
      </p>
      <p class="g6 bold">AJM Servisi</p>
      <p class="large">
        Uygulamalarınızdaki asenkron iş ihtiyaçlarınızı karşılayabilirsiniz. Tüm asenkron işlerinizi sunulan altyapı
        kütüphanelerin yardımı ile kolayca geliştirebilir, Hangfire teknolojisiyle dilediğiniz zamanda dilediğiniz
        periyotlarda belirlediğiniz parametreler ile çalıştırabilirsiniz.
      </p>
      <logo-link
        [classes]="['primary', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139820&src=contextnavpagetreemode"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="col-md-6">
    <img src="./assets/images/services/hfs/hfs-intro-bg.png">
  </div>
</div>
<section class="three">
  <div class="row">
    <div class="image col-xs-12 col-lg-6">
      <img src="./assets/images/services/hfs/hfs-usage-bg.png"/>
    </div>
    <div class="content col-xs-12 col-sm-12 col-lg-6 col-md-12">
      <h1>Kullanım senaryoları</h1>
      <ul>
        <li>
          <p>
            Uygulamalarınızın belirli periyotlarla tekrar eden işlerini tanımlayın ve yönetin.
          </p>
        </li>
        <li>
          <p>
            Uygulamanızın tek seferlik ya da belirli koşullarda tetiklenmesi gereken asenkron işlerini tanımlayın ve çalıştırın.
          </p>
        </li>
        <li>
          <p>
            Asenkron işlerinizi gruplandırın ve önceliklendirin.
          </p>
        </li>
        <li>
          <p>
            Yönetici paneli üzerinden geçmiş işlerinizin çalışma durumlarını takip edin.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="four">
  <div class="row">
    <div class="content col-xs-12 col-sm-12 col-lg-6 col-md-12">
      <h1>Özellikler</h1>
      <ul>
        <li>
          <h2>Tüm asenkron işlerinizi tanımlayın ve çalıştırın</h2>
          <p>
            Uygulamalarınızda hazır altyapı kütüphaneleri ile asenkron çalışacak iş parçalarını geliştirin, kaydedin ve
            dilediğiniz zaman, sizin tanımladığınız parametreler ile tetiklenmesini sağlayın.
          </p>
        </li>
        <li>
          <h2>Tekrarlı asenkron işlerinizi tanımlayın</h2>
          <p>Uygulamalarınızın belirli periyotlarla tekrar etmesi gereken işlerini bir CRON ifade ile tanımlayın.</p>
        </li>
        <li>
          <h2>Tanımlı işlerinizin durumlarını kontrol edin</h2>
          <p>Tanımlı asenkron işlerinizin ne durumda olduğunu, hangi parametrelerle çalıştığını kontrol edin.</p>
        </li>
        <li>
          <h2>Tekrarlı asenkron işlerinizin son çalışma durumlarını kolayca sorgulayın</h2>
          <p>Tekrar eden asenkron işlerinizin en son ne zaman hangi parametreler ile çalıştığını ve işin nasıl
            sonuçlandığını kolayca sorgulayın.</p>
        </li>
        <li>
          <h2>Yönetici paneli sayesinde tüm asenkron işlerinizi takip edin</h2>
          <p>Gelişmiş yönetici paneli üzerinden geçmiş işlerinizin çalışma durumlarını kontrol edin, planlı işlerinizin
            ne zaman hangi parametreler ile çalışacağını izleyin, tanımlı işlerinizi tetikleyin.</p>
        </li>
      </ul>
      <logo-link
        [classes]="['primary', 'large']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139820&src=contextnavpagetreemode"
      >
        DETAYLARI GÖRÜNTÜLE
      </logo-link>
    </div>
    <div class="image col-xs-12 col-lg-6">
      <img src="./assets/images/services/hfs/hfs-specs-bg.png"/>
    </div>
  </div>
</section>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
