<logo-header></logo-header>
<div class="intro">
  <div class="col-md-6">
    <div class="title-content">
      <p class="g8 bold">Asynchronous job manager Asenkron görev yöneticisi
      </p>
      <p class="g6 bold">AJM Servisi</p>
      <p class="large">
        Uygulamalarınızdaki asenkron iş ihtiyaçlarınızı karşılayabilirsiniz. Tüm asenkron işlerinizi sunulan altyapı
        kütüphanelerin yardımı ile kolayca geliştirebilir, Hangfire teknolojisiyle dilediğiniz zamanda dilediğiniz
        periyotlarda belirlediğiniz parametreler ile çalıştırabilirsiniz.
      </p>
      <logo-link
        [classes]="['primary', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139826"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="col-md-6">
    <img src="./assets/images/services/hfs/hfs-intro-bg.png">
  </div>
</div>
<div class="usage">
  <div class="col-md-6">
    <img src="./assets/images/services/hfs/hfs-usage-bg.png">
  </div>
  <div class="col-md-6">
    <h1 class="bold">Kullanım Senaryoları</h1>
    <div class="specs-card">
      <div class="col-md-2">
        <img src="./assets/images/services/mss/mss-specs-icon.svg">
      </div>
      <div class="col-md-10">
        <h4>
          Uygulamalarınızın belirli periyotlarla tekrar eden işlerini tanımlayın ve yönetin.
        </h4>
      </div>
    </div>
    <div class="specs-card">
      <div class="col-md-2">
        <img src="./assets/images/services/mss/mss-specs-icon.svg">
      </div>
      <div class="col-md-10">
        <h4>
          Uygulamanızın tek seferlik ya da belirli koşullarda tetiklenmesi gereken asenkron işlerini tanımlayın ve
          çalıştırın.
        </h4>
      </div>
    </div>
    <div class="specs-card">
      <div class="col-md-2">
        <img src="./assets/images/services/mss/mss-specs-icon.svg">
      </div>
      <div class="col-md-10">
        <h4>
          Asenkron işlerinizi gruplandırın ve önceliklendirin.
        </h4>
      </div>
    </div>
    <div class="specs-card">
      <div class="col-md-2">
        <img src="./assets/images/services/mss/mss-specs-icon.svg">
      </div>
      <div class="col-md-10">
        <h4>
          Yönetici paneli üzerinden geçmiş işlerinizin çalışma durumlarını takip edin.
        </h4>
      </div>
    </div>
    <div class="specs-card">
      <div class="col-md-2">
        <img src="./assets/images/services/mss/mss-specs-icon.svg">
      </div>
      <div class="col-md-10">
        <h4>
          Yönetici paneli üzerinden kayıtlı periyodik işlerinizi takip edin.
        </h4>
      </div>
    </div>
  </div>
</div>
<div class="specs">
  <div class="col-md-6">
    <div class="cards">
      <h1 class="bold">Özellikler</h1>
      <div class="specs-card">
        <div class="col-md-2">
          <img src="./assets/images/services/mss/mss-specs-icon.svg">
        </div>
        <div class="col-md-10">
          <h2 class="bold">Tüm asenkron işlerinizi tanımlayın ve çalıştırın</h2>
          <h4>
            Uygulamalarınızda hazır altyapı kütüphaneleri ile asenkron çalışacak iş parçalarını geliştirin, kaydedin ve
            dilediğiniz zaman, sizin tanımladığınız parametreler ile tetiklenmesini sağlayın.
          </h4>
        </div>
      </div>
      <div class="specs-card">
        <div class="col-md-2">
          <img src="./assets/images/services/mss/mss-specs-icon.svg">
        </div>
        <div class="col-md-10">
          <h2 class="bold">Tekrarlı asenkron işlerinizi tanımlayın</h2>
          <h4>
            Uygulamalarınızın belirli periyotlarla tekrar etmesi gereken işlerini bir CRON ifade ile tanımlayın.
          </h4>
        </div>
      </div>
      <div class="specs-card">
        <div class="col-md-2">
          <img src="./assets/images/services/mss/mss-specs-icon.svg">
        </div>
        <div class="col-md-10">
          <h2 class="bold">Tanımlı işlerinizin durumlarını kontrol edin</h2>
          <h4>
            Tanımlı asenkron işlerinizin ne durumda olduğunu, hangi parametrelerle çalıştığını kontrol edin.
          </h4>
        </div>
      </div>
      <div class="specs-card">
        <div class="col-md-2">
          <img src="./assets/images/services/mss/mss-specs-icon.svg">
        </div>
        <div class="col-md-10">
          <h2 class="bold">Tekrarlı asenkron işlerinizin son çalışma durumlarını kolayca sorgulayın</h2>
          <h4>
            Tekrar eden asenkron işlerinizin en son ne zaman hangi parametreler ile çalıştığını ve işin nasıl
            sonuçlandığını kolayca sorgulayın.
          </h4>
        </div>
      </div>
      <div class="specs-card">
        <div class="col-md-2">
          <img src="./assets/images/services/mss/mss-specs-icon.svg">
        </div>
        <div class="col-md-10">
          <h2 class="bold">Yönetici paneli sayesinde tüm asenkron işlerinizi takip edin</h2>
          <h4>
            Gelişmiş yönetici paneli üzerinden geçmiş işlerinizin çalışma durumlarını kontrol edin, planlı işlerinizin ne
            zaman hangi parametreler ile çalışacağını izleyin, tanımlı işlerinizi tetikleyin.
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img class="img-fluid" src="./assets/images/services/hfs/hfs-specs-bg.png">
  </div>
</div>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
