<div class="intro">
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <div class="title-content">
      <h4>
        Smtp, pop3, imap e-posta protokollerini destekler
      </h4>
      <h1 class="g6 bold"><span class="for">E-Posta</span> Servisi</h1>
      <p class="large">
        LOGO ürünleri ve mikro servisleri için tenant tabanlı, asenkron bir e-posta gönderme mekanizması sağlamaktır.
        Smtp, pop3, imap vb. e-posta protokollerini destekler.
      </p>
      <logo-link
        [classes]="['primary', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139826"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
    <img src="./assets/images/services/ems/ems-intro-illu.png">
  </div>
</div>
<div class="usage">
  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="cards">
      <h1 class="bold">Kullanım Senaryoları</h1>
      <h4>Uygulamaları nasıl kullanacağınızı keşfedin. İşinize değer katın!</h4>
      <div class="specs-card">
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
          <img src="./assets/images/services/ems/ems-usage-icon-2.svg">
        </div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
          <h4>
            Uygulamalarınızın belirli periyotlarla tekrar eden işlerini tanımlayın ve yönetin.
          </h4>
        </div>
      </div>
      <div class="specs-card">
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
          <img src="./assets/images/services/ems/ems-usage-icon-2.svg">
        </div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
          <h4>
            Uygulamalarınızın belirli periyotlarla tekrar eden işlerini tanımlayın ve yönetin.
          </h4>
        </div>
      </div>
      <div class="specs-card">
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
          <img src="./assets/images/services/ems/ems-usage-icon-2.svg">
        </div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-10">
          <h4>
            Uygulamalarınızın belirli periyotlarla tekrar eden işlerini tanımlayın ve yönetin.
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="right col-lg-6  col-sm-12 col-xs-12">
    <img src="./assets/images/services/ems/ems-usage-illu.svg">
  </div>
</div>
<logo-user-review backgroundUrl="./assets/images/reviewers/rv-grey-bg.png"></logo-user-review>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
