<header>
  <nav>
    <button class="menu ghost large logo-menu-left-alt"></button>
    <a class="logo outline large" href="/#/root"><span>Logo</span><span>Elements</span></a>
    <button class="ghost large">GUIDE</button>
    <button class="docs ghost large">DOCS</button>
    <button class="ghost large">COMPONENTS</button>
    <button class="ghost large">BLOG</button>
    <label class="search">
      <input placeholder="Search" class="logo-search ghost"/>
    </label>
  </nav>
</header>
<section class="page-one"></section>
