<div class="row">
  <div class="content col-xs-9">
    <logo-switch
      class="{{selectedSize}}"
      [theme]="selectedColor"
      [isDisabled]="disabled"
      [isRounded]="isRounded"
    >
    </logo-switch>
  </div>
  <div class="settings col-xs-3">
    <div>
      <h5>Modifiers</h5>
      <div>
        <input [(ngModel)]="disabled" type="checkbox" id="disable" class="small"/>
        <label for="disable">Disabled</label>
      </div>
    </div>
    <div>
      <h5>Sizes</h5>
      <div *ngFor="let size of sizes;index as i">
        <input
          class="small"
          id="{{size.class}}-{{i}}"
          type="checkbox"
          [(ngModel)]="size.selected"
          (change)="changeSize(size.class)"
        />
        <label for="{{size.class}}-{{i}}">{{size.class}}</label>
      </div>
    </div>
    <div>
      <h5>Colors</h5>
      <div *ngFor="let color of colors;index as i">
        <input
          class="small"
          id="{{color.class}}-{{i}}"
          type="checkbox"
          [(ngModel)]="color.selected"
          (change)="changeColor(color.class)"
        >
        <label for="{{color.class}}-{{i}}">{{color.class}}</label>
      </div>
    </div>
    <div>
      <h5>Types</h5>
      <div>
        <input class="small" [(ngModel)]="isRounded" type="checkbox" id="rounded"/>
        <label for="rounded">Rounded</label>
      </div>
    </div>
  </div>
</div>
