:host {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    logo-switch {
      margin: 5px;
    }

    .value {
      margin-bottom: 5px;
    }
  }

  .settings {
    display: flex;
    flex-direction: column;

    h5 {
      margin: 15px 0;
    }
  }
}
