@import "~@logo-software/theme/base";

$header-size: size(80px);

:host {
  display: block;

  ul {
    list-style-image: url("/assets/images/services/idm/check.svg");
    padding-left: size(25px);

    li {
      line-height: size(35px);
      padding-left: size(10px);
    }
  }

  section.one {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    background: none;

    div.title-content {
      position: relative;
      z-index: 2;
      max-width: size(445px);
      width: 100%;
      align-self: center;

      h1.title {
        font-family: get("font.alternative");
        font-weight: 800;
        font-size: size(60px);
        flex-direction: column;
        pointer-events: none;
        color: var(--success);
        letter-spacing: size(-1px);

        @include smaller-than("md") {
          font-size: size(42px);
        }

        .for {
          color: var(--dark-800);
        }
      }

      p.description {
        margin: size(30px) 0 size(40px) 0;
        font-size: size(20px);
        color: var(--dark-600);
        pointer-events: none;
      }
    }

    div.illustrations {
      background-image: url("/assets/images/services/ss/section-01-illustration.svg");
      background-repeat: no-repeat;
      background-position: left;
      flex-grow: 1;
      margin-left: size(70px);
      margin-right: size(-120px);
    }
  }

  section.two {
    padding: 0;

    .row {
      @include smaller-than("md") {
        height: auto;
      }

      .image {
        padding-right: 120px;
        background-image: url(/assets/images/services/ss/section-02-illustration.svg);
        background-repeat: no-repeat;
        background-position: right;

        @include smaller-than("md") {
          min-height: size(350px);
        }
      }

      .content {
        color: #707070;
        flex-direction: column;
        padding: size(100px) size(120px);

        @include smaller-than("sm") {
          padding: size(40px);
        }

        h1 {
          font-size: size(40px);
          font-weight: bold;
          font-family: get("font.alternative");
          letter-spacing: size(-1px);

          &::before {
            -webkit-mask-image: url("/assets/images/services/ms/section-02-clipboard.svg");
            mask-image: url("/assets/images/services/ms/section-02-clipboard.svg");
            -webkit-mask-repeat: no-repeat;
            background-color: var(--success);
            content: "";
            width: size(50px);
            height: size(50px);
            display: block;
            margin-bottom: size(24px);
          }
        }

        p {
          font-size: size(30px);
        }
      }
    }
  }

  section.three {
    color: var(--white);
    background: no-repeat url("/assets/images/services/ms/section-04-photo.png") center/cover;

    h1 {
      font-size: size(45px);
      font-weight: lighter;
      text-align: center;
    }

    p {
      font-size: size(20px);
      text-align: center;
      margin-bottom: 50px;
    }

    logo-carousel {
      // padding: 0 size(100px);

      .slider-item {
        background-color: var(--white);
        box-shadow: 0 60px 60px #6e6e6e46;
        // background-color: #ffffff;
        border-radius: 20px;
        box-sizing: border-box;
        backdrop-filter: blur(23px);
        color: var(--neutral-800);
        padding: 30px 44px;
        min-width: 264px;
        width: 264px;
        margin-right: 24px;
        display: inline-block;
        vertical-align: top;
        white-space: normal;

        .icon-bg {
          width: size(42px);
          height: size(42px);
          background-color: #3abf7c;
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
          margin-bottom: size(20px);
        }

        .abbr {
          font-weight: bold;
          font-size: size(20px);
        }

        .description {
          margin-top: 20px;
          font-size: 16px;
          font-weight: 300;
        }

        .go {
          display: block;
          margin-top: size(20px);
        }
      }

      ::ng-deep {
        .arrow-with-animation .slider-arrow {
          color: var(--white);

          --active: var(--white);
          --border: rgba(255, 255, 255, 0.12);
        }

        .dots {
          .dot {
            border-color: #ffffff;

            &::after {
              background-color: rgba(255, 255, 255, 0.6);
            }
          }
        }
      }
    }
  }
}
