@import "~@logo-software/theme/base";

::ng-deep {
  :root {
    --footer-height: 800px;
  }
}

:host {
  display: block;

  section.footer {
    min-height: var(--footer-height);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: size(50px) 0;

    .links {
      display: flex;

      .social, .corporate, .legal {
        display: flex;
        flex-direction: column;

        h2 {
          margin-bottom: size(30px);
          font-weight: 600;
          font-size: size(20px);
          line-height: size(26px);
        }

        a {
          font-weight: normal;
          font-size: size(16px);
          line-height: size(24px);
          margin-bottom: size(15px);
          color: var(--neutral);
        }

        @include smaller-than(md) {
          margin-top: size(70px);
        }
      }

      .social {
        h1 {
          font-weight: bold;
          font-size: size(32px);
          line-height: size(44px);
          padding-bottom: size(30px);
        }

        .facebook, .twitter, .instagram {
          display: flex;

          &::before {
            display: inline-block;
            width: size(24px);
            height: size(24px);
            background-position: center;
            background-repeat: no-repeat;
            content: "";
            margin-right: size(10px);
          }
        }

        .facebook {
          &::before {
            background-image: url("/assets/images/footer/facebook.svg");
          }
        }

        .twitter {
          &::before {
            background-image: url("/assets/images/footer/twitter.svg");
          }
        }

        .instagram {
          &::before {
            background-image: url("/assets/images/footer/instagram.svg");
          }
        }
      }
    }
  }
}
