%a {
  font-weight: normal;
  border-radius: size(get("border.radius"));
  cursor: pointer;
  text-decoration: none;
  font-size: size(get("size.medium.font-size"));
  color: var(--primary);
  // display: flex;
  // align-items: center;
  @extend %padding-button;

  &[class*=logo-i] {
    @extend %size-medium, %padding-button-medium;
    display: inline-flex;
    align-items: center;
  }

  &:active, &:focus {
    box-shadow: none;
  }

  &:hover {
    text-decoration: underline;
  }

  &.icon-left {
    &::before {
      left: size(-1px);
    }
  }

  &.icon-right {
    &::before {
      right: size(-1px);
    }
  }
}
