%badge {
  border-radius: size(4px);
  display: inline-block;
  font-weight: 400;

  @extend %fill, %fill-secondary;

  @each $size, $value in get("element.badge.size") {
    &-#{$size} {
      font-size: size(map-get($value, "font-size"));
      line-height: size(map-get($value, "line-height"));
      box-sizing: content-box;
      height: auto !important;
      padding: map-get($value, "padding");
    }
  }

  @each $color, $value in get("color.list") {
    &-#{$color} {
      background-color: var(--#{$color}) !important;
      color: if($color == basic or $color == light or $color == secondary or $color == gray, text-color($color), var(--white));
    }
  }

  @each $color, $value in get("color.visualization") {
    &-#{$color} {
      background-color: var(--#{$color}) !important;
      color: if($color == yellow or $color == tan, text-color($color), var(--white));
    }
  }

  &.icon-only {
    &::before {
      position: relative;
    }
  }

  &.icon-left {
    @extend %icon, %icon-left;

    &::before {
      height: 100% !important;
    }
  }

  &.icon-right {
    @extend %icon, %icon-right;

    &::before {
      height: 100% !important;
    }
  }

  &.icon-top {
    @extend %icon;

    @each $size, $value in get("size") {
      &.#{$size} {
        padding-top: size(map-get($value, "icon-container")) !important;
      }
    }

    &::before {
      width: 100% !important;
      min-width: 100%;
      display: block;
    }
  }

  &.icon-bottom {
    @extend %icon;

    @each $size, $value in get("size") {
      &.#{$size} {
        padding-bottom: size(map-get($value, "icon-container")) !important;
      }
    }

    &::before {
      width: 100% !important;
      min-width: 100%;
      display: block;
      top: auto;
      bottom: 0;
    }
  }
}
