/*
Standardization: Button
 */
%button {
  font-weight: normal;
  border-radius: size(get("border.radius"));
  cursor: pointer;
  white-space: nowrap;
  @extend %padding-button, %padding-button-medium;
  @extend %fill, %fill-secondary, %size-medium;

  @each $type in get("type") {
    @if ($type!=fill) {
      &.#{$type}, &-#{$type} {
        @extend %#{$type}, %#{$type}-secondary;
      }
    }
  }
}
