/**
Typography
 */

%gtypo {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--#{get("font.color.name")}-#{get("font.color.value")});
}

// G sizes
@each $size, $items in get("element.g-typography.size") {
  @each $head, $value in $items {
    %#{$head}-#{$size} {
      font-size: size(map-get($value, "font-size"));
      height: auto;
      margin: 0;
      line-height: size(map-get($value, "line-height"));
      font-weight: map-get($value, "font-weight");
    }
  }
}
