/**
Typography
 */

%head {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  line-height: normal;
  color: var(--#{get("font.color.name")}-#{get("font.color.value")});
}

// HEAD sizes
@each $size, $items in get("element.head.size") {
  @each $head, $value in $items {
    %#{$head}-#{$size} {
      font-size: size(map-get($value, "font-size"));
      height: auto;
      margin: 0;
      line-height: size(map-get($value, "line-height"));
      font-weight: size(map-get($value, "font-weight"));
    }
  }
}
