/**
Standardization: Input
 */
%input {
  font-family: get("font.family");
  border-radius: size(get("border.radius"));

  @extend %padding-input, %padding-input-medium;
  @extend %fill, %fill-basic, %size-medium, %placeholder;

  cursor: pointer;

  &:not([type]), &[type~="text"], &[type~="password"] {
    &:focus {
      background-color: var(--white) !important;
      border: size(1px) solid var(--primary) !important;
      color: var(--dark-900) !important;
    }
  }

  @each $type in get("type") {
    @if ($type!=fill) {
      &.#{$type} {
        @extend %#{$type}, %#{$type}-basic;
      }
    }
  }

  &.icon-left {
    &::before {
      left: size(-1px);
    }
  }

  &.icon-right {
    &::before {
      right: size(-1px);
    }
  }
}

%textarea {
  height: auto;
  line-height: normal;
  padding: size(get("element.input.size.medium.padding"));

  @each $size, $value in get("element.input.size") {
    &.#{$size} {
      padding: size(map-get($value, padding));
    }
  }
}

.input-w-icon {
  position: relative;

  span {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: size(32px);
    z-index: 1;
    top: 0;
    color: var(--neutral-400);
  }

  input {
    width: 100%;
  }

  &.left {
    span {
      left: 0;
    }
  }

  &.right {
    span {
      right: 0;
      border-left: 1px solid var(--basic-700);
    }
  }

  &.large {
    span {
      width: size(48px);

      &::before {
        mask-size: size(24px);
      }
    }
  }
}
