/**
Label
 */
%label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: get("element.label.font-size");
  line-height: #{get("element.label.line-height")};
  font-weight: 600;
  padding: #{get("element.label.padding")};
  color: #{get("element.label.color")};

  @each $size, $size-map in get("size") {
    &-#{$size} {
      font-size: size(get("size."+ $size + ".font-size"));
      line-height: size(get("size."+$size+".height"));
    }
  }
}
