// P sizes
@each $size, $value in get("element.paragraph.size") {
  %p-#{$size} {
    color: var(#{get("font.color.name")}-#{get("font.color.value")});
    font-size: size(map-get($value, "font-size"));
    line-height: size(map-get($value, "line-height"));
    box-sizing: content-box;
    height: auto;
    margin: get("element.paragraph.margin.top") get("element.paragraph.margin.right") get("element.paragraph.margin.bottom") get("element.paragraph.margin.left");
  }
}
