// P sizes
@each $size, $value in get("element.paragraph.size") {
  %p-#{$size} {
    @debug $value;
    color: get("font.color");
    font-size: size(map-get($value,'font-size'));
    line-height: size(map-get($value,'line-height'));
  }

}
