<div class="lde-landing">
  <div class="lde-jumbotron lde-section">
    <div class="gfx-base">
      <span class="left">
        <span class="item">
          <img src="/assets/img/gfx_landing_welcome_triangle.png"/>
        </span>
        <span class="item">
          <img src="/assets/img/gfx_landing_welcome_triangle.png"/>
        </span>
      </span>
      <span class="right">
        <span class="item">
          <img src="/assets/img/gfx_landing_condots.png"/>
        </span>
      </span>
    </div>
    <div class="container">
      <div class="welcome-message row">
        <div class="message col-md-6">
          <h5>FOR ALL APPS & WEBSITES</h5>
          <span class="g6">
            Download,<br/>
            manage, execute
          </span>
          <span class="body-l">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque nibh ut nulla porttitor semper. Pellentesque consectetur,
          </span>
          <span class="cta-base">
            <logo-link [classes]="['success']" [url]="'docs/info/getstarted'">Get Started</logo-link>
          </span>
        </div>
        <div class="gfx col-md-6">
          <img src="/assets/img/gfx_landing_main.png" />
        </div>
      </div>
      <div class="section-map">
        <logo-link [classes]="['ghost']" [url]="'#02'">
          <span class="counter g8">02</span>
          <span class="name"><h6>Components & Icon</h6></span>
        </logo-link>
        <i></i>
        <logo-link [classes]="['ghost']" [url]="'#02'">
          <span class="counter g8">03</span>
          <span class="name"><h6>Responsive Color Generator</h6></span>
        </logo-link>
        <i></i>
        <logo-link [classes]="['ghost']" [url]="'#02'">
          <span class="counter g8">04</span>
          <span class="name"><h6>Preview</h6></span>
        </logo-link>
      </div>
    </div>
  </div>
  <div class="lde-features lde-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <logo-carousel [count]="13" [arrow]="false" [dots]="true">
            <div class="slider-item">
              <div class="feature-1">
                <span class="gfx-btn">
                  <img src="/assets/img/gfx_landing_feature_btns_item.png"/>
                </span>
                <span class="gfx-code">
                  <img src="/assets/img/gfx_landing_feature_btns_code.png"/>
                </span>
              </div>
            </div>
            <div class="slider-item">
              <div class="feature-2">
                <span class="button-row">
                  <button class="primary large">Button</button>&nbsp;&nbsp;
                  <button class="primary large le-alarm_bell_1 icon-left">Button</button>&nbsp;&nbsp;
                  <button class="primary large le-arrow_down icon-right"><span class="le-alarm_bell_1"></span> </button>
                </span>
                <span class="button-row">
                  <button class="primary large le-cross icon-right">Button</button>&nbsp;&nbsp;
                  <button class="primary large le-arrow_down icon-right">Button</button>
                </span>

              </div>
            </div>
            <div class="slider-item">
              <div class="feature-3">
                <span class="color-pallette-big bg-primary"></span>
                <span class="color-pallette-item bg-primary"></span>
                <span class="color-pallette-item bg-primary"></span>
                <span class="color-pallette-item bg-primary"></span>
                <span class="color-pallette-item bg-primary"></span>
                <span class="color-pallette-item bg-primary"></span>
                <span class="color-pallette-item bg-primary"></span>
                <span class="color-pallette-item bg-primary"></span>
                <span class="color-pallette-item bg-primary"></span>
                <span class="color-pallette-item bg-primary"></span>
                <span class="color-pallette-item bg-primary"></span>
              </div>
            </div>
          </logo-carousel>
        </div>
        <div class="col-md-6">

        </div>
      </div>
    </div>
  </div>
  <div class="lde-setup lde-section">
    SETUP
  </div>
  <div class="lde-preview lde-section">
    PREVIEW
  </div>
</div>

