<div class="led-landing">
  <div class="led-jumbotron">
    <div class="gfx-base">
      <span class="left">
        <span class="item">
          <img src="/assets/img/gfx_landing_welcome_triangle.png"/>
        </span>
        <span class="item">
          <img src="/assets/img/gfx_landing_welcome_triangle.png"/>
        </span>
      </span>
      <span class="right">
        <span class="item">
          <img src="/assets/img/gfx_landing_condots.png"/>
        </span>
      </span>
    </div>
    <div class="container">
      <div class="welcome-message row">
        <div class="message col-lg-5 col-xs-12">
          <h5>FOR ALL APPS & WEBSITES</h5>
          <span class="g6">
            Download,<br/>
            manage, execute
          </span>
          <p class="large">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque nibh ut nulla porttitor
            semper. Pellentesque consectetur,
          </p>
          <span class="cta-base">
            <logo-link [classes]="['success large']" [url]="'docs/info/getstarted'">Get Started</logo-link>
          </span>
        </div>
        <div class="gfx col-lg-7 col-xs-12">
          <img src="/assets/img/gfx_landing_main.png"/>
        </div>
        <div class="section-map">
          <logo-link [classes]="['ghost map-item']" [fragment]="'02'">
            <span class="counter g8">02</span>
            <span class="name"><h6>Components <br>& Icon</h6></span>
          </logo-link>
          <logo-link [classes]="['ghost map-item']" [fragment]="'03'">
            <span class="counter g8">03</span>
            <span class="name"><h6>Responsive <br>Color Generator</h6></span>
          </logo-link>
          <logo-link [classes]="['ghost map-item last']" [fragment]="'04'">
            <span class="counter g8">04</span>
            <span class="name"><h6>Preview</h6></span>
          </logo-link>
        </div>
      </div>
    </div>
  </div>
  <div class="led-features led-section">
    <div class="container" name="02">
      <div class="row led-feature-introduction">
        <div class="col-md-6">
          <logo-carousel [count]="1" [arrow]="false" [dots]="true">
            <div class="slider-item">
              <div class="feature-1">
                <span class="gfx-btn">
                  <img src="/assets/img/gfx_landing_feature_btns_item.png"/>
                </span>
                <span class="gfx-code">
                  <img src="/assets/img/gfx_landing_feature_btns_code.png"/>
                </span>
              </div>
            </div>
            <div class="slider-item">
              <div class="feature-2">
                <span class="button-row">
                  <img src="/assets/img/gfx_landing_btn_normal.svg" alt="Button Normal">
                  <img src="/assets/img/gfx_landing_btn_alert.svg" alt="Button Alert">
                  <img src="/assets/img/gfx_landing_btn_alert_dropdown.svg" alt="Button Alert Dropdown">
                </span>
                <span class="button-row">
                  <img src="/assets/img/gfx_landing_btn_remove.svg" alt="Button Remove">
                  <img src="/assets/img/gfx_landing_btn_dropdown.svg" alt="Button Dropdown">
                </span>

              </div>
            </div>
            <div class="slider-item">
              <div class="feature-3">
                <span class="cp-center">
                  <span class="name">Primary</span>
                  <span class="code">#E6F4FF</span>
                </span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
              </div>
            </div>
          </logo-carousel>
        </div>
        <div class="col-md-6">
          <div class="led-section-info">
            <span class="section-number">02</span>
            <span class="section-title">
              <h5>COMPONENTS, COLORS & SPECS</h5>
            </span>
            <span class="section-motto g8">Features</span>
            <div class="row section-details">
              <div class="col-md-4">
                <h5>Documentation</h5>
              </div>
              <div class="col-md-8">
                <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque nibh ut
                  nulla
                  porttitor semper. Pellentesque consectetur, Phasellus pellentesque nibh ut nulla porttitor semper.
                  Pellentesque consectetur,</p>
                <span class="cta-base">
                  <logo-link [classes]="'primary large'" [url]="'/docs/components'">Details</logo-link>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="led-features-showcase row">
        <div class="col-md-4">
          <div class="led-card landing">
            <span class="card-title-image">
              <span class="overlay icons"></span>
              <span class="gfx-base">
                <img src="/assets/img/gfx_landing_icons.png"/>
              </span>
            </span>
            <span class="card-icon">
              <span class="icon-placer">
                <img src="/assets/img/ico_icons.svg" alt="Icons"/>
              </span>
            </span>
            <span class="card-info">
              <h3>Icons</h3>
              <p class="large">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque nibh ut nulla porttitor
              </p>
            </span>
            <span class="card-cta">
              <logo-link [url]="'/icons'" [classes]="'primary icon-left le-eye large'">See Icons</logo-link>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="led-card landing">
            <span class="card-title-image">
              <span class="overlay figma"></span>
              <span class="gfx-base">
                <img src="/assets/img/gfx_landing_figmasource.png"/>
              </span>
            </span>
            <span class="card-icon">
              <span class="icon-placer">
                <img src="/assets/img/ico_figma.svg" alt="Figma Source"/>
              </span>
            </span>
            <span class="card-info">
              <h3>Figma Source</h3>
              <p class="large">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque nibh ut nulla porttitor
              </p>
            </span>
            <span class="card-cta">
              <logo-link [url]="'/download'"
                         [classes]="'primary icon-left le-download large'">Download Figma Source</logo-link>
            </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="led-card landing">
            <span class="card-title-image">
              <span class="overlay inspect"></span>
              <span class="gfx-base">
                <img src="/assets/img/gfx_landing_inspect.png"/>
              </span>
            </span>
            <span class="card-icon">
              <span class="icon-placer">
                <img src="/assets/img/ico_inspect.svg" alt="Inspect"/>
              </span>
            </span>
            <span class="card-info">
              <h3>Inspect</h3>
              <p class="large">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque nibh ut nulla porttitor
              </p>
            </span>
            <span class="card-cta">
              <logo-link [url]="'/docs/getstarted'"
                         [classes]="'primary icon-left le-iris_scan_approved large'">Inspect</logo-link>
            </span>
          </div>
        </div>
      </div>
      <div class="led-features-points row">
        <div class="col-md-3 point-item">
          <span class="icon-base">
            <span class="le-checklist"></span>
          </span>
          <span class="info-base">
            <h3>Usage</h3>
            <p class="large">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesqueEtiam eu  .
            </p>
          </span>
        </div>
        <div class="col-md-3 point-item">
          <span class="icon-base">
            <span class="le-code_view"></span>
          </span>
          <span class="info-base">
            <h3>Style</h3>
            <p class="large">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesqueEtiam eu  .
            </p>
          </span>
        </div>
        <div class="col-md-3 point-item">
          <span class="icon-base">
            <span class="le-copy"></span>
          </span>
          <span class="info-base">
            <h3>Download</h3>
            <p class="large">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesqueEtiam eu  .
            </p>
          </span>
        </div>
        <div class="col-md-3 point-item">
          <span class="icon-base">
            <span class="icon npm le-tags_1"></span>
          </span>
          <span class="info-base">
            <h3>Icon Support</h3>
            <p class="large">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesqueEtiam eu  .
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="led-setup led-section">
    <div class="container section-general-info" name="03">
      <div class="row">
        <div class="col-md-7 gfx-base">
          <img src="/assets/img/gfx_landing_setup.png"/>
        </div>
        <div class="col-md-5 info-base">
          <div class="led-section-info">
            <span class="section-number">03</span>
            <span class="section-title">
              <h5>COLOR GENERATOR & RESPONSIVE</h5>
            </span>
            <span class="section-motto g8">Set up your web site</span>
            <div class="row section-details">
              <div class="col-md-4">
                <h5>Responsive Layout</h5>
              </div>
              <div class="col-md-8">
                <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesque nibh ut
                  nulla
                  porttitor semper. Pellentesque consectetur, Phasellus pellentesque nibh ut nulla porttitor semper.
                  Pellentesque consectetur,</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row led-colorgenerator">
        <div class="col-md-6 info-base">
          <h5>Color Generator</h5>
          <span class="g8">Customize your app with color generator</span>
          <p class="large">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elit sit amet.
          </p>
          <span class="cta-base">
            <button class="light large disabled" disabled>Will be ready soon!</button>
          </span>
        </div>
        <div class="col-md-6 gfx-base">
          <span class="led-blue-strip"></span>
          <img src="/assets/img/gfx_landing_colorgenerator.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="led-preview led-section">
    <div class="container" name="04">
      <div class="row">
        <div class="col-md-8">
          <img src="/assets/img/gfx_landing_preview.png"/>
        </div>
        <div class="col-md-4">
          <div class="led-section-info">
            <span class="section-number">04</span>
            <span class="section-title">
                <h5>PREVIEW</h5>
              </span>
            <span class="section-motto g8">Improve your website with elements</span>
            <div class="row section-details">
              <div class="col-md-12">
                <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pellentesqueEtiam
                  eu aliquet mi. Pellentesque est augue, rho.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus pellentesqueEtiam eu aliquet mi. Pellentesque est augue, rho.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<logo-led-footer></logo-led-footer>
