<div class="led-landing">
  <div class="led-jumbotron">
    <div class="gfx-base">
      <span class="left">
        <span class="item">
          <img src="/assets/img/gfx_landing_welcome_triangle.png"/>
        </span>
        <span class="item">
          <img src="/assets/img/gfx_landing_welcome_triangle.png"/>
        </span>
      </span>
      <span class="right">
        <span class="item">
          <img src="/assets/img/gfx_landing_condots.png"/>
        </span>
      </span>
    </div>
    <div class="container">
      <div class="welcome-message row">
        <div class="message col-lg-5 col-xs-12">
          <h5>FOR ALL APPS & WEBSITES</h5>
          <span class="g6 bold">
            Download,<br/>
            manage, execute
          </span>
          <p class="large">
            Design Assets easily adaptable to your brand.
            Available for and Figma component libraries, based on Logo Elements Design System.
          </p>
          <span class="cta-base">
            <logo-link [classes]="['success large']" [url]="'docs/getstarted'">Get Started</logo-link>
          </span>
        </div>
        <div class="gfx col-lg-7 col-xs-12">
          <img src="/assets/img/gfx_landing_image.png"/>
        </div>
        <div class="section-map">
          <logo-link [classes]="['ghost map-item']" [fragment]="'section02'">
            <span class="counter g8 bold">02</span>
            <span class="name"><h6>Components <br>& Icon</h6></span>
          </logo-link>
          <logo-link [classes]="['ghost map-item']" [fragment]="'section03'">
            <span class="counter g8 bold">03</span>
            <span class="name"><h6>Responsive <br>Color Generator</h6></span>
          </logo-link>
          <logo-link [classes]="['ghost map-item last']" [fragment]="'section04'">
            <span class="counter g8 bold">04</span>
            <span class="name"><h6>Preview</h6></span>
          </logo-link>
        </div>
      </div>
    </div>
  </div>
  <div class="led-features led-section" id="section02">
    <div class="container">
      <div class="row led-feature-introduction">
        <div class="col-lg-6 col-xs-12">
          <logo-carousel [count]="1" [arrow]="false" [dots]="true">
            <div class="slider-item">
              <div class="feature-1">
                <span class="gfx-btn">
                  <img src="/assets/img/gfx_landing_feature_btns_item.png"/>
                </span>
                <span class="gfx-code">
                  <img src="/assets/img/gfx_landing_feature_btns_code.png"/>
                </span>
              </div>
            </div>
            <div class="slider-item">
              <div class="feature-2">
                <span class="button-row">
                  <img src="/assets/img/gfx_landing_btn_normal.svg" alt="Button Normal">
                  <img src="/assets/img/gfx_landing_btn_alert.svg" alt="Button Alert">
                  <img src="/assets/img/gfx_landing_btn_alert_dropdown.svg" alt="Button Alert Dropdown">
                </span>
                <span class="button-row">
                  <img src="/assets/img/gfx_landing_btn_remove.svg" alt="Button Remove">
                  <img src="/assets/img/gfx_landing_btn_dropdown.svg" alt="Button Dropdown">
                </span>

              </div>
            </div>
            <div class="slider-item">
              <div class="feature-3">
                <span class="cp-center">
                  <span class="name">Primary</span>
                  <span class="code">#E6F4FF</span>
                </span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
                <span class="cp-item"></span>
              </div>
            </div>
          </logo-carousel>
        </div>
        <div class="col-lg-6 col-xs-12">
          <div class="led-section-info">
            <span class="section-number">02</span>
            <span class="section-title">
              <h5>COMPONENTS, COLORS & SPECS</h5>
            </span>
            <span class="section-motto g8 bold">Features</span>
            <div class="row section-details">
              <div class="col-md-4">
                <h5>Documentation</h5>
              </div>
              <div class="col-md-8">
                <p class="large">LEDS equips designers and developers with a set of tools and guidelines to create apps
                  for any platform faster than ever – providing a consistent, innovative experience for both creators
                  and users.
                  LEDS enables you to turn new ideas into great apps as quickly as the market demands.</p>
                <span class="cta-base">
                  <logo-link [classes]="'primary large'" [url]="'docs/getstarted'">Details</logo-link>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="led-features-showcase row">
        <div class="slider-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="led-card landing">
              <span class="card-title-image">
                <span class="overlay icons"></span>
                <span class="gfx-base">
                  <img src="/assets/img/gfx_landing_icons.png"/>
                </span>
              </span>
            <span class="card-icon">
                <span class="icon-placer">
                  <img src="/assets/img/ico_icons.svg" alt="Icons"/>
                </span>
              </span>
            <span class="card-info">
                <h3>Icons</h3>
                <p class="large">
                  LEDS Icons is a pack of more than 480 beautifully crafted
                  Open Source icons for default system actions and navigation.
                </p>
              </span>
            <span class="card-cta">
                <logo-link
                  [url]="'/icons'"
                  [classes]="'primary icon-left le-eye large'"
                >
                  See Icons
                </logo-link>
              </span>
          </div>
        </div>
        <div class="slider-item col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <div class="led-card landing">
              <span class="card-title-image">
                <span class="overlay figma"></span>
                <span class="gfx-base">
                  <img src="/assets/img/gfx_landing_figmasource.png"/>
                </span>
              </span>
            <span class="card-icon">
                <span class="icon-placer">
                  <img src="/assets/img/ico_figma.svg" alt="Figma Source"/>
                </span>
              </span>
            <span class="card-info">
                <h3>Figma Source</h3>
                <p class="large">
                  LEDS - customizable Design System available for Figma, with Mobile and Web implementations.
                </p>
              </span>
            <span class="card-cta">
                <logo-link
                  [url]="'/download'"
                  [fragment]="'drawer-main-top'"
                  [classes]="'primary icon-left le-download large'"
                >
                  Download Source
                </logo-link>
              </span>
          </div>
        </div>
        <div class="slider-item col-xs-12 col-sm-6 hidden-md col-lg-4">
          <div class="led-card landing">
              <span class="card-title-image">
                <span class="overlay inspect"></span>
                <span class="gfx-base">
                  <img src="/assets/img/gfx_landing_inspect.png"/>
                </span>
              </span>
            <span class="card-icon">
                <span class="icon-placer">
                  <img src="/assets/img/ico_inspect.svg" alt="Inspect"/>
                </span>
              </span>
            <span class="card-info">
                <h3>Inspect</h3>
                <p class="large">
                  LEDS developed specifically for web applications and contains many ready-made components
                  that significantly...
                </p>
              </span>
            <span class="card-cta">
                <logo-link
                  [external]="true"
                  [url]="'https://www.figma.com/file/cEgo4uHf1COutYlM2X0ket/Showcase?node-id=2%3A15'"
                  [classes]="'primary icon-left le-iris_scan_approved large'"
                >
                  Inspect
                </logo-link>
              </span>
          </div>
        </div>
      </div>
      <div class="led-features-points row">
        <div class="col-xs-12 col-md-6 col-lg-3 point-item">
          <span class="icon-base">
            <span class="le-checklist"></span>
          </span>
          <span class="info-base">
            <h3>Usage</h3>
            <p class="large">
              LEDS serves a wide range of designers and developers building digital products and experiences.
            </p>
          </span>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 point-item">
          <span class="icon-base">
            <span class="le-code_view"></span>
          </span>
          <span class="info-base">
            <h3>Style</h3>
            <p class="large">
              It’s designed and built to be accessible to all, regardless of ability or situation.
            </p>
          </span>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 point-item">
          <span class="icon-base">
            <span class="le-copy"></span>
          </span>
          <span class="info-base">
            <h3>Download</h3>
            <p class="large">
              You can dowload LEDS and use it every projects.
            </p>
          </span>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3 point-item">
          <span class="icon-base">
            <span class="icon npm le-tags_1"></span>
          </span>
          <span class="info-base">
            <h3>Icon Support</h3>
            <p class="large">
              You can download the icon you need and use it in your project.
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="led-setup led-section" id="section03">
    <div class="container section-general-info">
      <div class="row">
        <div class="col-xs-12 col-lg-7 gfx-base">
          <img src="/assets/img/gfx_landing_setup.png"/>
        </div>
        <div class="col-xs-12 col-lg-5 info-base">
          <div class="led-section-info">
            <span class="section-number">03</span>
            <span class="section-title">
              <h5>COLOR GENERATOR & RESPONSIVE</h5>
            </span>
            <span class="section-motto g8 bold">Set up your web site</span>
            <div class="row section-details">
              <div class="col-md-4">
                <h5>Responsive Layout</h5>
              </div>
              <div class="col-md-8">
                <p class="large">Build apps for your organization that are simple, preconfigured, and UI
                  technology-independent. Cut development time remarkably. Beyond delivering singular applications and
                  tools, LEDS has the ambition to provide an integrated suite of intelligent solutions. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row led-colorgenerator">
        <div class="col-xs-12 col-md-6 info-base">
          <h5>Color Generator</h5>
          <span class="g8 bold">Customize your app with color generator</span>
          <p class="large">
            Customize your app or website with our color library. We apply the experience we've got while building our
            LEDS to help you create your own outstanding design solution and reduce development time.
          </p>
          <span class="cta-base">
            <button class="light large disabled" disabled>Will be ready soon!</button>
          </span>
        </div>
        <div class="col-xs-12 col-md-6 gfx-base">
          <span class="led-blue-strip"></span>
          <img src="/assets/img/gfx_landing_colorgenerator.png"/>
        </div>
      </div>
    </div>
  </div>
  <div class="led-preview led-section" id="section04">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-8">
          <img src="/assets/img/gfx_landing_preview.png"/>
        </div>
        <div class="col-xs-12 col-lg-4">
          <div class="led-section-info">
            <span class="section-number">04</span>
            <span class="section-title">
                <h5>PREVIEW</h5>
              </span>
            <span class="section-motto g8 bold">Improve your website with elements</span>
            <div class="row section-details">
              <div class="col-md-12">
                <p class="large">The full cycle of design services to create and launch a website from scratch with
                  modern well-thought-out UI/UX design meeting the various needs of your users.</p>
                <br>
                <p class="large">
                  The system’s modularity ensures maximum flexibility in execution. Its components are designed to work
                  seamlessly with each other, in whichever combination suits the needs of the user.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<logo-led-footer></logo-led-footer>
