@import "~@logo-software/theme/base";

:host {
  --carousel-dots-margin: #{size(25px)} 0 0 0;

  display: block;

  ul {
    list-style-image: url("/assets/images/services/idm/check.svg");

    li {
      line-height: size(35px);
      padding-left: size(10px);
    }
  }

  section.one {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
      display: flex;
      position: relative;
      z-index: 1;

      div.title-content {
        font-family: get("font.alternative");
        max-width: size(464px);

        .sub {
          font-size: size(20px);
          color: #707070;
          font-weight: bold;
          line-height: size(28px);
          margin: 0;
        }

        .title {
          flex-direction: column;
          pointer-events: none;
          color: var(--primary);
          font-weight: bold;
          font-size: size(40px);
          line-height: size(45px);

          .for {
            color: #707070;
          }
        }

        .description {
          margin: size(25px) 0 size(40px) 0;
          font-size: size(20px);
          color: #707070;
          pointer-events: none;
          font-weight: normal;
          line-height: size(27px);
        }
      }
    }

    div.backgrounds {
      position: absolute;
      bottom: 0;
      margin: auto;
      width: calc(100% - #{size(604px)});
      right: 0;
      height: 100%;
      z-index: 0;
      background: no-repeat url("/assets/images/services/as/section-01-illustration.svg") right center/contain;

      @include smaller-than(lg) {
        background: none;
      }
    }
  }

  section.two {
    position: relative;
    font-family: get("font.alternative");
    background: linear-gradient(0deg, #cad9f3 0%, #ffffff 100%);
    padding-bottom: size(63px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      h1 {
        font-size: size(40px);
        color: #707070;
        text-align: center;
        font-weight: 300;
        line-height: size(45px);
      }

      p {
        font-size: size(20px);
        margin-top: 0;
        margin-bottom: size(50px);
        text-align: center;
        font-weight: normal;
        line-height: size(40px);
      }

      logo-carousel {
        position: relative;
        z-index: 1;

        .slider-item {
          background-color: var(--white);
          box-shadow: 0 size(60px) size(60px) #6e6e6e46;
          border-radius: size(20px);
          box-sizing: border-box;
          backdrop-filter: blur(23px);
          color: var(--neutral-800);
          padding: size(60px) size(40px);
          min-width: size(264px);
          width: size(264px);
          margin-right: size(24px);
          display: inline-block;
          vertical-align: top;
          white-space: normal;
          justify-content: flex-start;

          .icon-bg {
            height: size(35px);
            width: size(35px);
            position: relative;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            margin-bottom: size(37px);
          }

          .abbr {
            font-weight: bold;
            font-size: size(40px);
          }

          .title {
            color: #89969f;
            font-size: size(12px);
            font-weight: bold;
            letter-spacing: size(0.2px);
          }

          .description {
            // margin-top: size(20px);
            font-size: size(20px);
            font-weight: normal;
            line-height: size(28px);
            text-align: left;
          }

          .detail {
            font-size: size(12px);
            margin-top: size(20px);
          }
        }

        ::ng-deep {
          .arrow-with-animation .slider-arrow {
            color: var(--white);

            --active: #636363;
            --border: rgb(134 134 134 / 12%);
          }
        }
      }

      logo-link {
        position: relative;
        z-index: 1;
        margin-top: size(94px);
      }
    }

    div.backgrounds {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      overflow: hidden;

      div.circle-01 {
        position: absolute;
        left: 15%;
        top: size(90px);
        width: size(154px);
        height: size(154px);
        background: rgba(#62d3bd, 0.11);
        border-radius: 50%;
      }

      div.circle-02 {
        position: absolute;
        right: 0;
        margin-right: -5%;
        top: size(45px);
        width: size(154px);
        height: size(154px);
        background: rgba(#b0d4ff, 0.45);
        border-radius: 50%;
      }

      div.circle-03 {
        position: absolute;
        left: 20%;
        bottom: -5%;
        width: size(90px);
        height: size(90px);
        background: rgba(#62d3bd, 0.4);
        border-radius: 50%;
      }

      div.circle-04 {
        position: absolute;
        right: 20%;
        bottom: -15%;
        width: size(268px);
        height: size(268px);
        background: rgba(#4c73dc, 0.05);
        border-radius: 50%;
      }

      div.gear {
        position: absolute;
        right: size(50px);
        top: size(115px);
        width: size(65px);
        height: size(68px);
        background: no-repeat url("/assets/images/services/as/section-02-setting-icon.svg") center;
      }

      div.gears {
        position: absolute;
        right: 20%;
        bottom: 13%;
        width: size(73px);
        height: size(83px);
        background: no-repeat url("/assets/images/services/as/section-02-gears.svg") center;
      }
    }
  }

  section.three {
    padding: 0;

    .row {
      @include smaller-than("md") {
        height: auto;
      }

      .content {
        color: #707070;
        flex-direction: column;
        padding: size(100px) size(120px);

        @include smaller-than("sm") {
          padding: size(40px);
        }

        h1 {
          font-size: size(40px);
          font-weight: 500;
        }

        ul {
          list-style-image: url("/assets/images/services/idm/check.svg");

          li {
            margin-top: size(20px);
            padding-left: size(10px);

            h2 {
              font-weight: bold;
              font-size: size(20px);
            }

            p {
              font-size: size(16px);
            }
          }
        }
      }

      .image {
        padding-right: size(120px);
        background: no-repeat url("/assets/images/services/as/section-03-photo.png") left center / cover;

        @include smaller-than("md") {
          min-height: size(350px);
        }
      }
    }
  }

  section.four {
    padding: 0;

    .row {
      @include smaller-than("md") {
        flex-direction: column-reverse;
      }

      .image {
        background-image: url("/assets/images/services/as/section-04-photo.png");
        background-repeat: no-repeat;
        background-position: center;

        @include smaller-than("md") {
          min-height: size(350px);
          background-size: cover;
        }
      }

      .content {
        color: #707070;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: size(100px) size(120px);

        @include smaller-than("sm") {
          padding: size(40px);
        }

        ul {
          list-style-image: url("/assets/images/services/idm/check.svg");

          li {
            margin-top: size(20px);
            padding-left: size(10px);

            h2 {
              font-weight: bold;
              font-size: size(20px);
            }

            p {
              font-size: size(16px);
            }
          }
        }

        logo-link {
          margin-top: size(20px);
          margin-left: size(50px);
        }
      }
    }
  }

  section.five {
    background: #3abf7c;
    min-height: size(376px);
    color: #ffffff;

    .opinions {
      position: relative;
      z-index: 1;

      aside.user {
        @include larger-than(md) {
          justify-content: center;
          margin-top: size(106px);
          margin-bottom: size(106px);
          border-right: size(1px) solid white;
        }

        div.circle {
          width: size(106px);
          height: size(106px);
          border: size(2px) solid white;
          border-radius: 50%;
          background-color: var(--dark-300);
        }
      }

      aside.opinion {
        flex-direction: column;

        @include larger-than(md) {
          padding-left: size(70px);
        }

        h1 {
          font-size: size(35px);
          font-weight: normal;
          margin-bottom: size(30px);
        }

        div.description {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: size(-15px);

            @include larger-than(md) {
              left: size(-50px);
              top: size(-5px);
            }

            background: url("/assets/images/services/idm/section-05-quoute.svg") center no-repeat;
            background-size: contain;
            width: size(30px);
            height: size(27px);
          }

          &::after {
            position: absolute;
            content: "";
            background: url("/assets/images/services/idm/section-05-quoute.svg") center no-repeat;
            transform: rotate(-180deg);
            right: 0;
            bottom: 0;
            width: size(30px);
            height: size(27px);
          }
        }

        div.author {
          .name {
            font-size: size(16px);
            font-weight: bold;
          }

          .title {
            font-size: size(12px);
          }
        }
      }
    }
  }

  section.six {
    background-color: #fffdee;
    position: relative;

    .list {
      flex-direction: column;
      color: #707070;
      font-weight: bold;

      h1 {
        font-size: size(35px);
        margin-bottom: size(35px);
      }

      ul {
        font-size: size(20px);
        font-weight: 600;
        flex-direction: column;
      }
    }

    .button {
      margin-top: size(30px);
    }

    .picture {
      position: relative;
      min-height: size(230px);

      .background {
        position: absolute;
        top: size(-50px);
        bottom: size(-50px);
        background: url("/assets/images/services/idm/section-06-screenshot.png") bottom no-repeat;
        background-size: contain;
        min-height: size(230px);
        width: 100%;

        @include smaller-than(md) {
          top: size(-40px);
          bottom: size(-40px);
        }
      }
    }
  }
}
