<header>
  <nav>
    <button class="menu ghost large logo-menu-left-alt"></button>
    <a class="logo large" href="/#/root"><span>Logo</span><span>Elements</span></a>
    <button class="light ghost large">GUIDE</button>
    <button class="docs light ghost large">DOCS</button>
    <button class="light ghost large">COMPONENTS</button>
    <button class="light ghost large">BLOG</button>
    <label class="search logo-add">
      <logo-input placeholder="Search" icon="logo-i-add"></logo-input>
      <input type="text" placeholder="Search" class="large logo-i-search icon-right" required/>
    </label>
  </nav>
</header>
<section class="page-one"></section>
