@import "~@logo-software/icons/src/lib/logo-icons";
@import "~@logo-software/theme/src/lib/style";

:host {
  @include host();
  $header-size: size(80px);

  header {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $header-size;
    box-shadow: 0 0 size(10px) 0 rgba(0, 0, 0, 0.05);
    padding: size(0) size(50px);
    z-index: 1;
    background-color: var(--white);

    nav {
      display: flex;
      margin: 0;
      padding: 0;
      align-items: center;
      width: 100%;

      .menu {
      }

      .logo {
        display: flex;
        width: size(245px);
        box-sizing: border-box;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          color: var(--white);
          font-size: size(25px);
          font-weight: normal;
          line-height: 1.36;
          border-radius: size(2px);
        }

        span:first-child {
          background-color: var(--primary-500);
        }

        span:last-child {
          color: var(--gray-600);
          padding: size(10px) size(7px);
        }
      }

      .links {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        padding-right: size(100px);

        .docs {
          font-weight: bold;
        }
      }

      .search {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    padding: size(100px);
  }

  section.one {
    padding: ($header-size + size(100px)) size(100px) size(100px) size(120px);
    min-height: size(400px);
    background: url('images/landscape.svg') right size(-200px) bottom size(-56px) no-repeat;

    div.title-content {
      h1.title {
        .for-developers {
          padding: size(7.5px) size(15px);
        }
      }

      p.description {
        width: size(450px);
        margin: size(25px) 0 size(80px) 0;
        font-size: size(20px);
      }
    }

    div.clouds {
      position: absolute;
      bottom: 0;
      right: size(888px);

      .cloud-group-1 {
        @include cloud($width: 140px, $color: var(--secondary-400), $shadow-color: rgba(color(secondary), 0.27), $shadow-height: 135px, $timing: 42s);
        bottom: size(135px);
        left: 30px;
      }

      .cloud-group-2 {
        @include cloud($width: 90px, $shadow-color: rgba(color(secondary), 0.27), $shadow-height: 90px, $timing: 20s, $animation-number: 2);
        bottom: size(90px);
        left: size(150px);
      }
    }
  }

  section.two {
    background: url('images/leaf.svg') no-repeat left top;
    align-items: center;

    .background-image {
      width: size(165px);
      height: size(103px);
      background: transparent url('images/code.svg') 0 0 no-repeat padding-box;
    }

    h2, h5, p {
      font-family: $font-alternative;
      color: var(--dark-900);
      text-align: center;
      margin: 0;
    }

    h2 {
      padding: size(60px) 0 size(40px) 0;
      font-size: size(60px);
      font-weight: bold;
      line-height: size(65px);
      max-width: size(600px);
    }

    h5 {
      font-size: size(40px);
      font-weight: 300;
      line-height: size(57px);
      padding-bottom: size(18px);
    }

    p {
      margin-bottom: size(40px);
      font-weight: 300;
    }
  }

  section.three {
    justify-content: center;
    align-items: center;

    div.article-container {
      display: flex;
      flex-direction: row;
      margin-top: size(140px);
      margin-bottom: size(80px);

      h1 {
        font-family: $font-alternative;
        font-size: size(30px);
        margin-bottom: size(60px);

        span {
          background-repeat: no-repeat;
          background-position: center top;
          padding-top: size(50px);
        }

        span.brush {
          background-image: url('images/brush.svg');
          background-size: size(31px);
        }

        span.laptop {
          background-image: url('images/laptop.svg');
          background-size: size(54px);
        }

        span.mobile {
          background-image: url('images/mobile.svg');
          background-size: size(61px);
        }
      }

      aside {
        font-size: size(18px);
        margin: 0 size(45px);
        max-width: size(400px);
        text-align: center;

        &:first-child {
          margin-left: 0;
          text-align: left;
        }

        &:last-child {
          margin-right: 0;
          text-align: right;
        }

        article {
          font-weight: 200;

          span {
            font-weight: bold;
          }
        }
      }
    }
  }

  section.four {
    background: #101010 0 0 no-repeat padding-box;
    align-items: flex-start;
    justify-content: space-between;

    div.quotes {
      margin-bottom: size(75px);

      h1.story {
        color: var(--white);
        font-weight: 300;
      }

      span.author {
        font-weight: 300;
        color: var(--dark-900);
        font: 30px/41px $font-family;
      }
    }

    div.company {
      flex-grow: 1;

      h5 {
        color: var(--white);
        font-weight: 200;
        margin-bottom: size(20px);
      }

      p {
        font-size: size(14px);
        font-weight: 200;
        color: var(--light-900);
      }
    }

    div.links {
      padding-top: size(100px);

      a {
        color: var(--white);

        &:not(:last-of-type)::after {
          content: '|';
          padding: 0 size(5px);
        }
      }
    }

    div.terms {
      font-family: $font-alternative;
      font-size: size(11px);

      a {
        color: var(--dark-700);

        &:not(:last-of-type)::after {
          content: '|';
          padding: 0 size(5px);
        }
      }
    }
  }

  footer {
    display: flex;
    font-family: $font-alternative;
    font-size: size(12px);
    color: var(--dark-500);
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: size(26px) size(100px);
    background-color: var(--black);

    div.social {
      margin-bottom: size(20px);

      a.icon {
        display: inline-block;
        height: size(16px);
        width: size(16px);
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 size(15px);
        color: var(--white);

        &.twitter {
          background-image: url('images/twitter.svg');
          width: size(19px);
        }

        &.facebook {
          background-image: url('images/facebook.svg');
        }

        &.youtube {
          background-image: url('images/youtube.svg');
          width: size(22px);
        }
      }
    }

    div.copyright {
      display: flex;
      justify-content: center;

      div.designer {
        color: var(--light-800);
        font-size: size(10px);
        font-weight: 200;
        font-family: $font-alternative;
        margin-bottom: size(30px);
      }

      span.year {
        margin-right: size(3px);
      }
    }
  }
}
