<h5>Default Badge Sizes</h5>
<div class="badge-sample-base">
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [size]="'large'"
  >
    Large size badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
  >
    Default size of the badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [size]="'small'"
  >
    Small size badge
  </logo-badge>
</div>
<h5>Badge Color Schemes</h5>
<div class="badge-sample-base">
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [theme]="'primary'"
  >
    Primary Badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
  >
    Secondary (Default) Badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [theme]="'warning'"
  >
    Warning Badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [theme]="'success'"
  >
    Success Badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [theme]="'danger'"
  >
    Danger Badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [theme]="'yellow'"
  >
    Yellow Badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [theme]="'purple'"
  >
    Purple Badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [theme]="'pink'"
  >
    Pink Badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [theme]="'teal'"
  >
    Teal Badge
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [theme]="'tan'"
  >
    Tan Badge
  </logo-badge>
</div>
<h5>Badge with Icon</h5>
<div class="badge-sample-base">
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [iconPosition]="'icon-left'"
    [icon]="'alarm_bell_1'"
  >
    Icon on left
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [iconPosition]="'icon-right'"
    [icon]="'alarm_bell_1'"
  >
    Icon on right
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [iconPosition]="'icon-top'"
    [icon]="'alarm_bell_1'"
  >
    Icon on top
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [iconPosition]="'icon-bottom'"
    [icon]="'alarm_bell_1'"
  >
    Icon on bottom
  </logo-badge>
</div>
<h5>Icon Only Badge</h5>
<div class="badge-sample-base">
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [icon]="'alarm_bell_1'"
    [size]="'large'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [icon]="'alarm_bell_1'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [icon]="'alarm_bell_1'"
    [size]="'small'"
  >
  </logo-badge>
</div>
