<h5>Default Badge Sizes</h5>
<div class="badge-sample-base">
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Large size badge'"
    [size]="'large'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Default size of the badge'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Small size badge'"
    [size]="'small'"
  >
  </logo-badge>
</div>
<h5>Badge Color Schemes</h5>
<div class="badge-sample-base">
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Primary Badge'"
    [theme]="'primary'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Secondary (Default) Badge'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Warning Badge'"
    [theme]="'warning'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Success Badge'"
    [theme]="'success'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Danger Badge'"
    [theme]="'danger'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Yellow Badge'"
    [theme]="'yellow'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Purple Badge'"
    [theme]="'purple'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Pink Badge'"
    [theme]="'pink'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Teal Badge'"
    [theme]="'teal'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [label]="'Tan Badge'"
    [theme]="'tan'"
  >
  </logo-badge>
</div>
<h5>Badge with Icon</h5>
<div class="badge-sample-base">
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [iconPosition]="'icon-left'"
    [icon]="'alarm_bell_1'"
    [label]="'Icon on left'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [iconPosition]="'icon-right'"
    [icon]="'alarm_bell_1'"
    [label]="'Icon on right'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [iconPosition]="'icon-top'"
    [icon]="'alarm_bell_1'"
    [label]="'Icon on top'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [iconPosition]="'icon-bottom'"
    [icon]="'alarm_bell_1'"
    [label]="'Icon on bottom'"
  >
  </logo-badge>
</div>
<h5>Icon Only Badge</h5>
<div class="badge-sample-base">
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [icon]="'alarm_bell_1'"
    [size]="'large'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [icon]="'alarm_bell_1'"
  >
  </logo-badge>
  <logo-badge
    [cssClasses]="'my-own-theme'"
    [icon]="'alarm_bell_1'"
    [size]="'small'"
  >
  </logo-badge>
</div>
