/**
Link
 */

a {
  font-weight: bold;
  border-radius: get("border.radius");
  cursor: pointer;
  text-decoration: none;
  font-size: size(get("size.medium.font-size"));
  @extend %padding-button;

  &[class*=logo-i] {
    @extend %size-medium, %padding-button-medium;
    display: inline-flex;
    align-items: center;
  }

  &:active, &:focus {
    box-shadow: none;
  }

  &:hover {
    text-decoration: underline;
  }
}
