/**
Link
 */
a {
  display: inline-flex; // display: inline-block;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: size(get("size.medium.font-size"));
  @extend %fill, %padding-button;

  &[class*=logo-i] {
    @extend %medium, %padding-button-medium;
    display: inline-flex;
    align-items: center;
  }

  &:active, &:focus {
    box-shadow: none;
  }
}
