button {
  border-radius: get("border.radius");
  @extend %fill;
  @extend %fill.secondary;
  @extend .medium;
  @include padding("element.button.size");
  @extend %extender;
  @extend %buttton-customize;
  @extend %semantic;
  @extend %semantic-background;
  white-space: nowrap;
  font-weight: normal;
}
