button {
  border-radius: get("border.radius");
  @extend %fill, %fill-secondary, %padding-button, %medium;
  @extend %button-customize !optional;
  @extend %semantic-border;
  @extend %semantic-background;
  white-space: nowrap;
  font-weight: normal;
}
