input, textarea {
  @extend %input;
}

input:not([type=checkbox]), input:not([type=radio]) {
  &:read-only {
    background-color: var(--basic-700);
  }
}

textarea {
  @extend %textarea;
}

/**
Checkbox
 */
input[type=checkbox] {
  @extend %checkbox;
}

/**
Radio
*/
input[type=radio] {
  border-radius: 50%;
}

input[type=checkbox], input[type=radio] {
  @extend %check-radio;
  @extend %check-radio-medium;
}

.input-w-icon {
  position: relative;

  span {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: size(30px);
    min-width: size(30px);
    z-index: 1;
    top: 0;
    color: var(--neutral-400);
  }

  input {
    width: 100%;
  }

  &.left {
    span {
      left: 0;
      border-right: 1px solid var(--basic-700);
    }
  }

  &.right {
    span {
      right: 0;
      border-left: 1px solid var(--basic-700);
    }
  }

  @each $size, $value in get("size") {
    &.#{$size} {
      span {
        @extend %icon-#{$size};

        width: calc(map-get($value, "icon-container") - 2px);
        min-width: calc(map-get($value, "icon-container") - 2px);
      }
    }
  }
}
