
input {
  border-radius: get("border.radius");
  @extend .medium;
  @extend %fill;
  @extend %fill.basic;
  @extend %placeholder;
  @extend %padding-input;
  @extend %semantic-input;

  &:not([type]), &[type~="text"], &[type~="password"] {
    &:focus {
      background-color: var(--white) !important;
      border: size(1px) solid var(--info) !important;
      color: var(--dark-900) !important;
    }
  }
}
