/**
Label
 */
label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: get("size.medium.font-size");
  @extend label.medium;

  @each $size, $size-map in get("size") {
    &.#{$size} {
      font-size: size(get('size.'+ $size + '.font-size'));
    }
  }
}
