#{get("selector")} {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  @each $size, $items in get("element.heads") {
    @each $item, $value in $items {
      #{$item + "." + $size} {
        font-size: size($value);
      }
    }
  }

  p {
    font-weight: 400;
    margin: 0;

    @each $size, $value in get("element.paragraphs") {
      &.#{$size} {
        font-size: get("element.paragraphs." + $size + ".font-size");
      }
    }
  }
}
