h1, h2, h3, h4, h5, h6 {
  @extend %head;
}

@each $size, $items in get("element.head.size") {
  @each $head, $value in $items {
    $selector: if($size==medium, $head, $head + "." + $size);
    #{$selector} {
      @extend %#{$head}-#{$size};
    }
  }
}

p {
  font-weight: 400;
  margin: 0;
  @extend %p-medium;

  @each $size, $value in get("element.paragraph.size") {
    &.#{$size} {
      @extend %p-#{$size};
    }
  }
}
