<div class="intro">
  <div class="intro-content">
   <h1 class="g8 bold">
     Dashboard Feature
   </h1>
   <p class="large">
     Farklı veri kaynaklarından çekilen verilerinizi görsel bileşenlere dönüştürün, tek bir dashboard tanımı yapın, tasarladığınız dashbordu herkes kendi verisi ile görsün.
   </p>
    <logo-link
      [classes]="['success', 'large', 'get-started']"
      external="true"
      url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139826"
    >
      KEŞFET
    </logo-link>
    <img class="img-fluid" src="./assets/images/services/dafs/dafs-intro-illu.png" >
  </div>
</div>
<div class="usage">
  <div class="left col-md-6">

  </div>
  <div class="right col-md-6">
    <img class="right" src="./assets/images/services/ks/ks-usage-illu.png">

  </div>
</div>
<div class="specs">


</div>
