<h2>Single Autocomplete</h2>
<logo-autocomplete
  (filter)="onFiltered($event)"
  (select)="onSelect($event)"
  [(ngModel)]="selected"
  [hover]="2"
  [items]="displayedItems"
  [path]="'a.b'"
  [selected]="1"
>
  <ng-template let-index="index" let-isFirst="isFirst" let-isLast="isLast" let-isOdd="isOdd" let-item="item">
    <span>customized {{index}} - {{isFirst}} - {{isLast}} - {{isOdd}} - {{item | json }}</span>
  </ng-template>
</logo-autocomplete>

<div class="selected-container">
  <span class="label">Selected Item: </span>
  <span class="value">{{selected | json}}</span>
</div>

<h2>Multiple Autocomplete with Ghost input</h2>
<logo-autocomplete
  (filter)="onFiltered($event)"
  (select)="onSelect($event)"
  [(ngModel)]="selected"
  [hover]="2"
  [items]="displayedItems"
  [multiple]="true"
  [path]="'a.b'"
  [selected]="1"
  [isGhostInput]="true"
>
  <ng-template let-index="index" let-isFirst="isFirst" let-isLast="isLast" let-isOdd="isOdd" let-item="item">
    <span>customized {{index}} - {{isFirst}} - {{isLast}} - {{isOdd}} - {{item | json }}</span>
  </ng-template>
</logo-autocomplete>
