<div class="logo-cloud-theme" id="top">
  <logo-header
    [isMobilized]="true"
    [scrollSpy]="true"
    [watchElement]="'body'"
    [menuPosition]="'right'"
    [containerStatus]="false"
  >
    <div class="section-main">
      <logo-link [classes]="'ghost large'"
                 [url]="'/'"
      >
        Services
      </logo-link>
      <logo-link
        [external]="true"
        [classes]="'ghost large'"
        [url]="'http://wiki.logo.com.tr/pages/viewpage.action?pageId=65132817'"
      >
        Docs
      </logo-link>
      <logo-link
        [external]="true"
        [classes]="'ghost large'"
        [url]="'http://design.logo.com.tr'"
      >
        Guideline
      </logo-link>
      <logo-link
        [external]="true"
        [classes]="'ghost large'"
        [url]="'http://wiki.logo.com.tr/pages/viewrecentblogposts.action?key=PSDOC'"
      >
        Blog
      </logo-link>
    </div>
  </logo-header>
  <logo-cursor [timeDuration]="200" [targets]="['.cursor', '.arrow', 'svg']" *ngIf="false"></logo-cursor>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
