<logo-header></logo-header>
<section class="one" id="main">
  <div class="title-content col-lg-6 col-xs-12">
    <h1 class="title">Cloud Control <span class="for">Service</span></h1>
    <p class="description">
      Logo PaaS platformunda var olan Hesaplar (Tenant), Uygulamalar ve kullanıcılar arasında ki ilişkileri Çoklu hesap
      (multi-tenancy) operasyonları kapsamında yönetir.
    </p>
    <logo-link [classes]="['primary', 'large', 'get-started']" external="true"
               url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139691">KEŞFET
    </logo-link>
  </div>
  <div class="illustrations">
    <div class="computer"></div>
  </div>
  <div class="backgrounds"></div>
</section>
<section class="two">
  <h1>Kullanım Senaryoları</h1>
  <p>Uygulamaları nasıl kullanacağınızı keşfedin. İşinize değer katın!</p>
  <div class="boxes row">
    <div class="box col-xs-12 col-sm-6 col-lg-4" *ngFor="let box of boxes">
      <div class="icon"><img src="{{box.icon}}"/></div>
      <div class="description">{{box.description}}</div>
    </div>
  </div>
  <logo-link [classes]="['primary', 'large']" external="true"
             url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139691">DETAYLARI GÖRÜNTÜLE
  </logo-link>
  <div class="backgrounds">
    <div class="three-angle"></div>
    <div class="rectangle-01"></div>
    <div class="circle-01"></div>
    <div class="circle-02"></div>
  </div>
</section>
<section class="three">
  <div class="row">
    <div class="content col-xs-12 col-md-6">
      <h1>Özellikler</h1>
      <p class="description">Cloud Control Servisi Özelliklerine Gözatın. Servis Özellikleri Yakından Tanıyın!</p>
      <ul>
        <li>
          <h2>Segmentasyon Desteği</h2>
          <p>Uygulama tanımlarınızı farklı segmentlerde PAAS ortamında sunarak, her segment için farklı lisanslama
            yöntemlerini seçin.</p>
        </li>

        <li>
          <h2>Veri tabanı sunucularınızı yönetin</h2>
          <p>Veri tabanı sunucularınızı ve kapasitelerini tanımlayarak, kapasiteyi aşmayacak şekilde kullanılmasını
            sağlayın.</p>
        </li>

        <li>
          <h2>Uygulama Veritabanlarınız hazır gelsin</h2>
          <p>Dilerseniz uygun sunucu üzerine hesap için açacağınız veri tabanı ya da şeması hazırlansın ve siz sadece
            bağlantı cümlesini alarak işlemlerinize devam edin.</p>
        </li>

        <li>
          <h2>E-Posta Şablonları</h2>
          <p>Aktivasyon işlemleri için kullanılan E-Posta şablonlarını hesabınıza göre özelleştirin</p>
        </li>
      </ul>
    </div>
    <div class="image col-xs-12 col-md-6">
      <div class="backgrounds"></div>
    </div>
  </div>
</section>
<section class="four">
  <div class="row">
    <div class="image col-xs-12 col-md-6">
      <div class="backgrounds"></div>
    </div>
    <div class="content col-xs-12 col-md-6">
      <ul>
        <li>
          <h2>Swagger UI destekli API uçları</h2>
          <p>Desteklenen API uçlarına Swagger UI üzerinden kolayca ulaşın.</p>
        </li>
        <li>
          <h2>Dinamik Adresler ile Uygulamanızı Ölçeklenebilir Yapın</h2>
          <p>Bir Web Sunucusu üzerinde dilediğiniz sayıda hesaba hizmet verin, o sayı aştığında yeni sunucuya geçin.</p>
        </li>
        <li>
          <h2>Güvenli bilgi saklama</h2>
          <p>Kıymetli verileriniz veritabanında şifrelenmiş olarak saklansın.</p>
        </li>
        <li>
          <h2>Ölçeklenebilir yapı</h2>
          <p>Oturum bağımsız mimarisi ile Bulut Yönetim Servisini çoklayarak kullanabilirsiniz.</p>
        </li>
      </ul>
      <logo-link [classes]="['primary', 'large']" external="true"
                 url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139691">DETAYLARI GÖRÜNTÜLE
      </logo-link>
    </div>
  </div>
</section>
<section class="five">
  <div class="row opinions" *ngFor="let opinion of opinions">
    <aside class="user hidden-xs col-sm-12 col-md-3">
      <div class="circle"></div>
    </aside>
    <aside class="opinion col-xs-12 col-md-9">
      <h1>Kullanıcı Görüşleri</h1>
      <div class="description">
        <p>Türkiye'deki İşbaşı ve Hindistan'daki Vyapari uygulamalarımızda geliştirme sürecinin en başından bu yana IDM
          servislerini kullanmaktayız. Hem kullanıcı arayüzü hem de servis entegrasyon arayüzlerinin kolayca
          kullanılabilir olmasından memnunuz.</p>
        <p>Kullanıcı sayımızın artmasına rağmen performans ve güvenilirlik açısından beklentilerimizi fazlasıyla
          karşılaşmıştır.</p>
      </div>
      <div class="author">
        <div class="name">Ayhan İNAL</div>
        <div class="title">KOBİ Bulut Ürünleri Teknik Proje Yöneticisi</div>
      </div>
    </aside>
  </div>
</section>
<section class="six">
  <div class="row">
    <div class="list col-xs-12 col-lg-6">
      <h1>Core Servisler</h1>
      <div class="row">
        <ul class="col-xs-12 col-md-6">
          <li>Bulut Yönetim Servisi</li>
          <li>Ayarlar Servisi</li>
          <li>Yetkilendirme Servisi</li>
        </ul>
        <ul class="col-xs-12 col-md-6">
          <li>Menü Servis</li>
          <li>Yerelleştirme Servisi</li>
        </ul>
      </div>
      <div class="col-xs-6 button">
        <logo-link [classes]="['success', 'large']" external="true"
                   url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65132817">TÜMÜNÜ GÖRÜNTÜLE
        </logo-link>
      </div>
    </div>
    <div class="picture col-xs-12 col-lg-6">
      <div class="background"></div>
    </div>
  </div>
</section>
<logo-footer></logo-footer>
