<logo-header></logo-header>
<div class="intro">
  <img class="illu" src="./assets/images/services/rdf/rdf-intro-illu.png">
  <div class="left col-md-6 col-sm-12">
    <div class="title-content">
      <p class="g8 bold">PaaS platformu ile
        entegre ettiğiniz
      </p>
      <p class="g6 bold">servislerin sağlık durumlarını görün</p>
      <p class="large">
        PaaS platformu içerisindeki ve PaaS platformu ile entegre ettiğiniz servislerin sağlık durumlarını, birbirlerine
        olan bağımlılıklarını ve versiyonlarını görün ve takip edin.
      </p>
      <logo-link
        [classes]="['primary', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139826"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
</div>
<div class="usage col-md-12 col-sm-12">
  <div class="col-md-12 col-sm-12">
    <div class="usage-content">
      <h2 class="g8 bold">Kullanım Senaryoları</h2>
      <p class="large">
        Uygulamaları nasıl kullanacağınızı keşfedin. İşinize değer katın!
      </p>
      <div class="usage-cards">
        <img src="" alt="">
        <div class="first usage-card">
          <div class="usage-card-content">
            <img class="check" src="./assets/images/services/rdf/rdf-usage-check-1.svg">
            <p class="large">
              Veri kaynağı ve Önizleme uçlarını dilediğiniz sayıda tanımlayın, tasarım yaptıktan sonra önizleme adımıyla
              sonucu beklemeden görün.
            </p>
            <img src="./assets/images/services/ks/ks-usage-detay.svg">
          </div>
        </div>
        <div class="usage-card">
          <div class="usage-card-content">
            <img class="check" src="./assets/images/services/rdf/rdf-usage-check-1.svg">
            <p class="large">
              Veri kaynağı tanımlarınızı parametrik olarak (Kullanıcıya göre, Hesaba göre ) yapın
            </p>
            <img src="./assets/images/services/ks/ks-usage-detay.svg">
          </div>
        </div>
        <div class="usage-card">
          <div class="usage-card-content">
            <img class="check" src="./assets/images/services/rdf/rdf-usage-check-1.svg">
            <p class="large">
              Rapor şablonunuzda yanlış yapmaktan korkmayın, kaydetmeden önceki haline geri dönebilir, yaptığınız
              değişiklikleri tanımlı kısayolları kullanarak geri…
            </p>
            <img src="./assets/images/services/ks/ks-usage-detay.svg">
          </div>
        </div>
        <div class="usage-card">
          <div class="usage-card-content">
            <img class="check" src="./assets/images/services/rdf/rdf-usage-check-1.svg">
            <p class="large">
              Tasarm Şablonu üzerine koyduğunuz her alan için koşullar tanımlayarak istediğiniz sayfada görünmesini
              istemediğiniz sayfada görünmemesini sağlayın.
            </p>
            <img src="./assets/images/services/ks/ks-usage-detay.svg">
          </div>
        </div>
      </div>
      <logo-link
        [classes]="['success', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139826"
      >
        Detayları görüntüle
      </logo-link>
    </div>
  </div>
</div>
<div class="specs row">
  <div class="left col-md-6">
    <img src="./assets/images/services/rdf/rdf-specs-illu-1.png" alt="">
  </div>
  <div class="right col-md-6 col-sm-12">
    <div class="specs-content">
      <h2 class="g8 bold">Özellikler</h2>
      <ul>
        <li>
          <h2>Çoklu hesap (Multitenancy) desteği</h2>
          <p class="large">
            Çoklu hesap (Multitenancy) destekli ve kullanıcı özelinde veri kaynakları oluşturun. Veri kaynaklarını
            parametrik olarak hesap ve kullanıcı özelinde filtreleyin.
          </p>
        </li>
        <li>
          <h2>Sürükle bırak tasarım yapısı</h2>
          <p class="large">
            Raporlarınızı sürükle bırak yapısıyla hızlıca oluşturun.
          </p>
        </li>
        <li>
          <h2>Swagger üzerinden veri modelleme</h2>
          <p class="large">
            Tanımlayacağınız Rest Url lerinizden dönecek olan nesne yapısı swagger.json üzerinden otomatik olarak
            oluşturulsun.
          </p>
        </li>
        <li>
          <h2>Alan gruplama/gizleme/sıralama</h2>
          <p class="large">
            Son kullanıcı için alanlarınızı gruplayın, sıralayın ve dilediğiniz alanları son kullanıcının görmesini
            engelleyin.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="specs-2 row">
  <div class="left col-md-6">
    <div class="specs-content">
      <ul>
        <li>
          <h2>Ön tanımlı alanlar</h2>
          <p class="large">
            Ön tanımlı olarak gelecek metin, resim, hesaplanan alan gibi alanlar ile rapor tasarımlarınızı
            zenginleştirin.
          </p>
        </li>
        <li>
          <h2>Sayfa özellikleri</h2>
          <p class="large">
            Şablonlarınızı farklı boyuttaki sayfa tasarımlarına göre hazırlayın.
          </p>
        </li>
        <li>
          <h2>Dışarı / içeri aktar</h2>
          <p class="large">
            Tasarladığınız şablon tanımlarınızı dışarı aktara özelliği ile kayıt edebilir, daha sonra içeri aktar
            özelliğini kullanarak tekrar kullanmaya başlayın.
          </p>
        </li>
        <li>
          <h2>Kopyalama</h2>
          <p class="large">
            Kopyalama özelliği ile benzer tasarımlarınız için vakit kaybetmeyin, kopyalayınve kopya üzerinde değişiklik
            yaparak yeni tasarımlarınızı oluşturun.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="right col-md-6">
    <img class="img-fluid" src="./assets/images/services/rdf/rdf-specs-illu-2.png" alt="">
  </div>
</div>
<logo-user-review></logo-user-review>
<logo-core-services></logo-core-services>
<logo-header></logo-header>

