<div class="intro">
  <div class="left col-xs-12 col-sm-12 col-md-12 col-sm-12 col-lg-6">
    <div class="title-content">
      <p class="g8 bold">Rapor tasarlama servisi
      </p>
      <p class="large">
        uygulamanız bünyesinde kullanabileceğiniz tasarım şablonları hazırlayın. Kullanıcı ve hesap özelinde sizin
        sunacağınız servis uçlarından çoklu hesap (multi-tenancy) mimarisine uygun olarak verileriniz çekilsin.
        Raporlarınız pdf ya da html formatında oluşturulsun.
      </p>
      <logo-link
        [classes]="['primary', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65140494"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <img class="illu" src="./assets/images/services/rdf/rdf-intro-illu.png">
</div>
<div class="usage row">
  <section class="four">
    <h1>Kullanım Senaryoları</h1>
    <p>Uygulamaları nasıl kullanacağınızı keşfedin. İşinize değer katın!</p>
    <logo-carousel [count]="1" [arrow]="true" [dots]="true">
      <div class="slider-item" *ngFor="let item of sliderItems">
        <div class="icon-bg"
             [ngStyle]="{'-webkit-mask-image': 'url('+item.icon+')', 'mask-image': 'url('+item.icon+')'}"></div>
        <div class="abbr">{{item.abbr}}</div>
        <div class="description">{{item.description}}</div>
        <a class="go" href="{{item.url}}" [ngClass]="item.classes">→ detay</a>
      </div>
    </logo-carousel>
    <logo-link
      [classes]="['success', 'large', 'get-started']"
      external="true"
      url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65140494"
    >
      DETAYLARI GÖRÜNTÜLE
    </logo-link>
  </section>
</div>
<div class="specs row">
  <div class="left col-lg-6">
    <img src="./assets/images/services/rdf/rdf-specs-illu-1.png" alt="">
  </div>
  <div class="right col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="specs-content">
      <h2 class="g8 bold">Özellikler</h2>
      <ul>
        <li>
          <h2>Çoklu hesap (Multitenancy) desteği</h2>
          <p class="large">
            Çoklu hesap (Multitenancy) destekli ve kullanıcı özelinde veri kaynakları oluşturun. Veri kaynaklarını
            parametrik olarak hesap ve kullanıcı özelinde filtreleyin.
          </p>
        </li>
        <li>
          <h2>Sürükle bırak tasarım yapısı</h2>
          <p class="large">
            Raporlarınızı sürükle bırak yapısıyla hızlıca oluşturun.
          </p>
        </li>
        <li>
          <h2>Swagger üzerinden veri modelleme</h2>
          <p class="large">
            Tanımlayacağınız Rest Url lerinizden dönecek olan nesne yapısı swagger.json üzerinden otomatik olarak
            oluşturulsun.
          </p>
        </li>
        <li>
          <h2>Alan gruplama/gizleme/sıralama</h2>
          <p class="large">
            Son kullanıcı için alanlarınızı gruplayın, sıralayın ve dilediğiniz alanları son kullanıcının görmesini
            engelleyin.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="specs-2 row">
  <div class="left col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div class="specs-content">
      <ul>
        <li>
          <h2>Ön tanımlı alanlar</h2>
          <p class="large">
            Ön tanımlı olarak gelecek metin, resim, hesaplanan alan gibi alanlar ile rapor tasarımlarınızı
            zenginleştirin.
          </p>
        </li>
        <li>
          <h2>Sayfa özellikleri</h2>
          <p class="large">
            Şablonlarınızı farklı boyuttaki sayfa tasarımlarına göre hazırlayın.
          </p>
        </li>
        <li>
          <h2>Dışarı / içeri aktar</h2>
          <p class="large">
            Tasarladığınız şablon tanımlarınızı dışarı aktara özelliği ile kayıt edebilir, daha sonra içeri aktar
            özelliğini kullanarak tekrar kullanmaya başlayın.
          </p>
        </li>
        <li>
          <h2>Kopyalama</h2>
          <p class="large">
            Kopyalama özelliği ile benzer tasarımlarınız için vakit kaybetmeyin, kopyalayınve kopya üzerinde değişiklik
            yaparak yeni tasarımlarınızı oluşturun.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="right col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <img class="img-fluid" src="./assets/images/services/rdf/rdf-specs-illu-2.png">
  </div>
</div>
<logo-user-review></logo-user-review>
<logo-core-services></logo-core-services>
