<header>
  <nav>
    <button class="ghost large logo-i-menu-left-alt menu"></button>
    <a class="logo large" href="/#/"><span>Logo</span><span>PaaS</span></a>
    <logo-links [classes]="['light', 'large', 'ghost']" [links]="links">
      <!--logo-link [classes]="['light', 'large', 'ghost']" [url]="'./services/idm'">EXPLORE</logo-link-->
    </logo-links>
    <label class="search logo-add">
      <input type="text" placeholder="Search" class="large light" required/>
    </label>
  </nav>
</header>
