@import "~@logo-software/theme/base";

:host {
  @include larger-than(lg) {
    .intro {
      display: flex;
      height: 100vh;
      background-image: linear-gradient(179deg, #7f91fb 0%, #3542ce 90%);
      opacity: 0.81;

      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .title-content {
          align-self: center;
          margin-left: size(120px);

          p {
            color: var(--light);
          }

          logo-link {
            margin-top: size(50px);
          }
        }
      }

      div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .usage {
      display: flex;
      height: 100vh;

      .left {
        display: flex;
        justify-content: center;
        align-items: center;

        .usage-content {
          padding-left: size(113px);

          h2 {
            margin-top: size(15px);
          }

          .usage-card {
            background: #dadcf1;
            border-radius: size(11px);
            display: flex;
            margin-top: size(20px);
            padding: 0 size(20px);

            div {
              display: flex;
              justify-content: center;
              align-items: center;

              p {
                color: var(--light);
              }

              img {
                margin: size(45px) 0 size(45px) 0;
              }

              img:nth-child(1) {
                align-self: center;
              }
            }
          }

          .first {
            background-color: #5969e4;
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .specs {
      display: flex;
      height: 100vh;

      .left {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          left: size(-41px);
          max-width: 50% !important;
          height: auto;
        }
      }

      .right {
        display: flex;
        align-items: center;

        h2 {
          margin-top: size(19px);
        }

        ul {
          list-style-image: url("/assets/images/services/ks/ks-specs-check.png");

          li {
            margin-top: size(40px);

            p {
              margin-top: size(16px);
            }
          }
        }
      }
    }
  }

  @include smaller-than(lg) {
    .intro {
      display: flex;
      height: 100vh;
      background-image: linear-gradient(179deg, #7f91fb 0%, #3542ce 90%);
      opacity: 0.81;

      div:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        padding: size(25px);

        .title-content {
          align-self: center;

          p {
            color: var(--light);
          }

          logo-link {
            margin-top: size(50px);
          }
        }
      }

      div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          display: none;
        }
      }
    }

    .usage {
      display: flex;
      padding: size(25px);

      .left {
        display: flex;
        justify-content: center;
        align-items: center;

        .usage-content {
          display: flex;
          justify-content: center;
          align-items: baseline;
          flex-direction: column;

          h2 {
            margin-top: size(15px);
          }

          .usage-card {
            background: #dadcf1;
            border-radius: size(11px);
            display: flex;
            margin-top: size(20px);

            div {
              display: flex;
              justify-content: center;
              align-items: center;

              p {
                color: var(--neutral-900);
              }

              @include smaller-than(sm) {
                img {
                  transform: scale(0.6);
                  padding-left: size(20px);
                }
              }
            }
          }
        }
      }

      .right {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          display: none;
        }
      }
    }

    .specs {
      display: flex;

      .left {
        display: none;
        justify-content: center;
        align-items: center;

        img {
          position: absolute;
          left: size(-41px);
        }
      }

      .right {
        display: flex;
        align-items: center;
        padding: size(35px);

        h2 {
          margin-top: size(19px);
        }

        ul {
          list-style-image: url("/assets/images/services/ks/ks-specs-check.png");

          li {
            margin-top: size(40px);

            p {
              margin-top: size(16px);
            }
          }
        }
      }
    }
  }
}
