<section class="footer">
  <div class="quotes row" *ngFor="let quote of quotes">
    <h6 class="story medium col-xs-12">"{{quote.story}}"</h6>
    <div class="col-xs-12">
      <button class="ready dark large" [innerHTML]="quote.author"></button>
    </div>
  </div>
  <div class="footer-content row">
    <div class="company col-xs-12 col-md-6 col-lg-5">
      <h1 class="medium">Logo Yazılım</h1>
      <p>
        Kişisel bilgisayarlar için uygulama yazılımları geliştirmek üzere 1984 yılında sektöre giren Logo, Türkiye’nin
        en büyük yazılım kuruluşlarından biridir. Ürettiği çözüm, hizmet ve inovasyonlarla Türkiye’de yazılım sektörünün
        yenilikçi lideri konumuna gelmiştir.
      </p>
      <p>
        Sektördeki 35 yıllık geçmişinde sektörün önde gelen kurumlarından biri olan Logo Yazılım, Türkiye’de edindiği
        birikim ve tecrübeyi yurt dışına taşıma hedefiyle imza attığı stratejik yatırımların ardından bölgesel güç olma
        yolunda ilerliyor. Son 5 yılda gerçekleştirdiği yıllık ortalama %35 gelir artışıyla istikrarlı gelişimini
        sürdürüyor.
      </p>
    </div>
    <div class="links col-xs-12 col-md-6 col-lg-4 row">
      <div class="corporate col-xs-6">
        <a class="medium" href="{{link.url}}" *ngFor="let link of corporate">{{link.display}}</a>
      </div>
      <div class="legal col-xs-12">
        <a class="medium" href="{{link.url}}" *ngFor="let link of legal">{{link.display}}</a>
      </div>
    </div>
    <div class="social col-xs-12 col-md-12 col-lg-3">
      <a class="medium icon" href="{{link.url}}" *ngFor="let link of socials" [ngClass]="link.display">{{link.display}}</a>
    </div>
  </div>
  <footer class="row">
    <div class="copyright col-xs-12">
      <span class="year">Logo Software 2020, All rights reserved</span>
      <div>Created by Logo UX Team</div>
    </div>
  </footer>
</section>
