@import "~@logo-software/theme/base";

$header-size: size(80px);

:host {
  display: block;

  ul {
    list-style-image: url("/assets/images/services/check-blue.svg");

    li {
      margin-top: size(20px);
      padding-left: size(10px);
      font-weight: normal;
      font-size: size(20px);
      line-height: size(27px);

      h2 {
        font-weight: bold;
        font-size: size(20px);
      }

      p {
        font-size: size(16px);
      }

      &:last-child {
        list-style: none;
        margin-top: size(54px);
      }
    }
  }

  section.one {
    position: relative;
    background: linear-gradient(to bottom, white, #bcd0f3 100%);
    align-items: center;
    justify-content: flex-start;

    .container {
      display: flex;
      justify-content: center;

      div.title-content {
        position: relative;
        z-index: 2;
        max-width: size(645px);
        flex-direction: column;
        padding-top: size(84px);
        text-align: center;

        h1.title {
          font-family: get("font.alternative");
          font-weight: bold;
          flex-direction: column;
          pointer-events: none;
          color: var(--primary);
          font-size: size(40px);
          line-height: size(45px);

          .for {
            color: #707070;
          }
        }

        p.description {
          margin: size(25px) 0 size(40px) 0;
          font-size: size(20px);
          line-height: size(27px);
          text-align: center;
          color: #707070;
          pointer-events: none;
          font-weight: normal;
        }
      }
    }

    div.backgrounds {
      position: absolute;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: no-repeat url("/assets/images/services/ms/section-01-gears-background.svg") center bottom / 80%, no-repeat url("/assets/images/services/ms/section-01-illustration.svg") bottom 0 center, no-repeat url("/assets/images/services/ms/section-01-left-top.png") top 0 left / 258px 141px, no-repeat url("/assets/images/services/ms/section-01-right-bttom.png") bottom right / 117px 365px;

      @include smaller-than(md) {
        background: no-repeat url("/assets/images/services/ms/section-01-gears-background.svg") center bottom / 80%, no-repeat url("/assets/images/services/ms/section-01-illustration.svg") bottom 0 center / contain, no-repeat url("/assets/images/services/ms/section-01-left-top.png") top 0 left / 258px 141px, no-repeat url("/assets/images/services/ms/section-01-right-bttom.png") bottom right / 117px 365px;
      }
    }
  }

  section.two {
    position: relative;

    .row {
      @include smaller-than("md") {
        height: auto;
      }

      .content {
        color: #707070;
        flex-direction: column;
        padding-top: size(137px);
        padding-bottom: size(145px);

        @include larger-than("md") {
          padding-right: size(80px);
        }

        h1 {
          font-family: get("font.alternative");
          font-size: size(40px);
          font-weight: normal;
          line-height: size(45px);
          color: #707070;

          &::before {
            background: url("/assets/images/services/ms/section-02-clipboard.svg") no-repeat;
            content: "";
            width: size(50px);
            height: size(50px);
            display: block;
            margin-bottom: size(24px);
          }
        }

        p {
          font-size: size(30px);
          font-weight: normal;
          line-height: size(40px);
          color: #707070;
          padding-top: size(12px);
          padding-bottom: size(64px);
        }
      }
    }

    .image {
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background: #e1e9f7 no-repeat url("/assets/images/services/ms/section-02-illustration.png") right -240% center/90%;

      @include smaller-than("md") {
        position: relative;
        width: 100%;
        min-height: size(350px);
      }
    }
  }

  section.three {
    display: flex;
    position: relative;
    padding: 0;

    @include smaller-than("md") {
      flex-direction: column-reverse;
    }

    .image {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background: #e1e9f7 no-repeat url("/assets/images/services/ms/section-03-illustration.svg") center/80%;

      @include smaller-than("md") {
        position: relative;
        width: 100%;
        min-height: size(350px);
        background-size: 60%;
      }
    }

    .row {
      justify-content: flex-end;

      .content {
        color: #707070;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-top: size(210px);
        padding-bottom: size(159px);

        @include larger-than("md") {
          padding-left: size(80px);
        }

        button {
          margin-left: size(50px);
        }
      }
    }
  }

  section.four {
    background: no-repeat url("/assets/images/services/ms/section-04-photo.png") center/cover;
    padding-top: size(76px);
    padding-bottom: size(54px);

    h1 {
      font-weight: bold;
      line-height: size(52px);
      font-size: size(52px);
      text-align: center;
      color: var(--white);
    }

    p {
      color: var(--white);
      font-size: size(20px);
      text-align: center;
      margin-bottom: size(50px);
      font-weight: normal;
      line-height: size(28px);
    }

    logo-carousel {
      .slider-item {
        background-color: var(--white);
        box-shadow: 0 size(60px) size(60px) #6e6e6e46;
        border-radius: size(20px);
        box-sizing: border-box;
        backdrop-filter: blur(23px);
        color: var(--neutral-800);
        padding: size(30px) size(44px);
        min-width: size(264px);
        width: size(264px);
        margin-right: size(24px);
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        justify-content: flex-start;

        .icon-bg {
          width: size(42px);

          .icon {
            height: size(42px);
            background-color: #008fff;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            margin-bottom: size(20px);
          }
        }

        .abbr {
          font-weight: bold;
          font-size: size(20px);
        }

        .title {
          color: #89969f;
          font-size: size(12px);
          font-weight: bold;
          letter-spacing: size(0.2px);
        }

        .description {
          margin-top: size(20px);
          font-size: size(16px);
          font-weight: 300;
        }

        .go {
          display: block;

          .detail {
            font-size: size(12px);
            margin-top: size(20px);
          }
        }
      }

      ::ng-deep {
        .arrow-with-animation .slider-arrow {
          color: var(--white);

          --active: var(--white);
          --border: rgba(255, 255, 255, 0.12);
        }

        .dots {
          .dot {
            border-color: #ffffff;

            &::after {
              background-color: rgba(255, 255, 255, 0.6);
            }
          }
        }
      }
    }
  }
}
