html {
  display: flex;
  min-height: 100%;
  min-width: 100%;
  flex-direction: column;
  flex-grow: 1;
  -webkit-font-smoothing: antialiased;

  body {
    font-family: get("font.family");
    font-size: size(get("font.size"));
    color: var(#{get("font.color.name")}-#{get("font.color.value")});
    min-height: 100%;
    min-width: 100%;
    margin: 0;
  }

  :disabled {
    pointer-events: none;
    opacity: get("state.disabled.opacity");
  }
}

#{get("selector")} {
  font-family: get("font.family");
  font-size: size(get("font.size"));
}
