<h2>Single Combobox</h2>
<logo-combobox
  (select)="onSelect($event)"
  [(ngModel)]="selected"
  [hover]="2"
  [items]="displayedItems"
  [path]="'a.b'"
  [multiple]="false"
>
  <ng-template let-item="item" let-index="index" let-isOdd="isOdd" let-isFirst="isFirst" let-isLast="isLast">
    <span>customized {{index}} - {{isFirst}} - {{isLast}} - {{isOdd}} - {{item | json }}</span>
  </ng-template>
</logo-combobox>

<div class="selected-container">
  <span class="label">Selected Item: </span>
  <span class="value">{{selected | json}}</span>
</div>

<h2>Multiple Combobox</h2>
<logo-combobox
  (filter)="onFiltered($event)"
  (select)="onSelect($event)"
  [(ngModel)]="multi"
  [hover]="2"
  [items]="displayedItems"
  [multiple]="true"
  [path]="'a.b'"
>
  <ng-template let-index="index" let-isFirst="isFirst" let-isLast="isLast" let-isOdd="isOdd" let-item="item">
    <span>customized {{index}} - {{isFirst}} - {{isLast}} - {{isOdd}} - {{item | json }}</span>
  </ng-template>
</logo-combobox>

<div class="selected-container">
  <span class="label">Multi Selected Items: </span>
  <span class="value">{{multi | json}}</span>
</div>

