@import "~@logo-software/theme/base";

$header-size: size(80px);

:host {
  @include larger-than(lg) {
    .iu {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .intro {
        display: flex;
        height: 100vh;
        background-image: linear-gradient(0deg, #cad9f3 0%, #ffffff 100%);

        div:nth-child(1) {
          display: flex;
          justify-content: center;
          align-items: center;

          div.title-content {
            position: relative;
            z-index: 2;
            max-width: size(500px);
            display: flex;
            align-items: baseline;
            justify-content: center;
            flex-direction: column;
            padding: size(30px);

            p:nth-child(2) {
              color: var(--primary);
            }

            p.description {
              color: #707070;
              margin-bottom: size(20px);
            }
          }
        }

        div:nth-child(2) {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .usage {
      display: flex;
      position: relative;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      background: #e5edfa;

      .laptop {
        position: relative;
        align-self: center;
        justify-self: center;
        margin-top: size(210px);
        margin-bottom: size(80px);
      }

      .usage-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        align-self: center;
        z-index: 1;
        max-width: size(1260px);
        margin-right: size(50px);
        margin-left: size(50px);
        padding-top: size(40px);
        margin-top: size(-120px);
        padding-bottom: size(40px);
        border-radius: size(24px);
        background-color: #3abf7c;

        .card {
          display: flex;
          background-color: inherit;
          flex-direction: row;
          align-items: center;
          border: none;
          margin-top: size(20px);
          margin-right: size(73px);

          div:nth-child(1) {
            display: flex;
            justify-content: flex-end;
          }
        }

        h1, h4 {
          color: var(--light);
        }
      }
    }

    .specs {
      background: no-repeat url("/assets/images/services/rcfs/rcfs-specs-bg-2.png");
      background-size: cover;

      h1 {
        color: var(--white);
        font-size: size(45px);
        font-weight: lighter;
        text-align: center;
      }

      p {
        color: var(--white);
        font-size: size(20px);
        text-align: center;
        margin-bottom: 50px;
      }

      logo-carousel {
        .slider-item {
          background-color: var(--white);
          box-shadow: 0 60px 60px #6e6e6e46;
          border-radius: 20px;
          box-sizing: border-box;
          backdrop-filter: blur(23px);
          color: var(--neutral-800);
          padding: 30px 44px;
          min-width: 264px;
          width: 264px;
          margin-right: 24px;
          display: inline-block;
          vertical-align: top;
          white-space: normal;

          .icon-bg {
            width: size(42px);
            height: size(42px);
            background-color: #6259a7;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;

            .icon {
              position: relative;
              max-height: size(42px);
              max-width: size(42px);
              height: size(42px);
              margin-bottom: size(10px);
              filter: invert(43%) sepia(26%) saturate(1500%) hue-rotate(208deg) brightness(115%) contrast(200%);
              background-size: contain;

              &::after {
                content: "";
                background: url("/assets/images/services/idm/section-04-icon-background.svg") no-repeat;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }

          .abbr {
            font-weight: bold;
            font-size: size(20px);
          }

          .description {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 300;
          }

          .go {
            display: block;
            margin-top: size(20px);
          }
        }

        ::ng-deep {
          .arrow-with-animation .slider-arrow {
            color: var(--white);

            --active: var(--white);
            --border: rgba(255, 255, 255, 0.12);
          }

          .dots {
            .dot {
              border-color: #ffffff;

              &::after {
                background-color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
    }
  }

  @include smaller-than(lg) {
    .iu {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .intro {
        display: flex;
        height: 100vh;
        background-image: linear-gradient(0deg, #cad9f3 0%, #ffffff 100%);

        div:nth-child(1) {
          display: flex;
          justify-content: center;
          align-items: center;

          div.title-content {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: baseline;
            justify-content: center;
            flex-direction: column;
            padding: size(30px);

            p.g8 {
              font-size: size(26px);
              line-height: size(36px);
            }

            p.g7 {
              font-size: size(32px);
              line-height: size(36px);
            }

            p:nth-child(2) {
              color: var(--primary);
            }

            p.description {
              color: #707070;
              margin-bottom: size(20px);
            }
          }
        }

        div:nth-child(2) {
          display: none;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .usage {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100vh;
      background: #e5edfa;

      .usage-card {
        img {
          display: none;
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        z-index: 1;
        margin-right: size(50px);
        margin-left: size(50px);
        padding-top: size(40px);
        padding-bottom: size(40px);
        border-radius: size(24px);
        background-color: #3abf7c;

        .card {
          display: flex;
          background-color: inherit;
          flex-direction: row;
          align-items: center;
          border: none;
          margin-top: size(20px);
          margin-right: size(73px);

          div:nth-child(1) {
            display: flex;
            justify-content: flex-end;
          }
        }

        h1, h4 {
          color: var(--light);
        }
      }

      .laptop {
        display: none;
        margin-top: size(250px);
      }
    }

    .specs {
      background: no-repeat url("/assets/images/services/rcfs/rcfs-specs-bg-2.png");
      background-size: cover;

      h1 {
        color: var(--white);
        font-size: size(45px);
        font-weight: lighter;
        text-align: center;
      }

      p {
        color: var(--white);
        font-size: size(20px);
        text-align: center;
        margin-bottom: 50px;
      }

      logo-carousel {
        .slider-item {
          background-color: var(--white);
          box-shadow: 0 60px 60px #6e6e6e46;
          border-radius: 20px;
          box-sizing: border-box;
          backdrop-filter: blur(23px);
          color: var(--neutral-800);
          padding: 30px 44px;
          min-width: 264px;
          width: 264px;
          margin-right: 24px;
          display: inline-block;
          vertical-align: top;
          white-space: normal;

          .icon-bg {
            width: size(42px);
            height: size(42px);
            background-color: #6259a7;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;

            .icon {
              position: relative;
              max-height: size(42px);
              max-width: size(42px);
              height: size(42px);
              margin-bottom: size(10px);
              filter: invert(43%) sepia(26%) saturate(1500%) hue-rotate(208deg) brightness(115%) contrast(200%);
              background-size: contain;

              &::after {
                content: "";
                background: url("/assets/images/services/idm/section-04-icon-background.svg") no-repeat;
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }

          .abbr {
            font-weight: bold;
            font-size: size(20px);
          }

          .description {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 300;
          }

          .go {
            display: block;
            margin-top: size(20px);
          }
        }

        ::ng-deep {
          .arrow-with-animation .slider-arrow {
            color: var(--white);

            --active: var(--white);
            --border: rgba(255, 255, 255, 0.12);
          }

          .dots {
            .dot {
              border-color: #ffffff;

              &::after {
                background-color: rgba(255, 255, 255, 0.6);
              }
            }
          }
        }
      }
    }
  }
}
