<logo-header></logo-header>
<div class="iu">
  <div class="intro">
    <div class="col-md-6">
      <div class="title-content">
        <h1 class="title g8 bold">
          Yerelleştirme(Localization)
        </h1>
        <h1 class="title g7 bold">Ortak ve erişilebilir
          dil desteği
        </h1>
        <p class="description large">
          DbVersion servisinin amacı; LOGO ürünlerinin ve mikro servislerinin veritabanı şemalarını ve varsayılan
          kayıtlarını çok kullanıcılı bir şekilde yönetmek ve versiyonlamaktır. PostgreSql, MySql, SqlServer gibi
          veritabanlarını destekler.
        </p>
        <logo-link
          [classes]="['primary', 'large', 'get-started']"
          external="true"
          url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139826"
        >
          KEŞFET
        </logo-link>
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-fluid" src="./assets/images/services/ys/ys-intro-illu.png" alt="">
    </div>
  </div>
  <div class="usage-card">
    <div class="card">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <h1>Kullanım Senaryoları</h1>
      </div>
    </div>

    <div class="card">
      <div class="col-md-2">
        <img src="/assets/images/services/ys/ys-usage-icon.svg">
      </div>
      <div class="col-md-10">
        <h4>
          Uygulamanız çalışma anında yerelleştirme servisine erişebilir.
        </h4>
      </div>
    </div>
    <div class="card">
      <div class="col-md-2">
        <img src="/assets/images/services/ys/ys-usage-icon.svg">
      </div>
      <div class="col-md-10">
        <h4>
          Diğer bir seçenek ise, uygulamanızı build ederken gerekli kaynakları yerelleştirme servisinden toplu halde
          alarak alabilirsiniz. Böylece çalışma anında bu kaynakları almanıza gerek kalmaz ve uygulamanızı daha hızlı
          çalıştırma imkanınınz olur.
        </h4>
      </div>
    </div>
  </div>
  <div class="usage">
    <img class="img-fluid" src="./assets/images/services/ys/ys-usage-illu.png" alt="">
  </div>
</div>
<div class="specs row">
  <div class="specs-content col-md-12">
    <h1 class="large">
      Özellikler
    </h1>
    <p>
      Yerelleştirme servisi, ek bir kaynağı veya bir kaynak listesini sorgulamak için
      REST uçları sağlar.
    </p>
  </div>
  <div class="specs-card">
    <div class="col-md-3">
      <div class="card-content">
        <img src="/assets/images/services/ys/ys-specs-icon.svg">
        <h4 class="bold">
          Tek kaynak, kaynak Listesi veya toplu halde çekme
        </h4>
        <p>
          Yerelleştirme kaynaklaını ister tek tek, ister liste halinde isterseniz toplu olarak (zip dosyası şeklinde)
          alabilirsiniz.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-content">
        <img src="/assets/images/services/ys/ys-specs-icon.svg">
        <h4 class="bold">
          Java uygulamaları için client desteği
        </h4>
        <p>
          Java uygulamaları, java client ‘ını kullanarak Raporlama Servisine kolayca entegre olabilirler.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-content">
        <img src="/assets/images/services/ys/ys-specs-icon.svg">
        <h4 class="bold">
          Swagger UI destekli API uçları
        </h4>
        <p>
          Desteklenen API uçlarına Swagger UI üzerinden kolayca ulaşın.
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-content">
        <img src="/assets/images/services/ys/ys-specs-icon.svg">
        <h4 class="bold">
          Ölçeklenebilir yapı
        </h4>
        <p>
          Oturum bağımsız mimarisi ile Raporlama servisini çoklayarak kullanabilirsiniz.
        </p>
      </div>
    </div>
  </div>
  <div class="bottom col-md-12"></div>
</div>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
