/* You can add global styles to this file, and also import other style files */

$config: (
  grid:(
    status: true
  ),
  bootstrap:(status: false),
  extend-colors: true,
  customize: (status: true)
);

@import "~@logo-software/theme/style";
@import "~@logo-software/icons/style";

body {
  background-color: transparent !important;
  margin: 0;
  overflow-x: hidden;
}

:root .nb-theme-docs-page a {
  text-decoration: none;
}

[hidden] {
  display: none !important;
}
