<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12">
        <div class="title-content">
          <h1>İş çalıştırma servisi</h1>
          <p>
            Tüm LOGO uygulamaları ve servisleri için devamlı erişilebilir bir iş yürütme servisidir. REST tabanlı
            çalışan
            işleri desteklemektedir.
          </p>
          <logo-link
            [classes]="['primary large get-started']"
            external="true"
            url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331305"
          >
            KEŞFET
          </logo-link>
        </div>
      </div>
      <div class="right col-lg-7">
        <img class="illustration first" src="./assets/images/services/cs/cs-section1-bg2.png"/>
        <img class="illustration second" src="./assets/images/services/cs/cs-section1-slider.png"/>
      </div>
    </div>
  </div>
</section>
<section class="usage">
  <div class="container">
    <div class="row">
      <div class="absolute col-lg-6 col-xs-12">
        <img src="./assets/images/services/cs/cs-section2.png"/>
      </div>
      <div class="normal col-lg-6 col-xs-12">
        <h1>Kullanım Senaryoları</h1>
        <p>Çalışma moduna göre bir iş tanımının yapılması</p>
        <logo-link
          [classes]="['primary large get-started']"
          external="true"
          url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331305"
        >
          KEŞFET
        </logo-link>
        <img src="./assets/images/services/cs/cs-section2-bg.png" class="bg"/>
      </div>
    </div>
  </div>
</section>
<section class="usage second no-padding-bottom">
  <div class="container">
    <div class="row">
      <div class="normal col-md-6 col-xs-12">
        <h3>Özellikler</h3>
        <h1>Çalışma modu</h1>
        <p>İşlerinizi hemen, sadece bir kez veya belirli periodlarda çalıştırabilirsiniz.</p>
      </div>
      <div class="absolute col-md-6 col-xs-12">
        <img src="./assets/images/services/cs/cs-section3-phone.png"/>
      </div>
    </div>
  </div>
</section>
<logo-user-review
  quoteColor="#fff"
  imageUrl="./assets/images/services/mss/mss-rv-user.png"
  backgroundUrl="./assets/images/services/cs/cs-rv-bg.png"
>
</logo-user-review>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
