@import "~@logo-software/theme/base";

:host {
  ul {
    li {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-top: size(20px);
      padding-left: size(10px);

      &::before {
        background: url("/assets/images/services/check-with-green-bg.svg") no-repeat;
        content: "";
        width: 150px;
        height: 35px;
        position: absolute;
        left: -50px;
      }

      h2 {
        color: #666161;
        font-size: size(25px);
        line-height: size(28px);
        font-weight: bold;
      }

      p {
        font-size: size(20px);
        color: #666161;
        font-weight: normal;
        line-height: size(22px);
      }
    }
  }

  section.intro {
    display: flex;
    min-height: size(724px);
    position: relative;
    background: linear-gradient(179.21deg, #7f91fb 0.68%, #3542ce 89.07%);
    mix-blend-mode: normal;
    opacity: 0.85;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-weight: bold;
        font-size: size(60px);
        line-height: size(67px);
        letter-spacing: size(-0.75px);
        color: var(--white);
      }

      p {
        font-weight: normal;
        font-size: size(20px);
        line-height: size(27px);
        color: var(--white);
      }

      logo-link {
        margin-top: size(80px);
      }

      .right {
        top: 0;
        height: 100%;

        .illustration {
          position: absolute;
          bottom: 0;
        }

        @include smaller-than(lg) {
          display: none;
        }
      }
    }
  }

  section.usage {
    position: relative;
    padding: 45px 0;

    &.second {
      background-image: url("/assets/images/services/cs/cs-section3-bg.png");
      background-image: url("/assets/images/services/cs/cs-section3-bg.png"), linear-gradient(90deg, #f0f5ff 0%, #f0f5ff 50%, #83b9fb 50%, #83b9fb 100%);
      background-position: left bottom;
      background-repeat: no-repeat;
    }

    @include smaller-than(md) {
      &.second {
        background-image: none;
      }
    }

    &.no-padding-bottom {
      padding-bottom: 0;
    }

    div.absolute {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      img {
        width: 60%;
      }

      @include smaller-than(md) {
        padding-top: size(40px);
      }
    }

    div.normal {
      display: flex;
      justify-content: center;
      padding-top: size(40px);

      h1 {
        font-weight: bold;
        font-size: size(25px);
        line-height: size(45px);
        color: #707070;
      }

      p {
        font-weight: normal;
        font-size: size(40px);
        line-height: size(40px);
        color: #707070;
        margin: 0;
      }

      logo-link {
        margin-top: size(45px);
      }

      img {
        position: absolute;

        &.bg {
          position: absolute;
          bottom: 0;
          right: 0;
        }

        &.reverse {
          left: 0;
        }
      }
    }
  }
}
