<logo-header></logo-header>
<div class="intro">
  <div class="left col-md-6">
    <div class="title-content">
      <h1 class="title">İş çalıştırma servisi</h1>
      <p class="description">
        Tüm LOGO uygulamaları ve servisleri için devamlı erişilebilir bir iş yürütme servisidir. REST tabanlı çalışan
        işleri desteklemektedir.
      </p>
      <logo-link
        [classes]="['primary', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331305"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="right col-md-6">
    <img class="section-1-cloud" src="./assets/images/services/cs/cs-section1-bg2.png">
    <img class="section-1-slider" src="./assets/images/services/cs/cs-section1-slider.png">
  </div>
</div>
<div class="usage">
  <div class="left col-md-6 col-sm-12">
    <img src="./assets/images/services/cs/cs-section2.png">
  </div>
  <div class="right col-md-6 col-sm-12">
    <img class="section-2-bg" src="./assets/images/services/cs/cs-section2-bg.png">
    <div class="usage-content">
      <p class="usage-title">Kullanım Senaryoları</p>
      <p class="usage-description">Çalışma moduna göre bir iş tanımının yapılması</p>
    </div>
    <logo-link
      [classes]="['primary', 'large', 'get-started']"
      external="true"
      url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=68331305"
    >
      KEŞFET
    </logo-link>
  </div>
</div>
<div class="specs">
  <div class="left col-md-6">
    <div class="specs-content">
      <p class="specs-title">
        Özellikler
      </p>
      <p class="specs-title-2">
        Çalışma modu
      </p>
      <p class="specs-description">
        İşlerinizi hemen, sadece bir kez veya belirli periodlarda çalıştırabilirsiniz.
      </p>
    </div>
    <img class="section-3-bg" src="./assets/images/services/cs/cs-section3-bg.png">
  </div>
  <div class="right col-md-6">
    <img class="section-3-phone" src="./assets/images/services/cs/cs-section3-phone.png">
  </div>
</div>
<logo-user-review quoteColor="#fff" backgroundUrl="./assets/images/services/cs/cs-rv-bg.png"></logo-user-review>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
