<div class="logo-cloud-theme">
  <logo-header
    [containerStatus]="true"
    [defaultTheme]="headerTheme.START"
    [isMobilized]="true"
    [menuPosition]="'left'"
    [scrollPoint]="75"
    [scrollSpy]="true"
    [scrolledTheme]="headerTheme.SCROLL"
    [watchElement]="'body'"
  >
    <div class="section-main">
      <logo-link [classes]="'ghost large'" [url]="'/products'">Ürünler</logo-link>
      <logo-link [classes]="'ghost large'" [fragment]="'solutions'" [url]="'/'">
        Çözümler
      </logo-link>
      <logo-link [classes]="'ghost large'" [url]="'/info/about'">Hakkımızda</logo-link>
      <logo-link [classes]="'ghost large'" [url]="'/blog'">Blog</logo-link>
      <logo-link [classes]="'ghost large'" [url]="'/contact'">İletişim</logo-link>
      <logo-link [classes]="'ghost large'" [url]="'/path-to-search'">Ara</logo-link>
    </div>
    <div class="section-secondary">
      <logo-link (click)="login()" *ngIf="!idmService.isLogged" [classes]="'success large'" [url]="'/to-login'">Giriş
        Yap
      </logo-link>
      <div *ngIf="idmService.isLogged" class="user-base">
        <div class="user-image">
          <img onerror="this.src='/assets/img/default-user.png';" src="{{userService.user.UserImage}}">
        </div>
        <div class="user-info">
          <p>{{userService.user.Name}} {{userService.user.Surname}}</p>
          <div class="select-tanent">
            <logo-link [classes]="'ghost small secondary icon-right le-arrow_down'">Tenant Seç</logo-link>
          </div>
        </div>
        <div class="opts">
          <logo-link (click)="logout()" [classes]="'ghost secondary le-logout logout-btn'" [url]="'/'"></logo-link>
        </div>
      </div>
    </div>
  </logo-header>
  <div class="cloud-content">
    <router-outlet></router-outlet>
  </div>
</div>
