<div class="logo-cloud-theme">
  <logo-header
    [containerStatus]="true"
    [defaultTheme]="headerTheme.START"
    [isMobilized]="true"
    [menuPosition]="'left'"
    [scrolledTheme]="headerTheme.SCROLL"
    [scrollPoint]="75"
    [scrollSpy]="true"
    [watchElement]="'body'"
  >
    <div class="section-main">
      <logo-link [classes]="'ghost large'" [url]="'/products'">Ürünler</logo-link>
      <logo-link [classes]="'ghost large'" [fragment]="'solutions'">
        Çözümler
      </logo-link>
      <logo-link [classes]="'ghost large'" [url]="'/about'">Hakkımızda</logo-link>
      <logo-link [classes]="'ghost large'" [url]="'/blog'">Blog</logo-link>
      <logo-link [classes]="'ghost large'" [url]="'/contact'">İletişim</logo-link>
      <logo-link [classes]="'ghost large'" [url]="'/path-to-search'">Ara</logo-link>
    </div>
    <div class="section-secondary">
      <logo-link [classes]="'success large'" [url]="'/to-login'">Giriş Yap</logo-link>
    </div>
  </logo-header>
  <div class="cloud-content">
    <router-outlet></router-outlet>
  </div>
</div>
