<div class="logo-cloud-theme">
  <logo-header
    [containerStatus]="true"
    [defaultTheme]="headerTheme.START"
    [isMobilized]="true"
    [menuPosition]="'left'"
    [scrolledTheme]="headerTheme.SCROLL"
  >
    <div class="section-main">
      <logo-link [classes]="'ghost large'" [url]="'/products'">Ürünler</logo-link>
      <logo-link
        (onHover)="toggleHoverMenu($event, solutionsMenu)"
        (onLeave)="toggleHoverMenu($event, solutionsMenu)"
        [classes]="'ghost large'"
      >
        Çözümler
      </logo-link>
      <logo-link [classes]="'ghost large'" [url]="'/blog'">Blog</logo-link>
      <logo-link [classes]="'ghost large'" [url]="'/contact'">İletişim</logo-link>
      <logo-link [classes]="'ghost large icon-left le-search'" [onClick]="toggleSearch()">Ara</logo-link>
      <div #solutionsMenu class="hover-menu">
        <logo-link [classes]="'ghost large icon-left le-home'">Muhasebe Yönetimi</logo-link>
      </div>
    </div>
    <div class="section-secondary">
      <logo-link [classes]="'success outline large'" [url]="'/to-what'">Ücretsiz Dene</logo-link>
      <logo-link [classes]="'success large'" [url]="'/to-login'">Giriş Yap</logo-link>
    </div>
  </logo-header>
  <div class="cloud-content">
    <router-outlet></router-outlet>
  </div>
</div>
