:host {
  .content {
    display : flex;
    justify-content : center;
    align-items: center;
  }
  .settings {
    display: flex;
    flex-direction: column;
  }
  label {
    text-transform:capitalize;
  }
}
