<div class="home-page">
  <logo-hero [containerStatus]="true" [cssClasses]="'hero-main'">
    <div class="motto">
      <h1><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit</b></h1>
      <p class="large">
        Maecenas tellus orci, consequat sollicitudin quam at, egestas tincidunt mauris. Pellentesque id lorem lacus.
        Vestibulum viverra eleifend elit.
      </p>
      <span class="cta">
        <logo-link [classes]="'primary large'" [url]="'/products'">
          Ürünleri İncele
        </logo-link>
      </span>
    </div>
    <div class="gfx">
      <img src="/assets/img/main-hero.png"/>
    </div>
  </logo-hero>
  <div class="section" id="solutions">
    <div class="solutions container">
      <span class="title">
        <h1><b>Logo Cloud Çözümleri</b></h1>
        <p>Bulut tabanlı SaaS ürünleri ile ihtiyacınız olan çözümlere hızlı ulaşın !</p>
      </span>
      <div class="section-content">
        <logo-carousel *ngIf="solutionSummaries" [arrow]="true" [count]="1" [dots]="false">
          <div *ngFor="let solutionItem of solutionSummaries" class="slider-item">
            <logo-card [cssClasses]="'solution-item'">
              <span class="card-icon">
                <span *ngIf="solutionItem.iconCss" class="icon le-{{solutionItem.iconcss}}"></span>
                <img *ngIf="solutionItem.icon" src="{{solutionItem.icon}}"/>
              </span>
              <div class="card-title">
                <h3>{{solutionItem.name}}</h3>
              </div>
              <div class="card-desc">
                <p class="large">
                  {{solutionItem.description}}
                </p>
              </div>
              <div class="card-cta">
                <logo-link
                  [classes]="'primary icon-left large le-search'"
                  [url]="'/solutions/'+solutionItem.slug"
                >
                  İncele
                </logo-link>
              </div>
            </logo-card>
          </div>
        </logo-carousel>
      </div>
    </div>
  </div>
  <div class="section alternate">
    <div class="product-finder container">
      <span class="title">
        <h1><b>İhtiyacınıza En Uygun Ürünü Bulun</b></h1>
        <p>
          İşletmeniz için en uygun çözümü bulmak çok kolay! Sadece 2 dakikanızı ayırarak soruları cevaplayın, size ihtiyacınız olan çözümü söyleyelim.
        </p>
      </span>
      <div class="section-content">
        @TODO Product Finder
      </div>
    </div>
  </div>
  <div class="section">
    <div class="cloud-meta container">
      <span class="title">
        <h2><b>Logo Cloud ürünleri kullanmak için birçok sebebiniz var!</b></h2>
        <p>
          SaaS ürünleri, internet üzerinden bulut tabanlı uygulamalara erişim ve kullanım olanağı sağlayan hizmet yazılımlarıdır.
        </p>
      </span>
      <div class="section-content list">
        <div class="item">
          <span class="icon-base">
            <span class="le-download"></span>
          </span>
          <span class="text-base">
            <h3>Bulut Tabanlı Çözümler</h3>
            <p class="large">
              Herhangi bir donanım, kurulum ya da sistem maliyeti olmadan ihityacınız olan çözümleri kullanın.
            </p>
          </span>
        </div>
        <div class="item">
          <span class="icon-base">
            <span class="le-credit_card_check"></span>
          </span>
          <span class="text-base">
            <h3>Satın Alma Kolaylığı</h3>
            <p class="large">
              Sektörünüze, firma büyüklüğünüze ve iş hedeflerinize göre en uygun paketi satın alın.
            </p>
          </span>
        </div>
        <div class="item">
          <span class="icon-base">
            <span class="le-component_button"></span>
          </span>
          <span class="text-base">
            <h3>Her Yerden Erişim</h3>
            <p class="large">
              İnternet erişiminizin olduğu her yerden, hızlı ve kolayca işlemlerinizi tamamlayın.
            </p>
          </span>
        </div>
        <div class="item">
          <span class="icon-base">
            <span class="le-check_badge"></span>
          </span>
          <span class="text-base">
            <h3>Otomatik Versiyon Geçişi</h3>
            <p class="large">
              Değişen yasal mevzutlar için herhangi bir ücret ödemeden hızlı versiyon geçişinden faydalanın.
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="section alternate">
    <div class="testimonial">
      <div class="section-content">
        <logo-carousel *ngIf="testimonials" [arrow]="true" [count]="1" [dots]="false">
          <div *ngFor="let testimonial of testimonials" class="slider-item">
            <div class="container">
              <span class="image">
                <img onerror="this.src='/assets/img/default-user.png';" src="{{testimonial.author.image}}"/>
              </span>
              <span class="name"><h3>{{testimonial.author.name}} {{testimonial.author.surname}}
                - {{testimonial.author.companyName}}</h3></span>
              <span class="title"><h5>{{testimonial.author.title}}</h5></span>
              <span class="feedback-title">
                <h4 class="small">{{testimonial.title}}</h4>
              </span>
              <span class="feedback-desc">
                <p class="large">{{testimonial.description}}</p>
              </span>
            </div>
          </div>
        </logo-carousel>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="product-suggestion container">
      <span class="title">
        <h2><b>Ürünlerimizi Tanıyın!</b></h2>
        <p>
          Logo Cloud ürünler arasında ihtiyacınıza en uygun paket seçeneklerini inceleyin.
        </p>
      </span>
      <div class="section-content">
        <logo-carousel *ngIf="productSummaries" [arrow]="true" [count]="1" [dots]="false">
          <div *ngFor="let productItem of productSummaries" class="slider-item">
            <logo-product-item [productData]="productItem"></logo-product-item>
          </div>
        </logo-carousel>
        <div class="content-buttons">
          <logo-link [classes]="'primary large outline'" [url]="'/products'">Tüm Ürünler</logo-link>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="faq container">
      <span class="title">
        <h2><b>Sıkça Sorulan Sorular</b></h2>
      </span>
      <div class="section-content">
        <logo-accordion [iconClasses]="" [items]="faqs" [start]="0"></logo-accordion>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="blog-summary container">
      <span class="title">
        <h2><b>Blog</b></h2>
      </span>
      <div class="section-content">
        <div *ngIf="blogSummaries" class="blog-summary-base">
          <div *ngFor="let blogItem of blogSummaries" class="blog-item">
            <div class="image">
              <img src="{{blogItem.image}}">
            </div>
            <div class="infos">
              <div class="tags">
                <span *ngFor="let badge of blogItem.tags" class="badge">
                  {{badge.name}}
                </span>
              </div>
              <div class="content">
                <h5>{{blogItem.title}}</h5>
                <p>{{blogItem.description}}</p>
              </div>
              <div class="date">
                <span class="le-calendar"></span>
                <p>{{blogItem.date.publish}}</p>
              </div>
            </div>
          </div>
        </div>
        <logo-paging
          *ngIf="blogData"
          [pageSize]="3"
          [recordsFound]="' adet içerik bulundu.'"
          [threshold]="5"
          [totalCount]="blogData.count"
        >
        </logo-paging>
      </div>
    </div>
  </div>
</div>
<logo-cloud-footer></logo-cloud-footer>
