<div class="home-page">
  <logo-hero [containerStatus]="true" [cssClasses]="'hero-main'">
    Logo.Cloud Main Page hero will be here
  </logo-hero>
  <div class="section">
    <div class="solutions container">
      <span class="title">
        <h1>Logo Cloud Çözümleri</h1>
        <p>Bulut tabanlı SaaS ürünleri ile ihtiyacınız olan çözümlere hızlı ulaşın !</p>
      </span>
      <logo-carousel [arrow]="false" [count]="1" [dots]="true">
        <div class="slider-item">
          Slider Item
        </div>
      </logo-carousel>
    </div>
  </div>
</div>

