<logo-header></logo-header>
<div class="intro">
  <div class="col-md-6">
    <div class="title-content">
      <p class="g6 bold">Keşif Servisi</p>
      <p class="large">
        PAAS ortamında çalışan tüm LOGO uygulamalarına ve mikro servislerine hizmet veren bir servis kayıt ve keşif
        sunucusudur. PAAS'ta çalışan uygulamalar / servisler kendilerini Keşif servisine kaydeder ve Keşif servisini
        sorgulayarak diğer servisleri keşfeder.
      </p>
      <logo-link
        [classes]="['light', 'large', 'get-started']"
        external="true"
        url="http://wiki.logo.com.tr/pages/viewpage.action?pageId=65139826"
      >
        KEŞFET
      </logo-link>
    </div>
  </div>
  <div class="col-md-6">
    <img src="./assets/images/services/ks/ks-intro-lllu.png">
  </div>
</div>
<div class="usage">
  <div class="left col-md-6 col-sm-12">
    <div class="usage-content">
      <img class="right" src="./assets/images/services/ks/ks-usage-icon.png">
      <h2 class="g8 bold">Kullanım Senaryoları</h2>
      <p class="large">
        Keşif servisi statik bir adresten erişilebilir olmalıdır. Bu adres diğer servislere bir
        yapılandırma parametresi olarak verilir.
      </p>
      <div class="first usage-card">
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-check-1.svg">
        </div>
        <div class="col-md-8">
          <p class="large">
            Keşif servisine kaydolan her farklı uygulama bir yada daha fazla yerde çalışıyor olabilir ve Keşif Servisi
            açısından hepsi aynı uygulamayı ifade eder
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-check-2.svg">
        </div>
        <div class="col-md-8">
          <p class="large">
            Keşif servisine kaydolan her farklı uygulama bir yada daha fazla yerde çalışıyor olabilir ve Keşif Servisi
            açısından hepsi aynı uygulamayı ifade eder
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
      <div class="usage-card">
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-check-2.svg">
        </div>
        <div class="col-md-8 col-sm-12">
          <p class="large">
            Keşif servisine kaydolan her farklı uygulama bir yada daha fazla yerde çalışıyor olabilir ve Keşif Servisi
            açısından hepsi aynı uygulamayı ifade eder
          </p>
        </div>
        <div class="col-md-2">
          <img src="./assets/images/services/ks/ks-usage-detay.svg">
        </div>
      </div>
    </div>
  </div>
  <div class="right col-md-6 col-sm-12">
    <img src="./assets/images/services/ks/ks-usage-illu.png">
  </div>
</div>
<div class="specs">
  <div class="left col-md-6 col-sm-12">
    <img src="./assets/images/services/ks/ks-specs-illu.png">
  </div>
  <div class="right col-md-6 col-sm-12">
    <div class="specs-content">
      <img src="./assets/images/services/ks/ks-specs-icon.png">
      <h2 class="g8 bold">Özellikler</h2>
      <ul>
        <li>
          <h2>Kolay kurulum</h2>
          <p class="large">
            Swagger UI desteği sayesinde servis API uçları üzerinden diagnose verilerine kolayca erişin.
          </p>
        </li>
        <li>
          <h2>Yük kaldırabilme özelliği</h2>
          <p class="large">
            Diff alma özelliği sayesinde, Keşif servisi aynı anda yüzlerce uygulamaya hizmet verebilecek bir altyapıya
            sahiptir.
          </p>
        </li>
        <li>
          <h2>Teknolojik bağımsızlık</h2>
          <p class="large">
            Kendisi Java ile yazılmış olmakla birlikte, sağladığı REST API’ler sayesinde farklı dillerde yazılmış
            uygulamalar tarafından da kullanılabilir. Zaten farklı diller için gelişitirilmiş client API’leri de
            mevcuttur.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<logo-core-services></logo-core-services>
<logo-footer></logo-footer>
